{% liquid
  assign show_rounded_image = false
  if settings.edges_type == 'rounded_corners'
    assign show_rounded_image = true
  endif
%}
<div x-data="xProductFrequently('{{ section.id }}',{% if settings.currency_code_enable %}'{{ shop.money_with_currency_format | escape  }}'{% else %}'{{ shop.money_format | escape }}'{% endif %})">
  <button :disabled="loading" {% if block.settings.list_products != blank %}@click="openPopup($el)"{% endif %} class="flex justify-between w-full items-center{% if block.settings.list_products != blank %} cursor-pointer{% else %} cursor-not-allowed{% endif %}">
    <div class="flex items-center">
      {% if block.settings.icon != 'none' %}
        <span class="inline-block relative min-w-[24px] h-6 w-6 mr-2 rtl:ml-2 rtl:mr-0">
          {% if block.settings.custom_image != blank %}
            <img 
              src="{{ block.settings.custom_image | image_url: width: section.settings.icon_size }}"
              alt="{{ block.settings.custom_image.alt | escape }}"
              loading="lazy"
              width="{{ block.settings.custom_image.width }}"
              height="{{ block.settings.custom_image.height }}"
              style="object-position: {{ block.settings.custom_image.presentation.focal_point }}"
              class="object-cover absolute top-0 left-0 w-full h-full"
            >
          {% else %}
            {% if block.settings.custom_icon == blank %}
              {% render 'icon-labels-bags', icon: block.settings.icon %}
            {% else %}
              {{ block.settings.custom_icon }}
            {% endif %}
          {% endif %}
        </span>
      {% endif %}
      {% if block.settings.text != blank %}
        <span class="text-[110%] text-left rtl:text-right">{{ block.settings.text | escape }}</span>
      {% endif %}
    </div>
    {% if block.settings.list_products != blank %}
      <div class="text-[rgba(var(--colors-text-link))] ml-2 rtl:mr-2 rtl:ml-0">
        <span :class="JSON.parse(JSON.stringify(productsList)).length > 0 ? 'hidden': 'block'">{{ 'products.product.add' | t }}</span>
        <span x-cloak :class="JSON.parse(JSON.stringify(productsList)).length > 0 ? 'block': 'hidden'">{{ 'products.product.edit' | t }}</span>
      </div>
    {% endif %}
  </button>
  {% if block.settings.list_products != blank %}
    <div class="list-items">
      <div x-cloak :class="JSON.parse(JSON.stringify(productsList)).length > 0 ? 'block': 'hidden'">
        <div class="md:mt-5" :class="JSON.parse(JSON.stringify(productsList)).length > 0 && 'mt-5'">
          <div class="w-full overflow-hidden">
            <div class="w-full mb-5{% unless block.settings.show_background %} pr-7 pl-7 border border-solid{% endunless %}">
              <template x-for="(item,index) in Object.values(productsList)" :key="index">
                <div 
                  class="w-full flex bundler-product relative gap-4 pt-5 pb-5{% if block.settings.show_background %} bg-[rgba(var(--colors-background-secondary))] mt-1.5 mb-1.5 pl-5 pr-5{% if show_rounded_image %} rounded-[10px]{% endif %}{% else %} border-b border-solid last:border-b-0{% endif %}"
                  x-data="{ 
                    item: JSON.parse(JSON.stringify(item))
                  }"
                >
                  <div class="bundler-product-image min-w-[84px] w-[84px] h-[84px] relative">
                    <a x-bind:href="item.productUrl" class="block disable-effect w-full">
                      <div class="relative w-full overflow-hidden float-left before:h-0 before:block before:pb-[100.0%]{% if show_rounded_image %} rounded-md{% endif %}">
                        <img
                          x-show="item.featured_image"
                          class="absolute top-0 right-0 left-0 bottom-0 object-cover h-full w-full image-hover" 
                          x-bind:src="`${ item.featured_image }`"
                          loading="lazy" 
                          width="150"
                          height="150"
                        >
                        <div class="bg-[#c9c9c9] absolute top-0 left-0 w-full h-full" x-show="!item.featured_image">{%- render 'icon-placeholder', icon: 'icon-product', class: 'w-full h-full' %}</div>
                      </div>
                    </a>
                  </div>
                  <div class="flex justify-between w-full gap-2">
                    <div>
                      <a x-bind:href="item.productUrl" class="text-[rgba(var(--colors-heading))] text-[120%] mr-0 duration-200 transition disable-effect hover-text-link p-break-words" x-text="item.product_name">
                      </a>
                      <p class="text-[rgba(var(--colors-text))] mt-1 opacity-70" x-show="item.title" x-text="item.title"></p>
                      <p class="text-[rgba(var(--colors-text))] mt-1 opacity-70">x<span x-text="item.quantity"></span></p>
                    </div>
                    <button class="cursor-pointer h-fit" @click="removeItem($el, index)">
                      <span class="block">{{ 'products.product.remove' | t }}</span>
                    </button>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div>
          <button
            class="button-atc button button-solid block w-full pl-7 pr-7 pt-3 pb-3 disabled:cursor-not-allowed disabled:opacity-60"
            @click="handleAddToCart($el)"
          >
            {% assign button_label = 'products.product.add_selected_to_cart' | t %}
            <span :class="{ 'lg:block opacity-0 is-focus-button' : loading }">
              <span class="flex items-center justify-center">
                {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
              </span>
            </span>

            <div class="lg:inline-block animate-spin w-4 h-4 md:w-5 md:h-5 absolute top-[calc(50%-8px)] left-[calc(50%-8px)] md:top-[calc(50%-10px)] md:left-[calc(50%-10px)]" x-show="loading" x-cloak>
              {% render 'icon-alls', icon: 'icon-loading' %}
            </div>
          </button>
        </div>
        <div class="flex relative w-full mt-2 pt-3 pb-3 pr-3.5 pl-3.5 bg-[rgba(var(--color-error),0.2)]{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}" x-cloak x-show="errorMessage">
          <span class="absolute left-3.5 rtl:left-auto rtl:right-3.5 top-1/2 -translate-y-1/2 w-3">{% render 'icon-alls', icon: 'icon-error' %}</span>
          <span class="cart-warning text-small pl-5 rtl:pl-0 rtl:pr-5"></span>
        </div>
      </div>
    </div>
  {% endif %}
  {% if block.settings.list_products != blank %}
    <template x-teleport="#popup-fbt-{{ section.id }}">
      <div x-show="show" class="fixed z-50 left-0 top-0 right-0 bottom-0 bg-[#acacac] bg-opacity-30 flex justify-end" x-cloak>
        <div class="h-full w-full md:w-[700px] flex flex-col justify-between relative bg-[rgba(var(--background-color))]" x-show="show" @click.away="closePopup($el)" x-cloak
          x-transition:enter="transition-all ease-in-out duration-300"
          x-transition:enter-start="opacity-0 transform translate-y-1/3{% if settings.lang_direction contains request.locale.iso_code %} md:-translate-x-1/3{% else %} md:translate-x-1/3{% endif %} md:translate-y-0"
          x-transition:enter-end="opacity-100 transform translate-y-0 md:translate-x-0 md:translate-y-0"
          x-transition:leave="transition-all ease-in-out duration-300"
          x-transition:leave-end="opacity-0 transform translate-y-1/3{% if settings.lang_direction contains request.locale.iso_code %} md:-translate-x-1/3{% else %} md:translate-x-1/3{% endif %} md:translate-y-0"
          >
          <div class="ml-4 mr-4 md:ml-10 md:mr-10 pt-8 pb-6 md:pt-10 md:pb-6 flex items-center justify-between">
            <p class="text-[150%] leading-tight p-break-words">{{ block.settings.text | escape }}</p>
            <button class="min-w-[16px] h-4 w-4 ml-2 rtl:ml-0 rtl:mr-2 cursor-pointer" @click.prevent="closePopup($el); $store.xModal.removeFocus();">
              {% render 'icon-alls', icon: 'icon-close' %}
            </button>
          </div>
          <div class="ml-4 rtl:ml-0 rtl:pl-4 pr-4 md:ml-10 md:pr-10 rtl:md:ml-0 rtl:md:pl-10 grid grid-cols-2 gap-1 overflow-y-auto scrollbar-body" role="list">
            {%- for prod in block.settings.list_products -%}
              {% if prod.available %}
                {% assign product_form_id = block.id | append: prod.id  %}
                {% assign section_id = section.id | append: block.id | append: prod.id  %}
                {% render 'card-product-frequently',
                  card_product: prod,
                  product_form_id: product_form_id,
                  picker_type: block.settings.variant_type,
                  section_id: section_id,
                  index: forloop.index
                %}
              {% endif %}
            {%- endfor -%}
          </div>
          <div class="ml-4 mr-4 md:ml-10 md:mr-10 mb-8">
            <div>
              <button @click="addToList($el)" :disabled="!isSelectItems" 
                class="w-full disable-effect flex justify-center button button-solid empty:hidden p-break-words leading-normal text-center mt-2 lg:ml-0 lg:mr-0 h-full pl-4 pr-4 lg:pl-7 lg:pr-7 pt-2.5 pb-2.5 md:pt-3 md:pb-3 disabled:cursor-not-allowed disabled:opacity-70">
                {% render 'button-label', show_button_style: 'primary', button_select_fbt: true %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>
  {% endif %}
  {% liquid
    assign section_id = section.id | append: block.id | append: product.id 
    assign product_form_id = 'product-form-' | append: section_id
  %}
  <div class="hidden card-product-fbt-clone" id="x-product-template-{{ product.id }}-{{ section_id }}">
    {% if settings.enable_combined %}
      {% render 'card-product-frequently',
        card_product: product,
        product_form_id: product_form_id,
        picker_type: block.settings.variant_type,
        section_id: section_id
      %}
    {% else %}
      {%- unless settings.hide_cart -%}
        {%- form 'product', product, id: product_form_id, class: 'form h-full', novalidate: 'novalidate', data-type: 'add-to-cart-form', x-ref: 'product_form' -%}
          <button 
            type="submit"
            name="add"
            id="x-atc-button-{{ section_id }}"
            class="button add_to_cart_button x-atb-button w-full button-outline text-center inline-block border empty:hidden pl-6 pr-6 pt-2.5 pb-2.5 md:pt-3 md:pb-3 mt-2.5 leading-normal disabled:cursor-not-allowed disabled:opacity-60"
            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
            <span class="x-atc-text">
              {%- if product.selected_or_first_available_variant.available -%}
                <span class="flex items-center justify-center">
                  {{ 'products.product.add' | t }}
                </span>
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
          </button>
        {%- endform -%}
      {%- endunless -%}
    {% endif %}
  </div>
</div>
<script src="{{ 'frequently-bought-together.js' | asset_url }}" defer></script>  
<script src="{{ 'variant-select.js' | asset_url }}" defer></script>