  <div
    id="variant-update-{{ section.id }}"
    class="variant-update-{{ section.id }} {% if block.settings.picker_type == 'button' %}block{% else %}grid grid-cols-2 md:gap-x-5 gap-x-2.5 mt-2 mb-2{% endif %}"
    {% comment %} {% if show_first_image_avaiable %} x-intersect.once.margin.800px="initMedia()"{% endif %} {% endcomment %}
  >
    {%- for option in product.options_with_values -%}
      {%- assign option_index = forloop.index | minus: 1 -%}
      {%- if picker_type == 'button' -%}
        <fieldset
          id="Option-{{ section.id }}-{{ forloop.index0 }}"
          class="product-form__input pl-0 flex flex-wrap pb-5 quick-view:pb-2 eurus"
        >
          {% if block.settings.show_variant_option %}
            <legend class="font-medium">
              {{ option.name }}{% if block.settings.enable_color_swatches and settings.color_option_name contains option.name %}:
                <span>{{- option.selected_value -}}</span>
              {% endif %}
            </legend> 
            
          {% endif %}
          {% render 'product-variant-option-cl',
            product: product,
            option: option,
            option_index: option_index,
            product_form_id: product_form_id,
            input_type: 'radio',
            enable_color_swatches: enable_color_swatches,
            rounded_corner_option: rounded_corner_image,
            show_media_with_variant_selected: show_media_with_variant_selected,
            media_with_option: media_with_option,
            is_cbl: is_cbl,
            swatch_size: swatch_size
          %}
        </fieldset>
      {%- else -%}
        <div>
          {%- if block.settings.show_variant_option -%}
            <label class="mt-1 mb-1 font-medium" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
          {%- endif -%}
          <div class="select relative outline-none eurus">
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="product-form__input w-full capitalize pt-2.5 pb-2.5 pl-5 pr-8 rtl:pr-5 rtl:pl-8 mt-2 mb-2 bg-transparent focus:border-current border appearance-none outline-none border-solid focus-visible:outline-none cursor-pointer{% if settings.edges_type == 'rounded_corners' %} !rounded-md{% endif %}"
              name="{{ option.name }}"
              form="{{ product_form_id }}"
              @change="changeSelectOption($event)"
            > 
              {% render 'product-variant-option-cl',
                product: product,
                option: option,
                option_index: option_index,
                product_form_id: product_form_id,
                input_type: 'select',
                enable_color_swatches: block.settings.enable_color_swatches,
                input_type: input_type,
                swatch_size: swatch_size
              %}
            </select>
            <span class="absolute top-1/2 right-4 rtl:right-auto rtl:left-4 -translate-y-1/2 w-2.5 inline-block pointer-events-none">
              {% render 'icon-alls', icon: 'icon-caret' %}
            </span>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
  