{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - option_index: {Number} index of option.
  - product_form_id: {String} product add to cart form id.
  - input_type: {String} 'select' or 'radio'.
  - enable_color_swatches: {Boolean} is color swatches enabled? - Default: false
  - disable_option_disabled: {Boolean} is option enabled? - Default: false

  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    input_type: 'radio'
  %}
{% endcomment %}
{%- liquid
  assign variant_key = 'option' | append: option.position
  assign color_option_values = settings.color_option_values | newline_to_br | strip_newlines | split: '<br />'
  assign swatch_natural = false     
  if settings.products_color_swatches_style == 'natural'
    assign swatch_natural = true
  endif
-%}
{%- for value in option.values -%}
  {%- liquid
    assign ratio_image = 0
    assign preview_image = blank
    assign variant_value = blank
    assign variant_value = product.variants | where: variant_key, value | where: "selected", true
    if variant_value.size > 0
      assign variant_value = variant_value | first
    else
      assign variant_value = product.variants | where: variant_key, value | first
    endif
    if variant_value.featured_media.preview_image
      assign preview_image = variant_value.featured_media.preview_image | image_url: width: 100, height: 100
      assign ratio_image = 1 | divided_by: variant_value.featured_media.preview_image.aspect_ratio | times: 100 
    elsif product.featured_media
      assign preview_image = product.featured_media | image_url: width: 100, height: 100
      assign ratio_image = 1 | divided_by: product.featured_media.aspect_ratio | times: 100 
    endif
    assign option_disabled = true
    if value.variant.available
      assign option_disabled = false
    endif
  -%}
  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-available="{{ value.variant.available }}"
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}
  {%- if input_type == 'radio' -%}
    {%- liquid
      assign color_custom = ''
      assign swatch_image = false
      assign color_value = ''
      for color_option_value in color_option_values reversed
        assign option_key = color_option_value | split: ':' | first
        assign option_value = color_option_value | split: ':' | last | strip

        if option_key == value and option_value contains '.'
          assign color_custom = option_key
          assign swatch_image = true
          assign color_value = option_value
          break
        endif
        assign multiColors = option_value | remove_first: '#' | split: '#'
        if option_key == value
          assign color_custom = option_key
          assign color_value = option_value
          break
        endif
      endfor  
    -%}
    {% if preview_image != blank and settings.replace_color_with_variant_images %}
      {%- style %}
       .color-watches.variant-{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}:before {
          background-image: url({{ preview_image }});
        }
      {%- endstyle %}
    {% elsif color_custom != '' %}
      {%- style %}
        {% if swatch_image %}
          [data-swatch="{{ color_custom }}"]:before {
            background-image: url({{ color_value | file_img_url: "200x200" }});
          }
        {% elsif multiColors.size == 3 %}
          [data-swatch="{{ color_custom }}"]:before {
            background: linear-gradient(45deg, {{ '#' | append: multiColors[0] }}, {{ '#' | append: multiColors[0] }} 33.3%, {{ '#' | append: multiColors[1] }} 33.3%, {{ '#' | append: multiColors[1] }} 66.6%, {{ '#' | append: multiColors[2] }} 66.6%, {{ '#' | append: multiColors[2] }});
          }
        {% elsif multiColors.size == 2 %}
          [data-swatch="{{ color_custom }}"]:before {
            background: linear-gradient(45deg, {{ '#' | append: multiColors[0] }}, {{ '#' | append: multiColors[0] }} 50%, {{ '#' | append: multiColors[1] }} 50%, {{ '#' | append: multiColors[1] }});
          }
        {% else %}
          [data-swatch="{{ color_custom }}"]:before {
            background: {{ color_value }};
          }
        {% endif %}
      {%- endstyle %}
    {% endif %}
    {% if disable_option_disabled == blank %}
      <input 
        id="{{ input_id }}"
        type="radio"
        name="{{ input_name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {{ input_dataset }}
        @change="updateVariantSelector('{{ input_id }}', '{{ value.product_url }}')"
        class="absolute opacity-0 h-1 w-1 input-radio{% if option_disabled %} disabled{% endif %}"
        aria-label="{{ value | escape }}"
        {% if value.selected %}
          checked
        {% endif %}
      >
    {% endif %}
    {%- liquid   
      if settings.products_color_swatches_style == 'round'
        assign rounded = 'rounded-full before:rounded-full'
      elsif settings.edges_type == 'rounded_corners'
        assign rounded = ' rounded-md before:rounded-md'
      endif
    -%}

    {% if enable_color_swatches and settings.color_option_name contains option.name %}
      <label 
        id="color-swatch-{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        class="mr-2.5 color-watches translate-y-0 transform-none transition {% if color_custom != '' and settings.products_color_swatches_style != 'round' %} custom-color-swatch before:border{% else %} border{% unless swatch_natural %} overflow-hidden{% endunless %}{% endif %} variant-{{ section.id }}-{{ option.position }}-{{ forloop.index0 }} rtl:ml-2.5 rtl:mr-0{% if disable_option_disabled == blank %} cursor-pointer mt-2 mb-2 ml-[2px] rtl:mr-0.5 rtl:ml-0{% endif %} block{% if swatch_natural and settings.replace_color_with_variant_images and ratio_image != 0 %} color-swatch-natural{% endif %} swatch-{{ swatch_size }} border relative {{ rounded }}" 
        for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
        data-swatch="{{ color_custom }}"
        {% if preview_image == blank or settings.replace_color_with_variant_images == false and color_custom == '' %}
          style="background: {{ value | split: ' ' | last | handle }};"
        {% elsif swatch_natural and ratio_image %}
          style="--ratio-image: {{ ratio_image }}%;"
        {% endif %}
        tabindex="0"
        aria-label="{{ value | escape }}"
      >
        <span class="h-full w-full color-watches-disable"></span>
      </label>
    {% else %}
      <label{% if disable_option_disabled == blank %} class="mr-1.5 rtl:mr-0 rtl:ml-1.5 flex items-center outline-none uppercase cursor-pointer mt-2 mb-2 pl-5 pr-5 pt-2 pb-2 border bg-[rgba(var(--background-color),1)]{% if rounded_corner_option %} rounded-md{% endif %}"{% endif %} for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
        <span>{{ value | escape }}{% if section_compare %}{% unless forloop.last %}, {% endunless %}{% endif %}</span>
      </label>
    {% endif %}
  {% else %}
    <option
      id="{{ input_id }}"
      {{ input_dataset }}
      value="{{ value | escape | replace: '&lt;', '\u003c' | replace: '&gt;', '\u003e' }}"
      class="text-left rtl:text-right rtl:pr-5 whitespace-normal cursor-pointer content-{{ section.id }} bg-[rgba(var(--background-color),1)]"{% if value.selected %} selected="selected"{% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: value: value | escape -}}
      {%- else -%}
        {{- value | escape -}}
      {%- endif %}
    </option>
  {%- endif -%}
  <script type="application/json" data-resource="{{ input_id }}">
    {{ value.variant | json }}
  </script>
{%- endfor -%}
  