
<div class="grid collage grid-cols-{{ min_columns_mobile }} md:grid-cols-{{ max_columns }} spacing--{{ section.id }}"
  >
  {%- for block in section.blocks -%}
    {%- liquid 
      assign columns_desktop = block.settings.number_of_columns
      assign columns_mobile = block.settings.number_of_columns
      
      if columns_desktop > max_columns
        assign columns_desktop = max_columns  
      endif
      if columns_mobile > min_columns_mobile
        assign columns_mobile = min_columns_mobile
      endif
    -%}
    <div class="animate-Xpulse flex flex-col group overflow-hidden relative col-span-{{ columns_mobile }} md:col-span-{{ columns_desktop }} row-span-{{ block.settings.number_of_row }}{% if block.type == 'product' %} collage-product-{{ block.settings.desktop_size }}{% endif %}" {{ block.shopify_attributes }}>
      {%- case block.type -%}
        {%- when 'image' -%}
          <div class="bg-[#c9c9c9] pb-[50%] relative h-full w-full flex items-center">
          </div>
        {%- when 'product' -%}
          <div class="flex flex-col h-full">
            <div class="bg-[#c9c9c9] pb-[100%] grow{% if settings.edges_type == 'rounded_corners' %} overflow-hidden md:rounded-[10px]{% unless section.settings.full_width_mobile %} rounded-[10px]{% endunless %}{% endif %}"></div>
            <div class="pt-4 pb-4 flex flex-col items-{{ block.settings.info_alignment }}{% if block.settings.info_alignment == 'right' %} items-end{% endif %}{% if section.settings.full_width_mobile %} pl-5 pr-5 md:pl-0 md:pr-0{% endif %}">
              <p class="bg-[#c9c9c9] h-2 w-2/3"></p>
              <p class="bg-[#c9c9c9] mt-2 h-2 w-1/3"></p>
            </div>
          </div>
        {%- when 'collection' -%}
          <div class="flex flex-col h-full ">
            <div class="bg-[#c9c9c9] pb-[100%] grow{% if settings.edges_type == 'rounded_corners' %} overflow-hidden md:rounded-[10px]{% unless section.settings.full_width_mobile %} rounded-[10px]{% endunless %}{% endif %}"></div>
            <div class="pt-4 pb-4 flex flex-col items-center{% if section.settings.full_width_mobile %} pl-5 pr-5 md:pl-0 md:pr-0{% endif %}">
              <p class="bg-[#c9c9c9] h-2 w-2/3"></p>
              <p class="bg-[#c9c9c9] mt-2 h-2 w-1/3"></p>
            </div>
          </div>
        {%- when 'video' -%}
          <div 
            class="h-full pb-[56.25%] bg-[#c9c9c9] {% if settings.edges_type == 'rounded_corners' %} md:rounded-[10px]{% unless section.settings.full_width_mobile %} rounded-[10px]{% endunless %}{% endif %}"
          ></div>
      {%- endcase -%}
    </div>
  {%- endfor -%}
</div>