<ul class="flex flex-wrap">
  {%- if settings.share_facebook -%}
    <li class="w-11 h-11 opacity-70 hover:opacity-100">
      <button class="block pl-3 pr-3 pt-3 pb-3 disable-effect lg:hover:text-[rgb(var(--colors-text-link))]" aria-label="{{ 'general.social.alt_text.share_on_facebook' | t }}" onclick="
          window.open(
              '//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}', 
              '', 
              `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`
          );
          clevertap.event.push('Share_click', {
              'Platform name': 'Facebook', 
              'Product name': '{{ share_title }}'
          });
      ">
        <span aria-hidden="true" class="">{% render 'icon-media', icon: 'icon-facebook' %}</span>
      </button>
    </li>
  {% endif %}
  {%- if settings.share_twitter -%}
    <li class="w-11 h-11 opacity-70 hover:opacity-100">
      <button class="block pl-3 pr-3 pt-3 pb-3 disable-effect lg:hover:text-[rgb(var(--colors-text-link))]" aria-label="{{ 'general.social.alt_text.share_on_twitter' | t }}" onclick="window.open('//twitter.com/intent/tweet?text={{ share_title | url_encode }}&amp;url={{ shop.url | append: share_permalink }}', '', `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`);clevertap.event.push('Share_click', {
              'Platform name': 'Twitter', 
              'Product name': '{{ share_title }}'
          });">
        <span aria-hidden="true">{% render 'icon-media', icon: 'icon-twitter' %}</span>
      </button>
    </li>
  {% endif %}
  {%- if settings.share_pinterest -%}
    <li class="w-11 h-11 opacity-70 hover:opacity-100">
      <button class="block pl-3 pr-3 pt-3 pb-3 disable-effect lg:hover:text-[rgb(var(--colors-text-link))]" aria-label="{{ 'general.social.alt_text.share_on_pinterest' | t }}" onclick="window.open('//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | image_url: width: 1024 }}&amp;description={{ share_title | url_encode }}', '', `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`);clevertap.event.push('Share_click', {
              'Platform name': 'Pinterest', 
              'Product name': '{{ share_title }}'
          });">
        <span aria-hidden="true">{% render 'icon-media', icon: 'icon-pinterest' %}</span>
      </button>
    </li>
  {%- endif -%}
  {%- if settings.share_whatsapp -%}
    <li class="w-11 h-11 opacity-70 hover:opacity-100">
      <button class="block pl-3 pr-3 pt-3 pb-3 disable-effect lg:hover:text-[rgb(var(--colors-text-link))]" aria-label="{{ 'general.social.alt_text.share_on_whatsapp' | t }}" onclick="window.open('//wa.me/?text={{ share_title | url_encode }} {{ shop.url | append: share_permalink }}', '', `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`);
        clevertap.event.push('Share_click', {
              'Platform name': 'Whatsapp', 
              'Product name': '{{ share_title }}'
          });">
        <span aria-hidden="true">{% render 'icon-media', icon: 'icon-whatsapp' %}</span>
      </button>
    </li>
  {%- endif -%}
  {%- if settings.share_telegram -%}
    <li class="w-11 h-11 opacity-70 hover:opacity-100">
      <button class="block pl-3 pr-3 pt-3 pb-3 disable-effect lg:hover:text-[rgb(var(--colors-text-link))]" aria-label="{{ 'general.social.alt_text.share_on_telegram' | t }}" onclick="window.open('//t.me/share/url?text={{ share_title | url_encode }}&url={{ shop.url | append: share_permalink }}', '', `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`);clevertap.event.push('Share_click', {
              'Platform name': 'Telegram', 
              'Product name': '{{ share_title }}'
          });">
        <span aria-hidden="true">{% render 'icon-media', icon: 'icon-telegram' %}</span>
      </button>
    </li>
  {%- endif -%}
  {%- if settings.share_email -%}
    <li class="w-11 h-11 opacity-70 hover:opacity-100">
      <button class="block pl-3 pr-3 pt-3 pb-3 disable-effect lg:hover:text-[rgb(var(--colors-text-link))]" aria-label="{{ 'general.social.alt_text.share_on_email' | t }}" onclick="if(window.screen.width >= 1024) window.open('//mail.google.com/mail/?view=cm&fs=1&su={{ share_title | url_encode }}&body={{ shop.url | append: share_permalink }}', '', `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`); else { window.open('mailto:?subject={{ share_title | url_encode }}&amp;body={{ shop.url | append: share_permalink }}', '', `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`);clevertap.event.push('Share_click', {
              'Platform name': 'Email', 
              'Product name': '{{ share_title }}'
          }); }">
        <span aria-hidden="true">{% render 'icon-media', icon: 'icon-email' %}</span>
      </button>
    </li>
  {%- endif -%}
  {%- if settings.share_sms -%}
    <li class="md:hidden w-11 h-11 opacity-70 hover:opacity-100">
        <button class="block pl-3 pr-3 pt-3 pb-3 disable-effect lg:hover:text-[rgb(var(--colors-text-link))]" aria-label="{{ 'general.social.alt_text.share_on_sms' | t }}" onclick="window.open('sms:?body={{ share_title | url_encode }} {{ shop.url | append: share_permalink }}', '', `width=700, height=500, left=${(window.screen.width - 700)/2}, top=${(window.screen.height - 500)/2}`);clevertap.event.push('Share_click', {
              'Platform name': 'SMS', 
              'Product name': '{{ share_title }}'
          });">
          <span aria-hidden="true">{% render 'icon-media', icon: 'icon-sms' %}</span>
        </button>
    </li>
  {%- endif -%}
</ul>