{% capture content %}
  {% for block in section.blocks %}
      {% if block.settings.image != blank and block.settings.text != blank %}
        <a href="{{ block.settings.link }}" 
          onclick="clevertap.event.push('Collection_strip_click', {'Collection name': '{{ block.settings.text }}'})"
          class="collection-list-stripe-item">
          {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: id: id_attribute, loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 100px', widths: '80,90,100,120,140', class: 'collection-list-stripe-img' -}}
          <p class="collection-list-stripe-text text--xsmall">{{ block.settings.text }}</p>
        </a>
      {% endif %}
    {% endfor %}
{% endcapture %}
{% if content != blank %}
<div class="collection-list-stripe-wp hidden-tablet-and-up">
  <div class="collection-list-stripe">
    <div class="collection-list-stripe_row">
      {{ content }}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Collection List Stripe",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_in_desk",
        "label": "Hide in Desktop",
        "default": true
      }
    ],
    "blocks":[
      {
        "type":"item",
        "name":"Item",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"text",
            "label":"Text"
          },
          {
            "type":"url",
            "id":"link",
            "label":"Link"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Collection List Stripe"
      }
    ]
  }
{% endschema %}