{%- liquid
  assign heading_size =  section.settings.heading_size | times: settings.heading_base_size | times: 0.000225
  assign sub_heading =  section.settings.title_size | times: settings.text_base_size | times: 0.0000875
  assign sub_heading_mobile = sub_heading | times: 0.75
  if section.settings.columns_mobile == '1'
    assign sub_heading_mobile = sub_heading | times: 0.85
  endif
  if section.settings.show_date or section.settings.show_author or section.settings.show_comment_counts
    assign class_margin = " mt-5"
  endif

  assign columns_desktop = section.settings.columns_desktop | plus: 0
  assign enable_desktop_slider = section.settings.enable_desktop_slider
  assign swiper_on_mobile = section.settings.swiper_on_mobile
  assign blog_posts = section.settings.post_limit
  if section.settings.blog.articles_count > 0 and section.settings.post_limit > section.settings.blog.articles_count
    assign blog_posts = section.settings.blog.articles_count
  endif

  if blog_posts <= columns_desktop and blog_posts != 0
    assign enable_desktop_slider = false
  endif

  if blog_posts <= 1 and blog_posts != 0
    assign swiper_on_mobile = false
  endif

  assign disable_divider = true
  if section.settings.show_tag
    assign disable_divider = false
  endif
   
  if enable_desktop_slider 
    assign class_slider = " splide__slide x-splide-slide preload-slide--" | append: section.id
  else
    assign class_slider = " splide__slide x-splide-slide"
  endif
-%} 
{%- style -%}
  .heading--{{ section.id }}{
    font-size: {{ heading_size | times : 0.6 }}rem;
  } 
  .sub_heading--{{ section.id }}{
    font-size: {{ sub_heading_mobile }}rem;
  } 
  @media screen and (max-width: 767px) {
  .gap-mobile-{{ section.id }} {
      gap: {{ section.settings.spacing_mobile }}px;
    }
  }
  @media (min-width: 768px) {
    .heading--{{ section.id }}{
      font-size: {{ heading_size }}rem;
    } 
    .sub_heading--{{ section.id }}{ 
      font-size: {{ sub_heading }}rem;
    } 
    .gap-{{ section.id }} {
      gap: {{ section.settings.spacing }}px;
    }
    .preload-slide--{{ section.id }} {
      {% if settings.lang_direction contains request.locale.iso_code %} 
        margin-left: {{ section.settings.spacing }}px;
      {% else %}
        margin-right: {{ section.settings.spacing }}px;
      {% endif %}
      width: calc(((100% + {{ section.settings.spacing }}px) / 3) - {{ section.settings.spacing }}px);
    }
    .gap-{{ section.id }} {
      {% if enable_desktop_slider %}
        gap: 0px;
      {% else %}
        gap: {{ section.settings.spacing }}px;
      {% endif %}
    }
  }
  @media (min-width: 1024px){
    .preload-slide--{{ section.id }} {
      width: calc(((100% + {{ section.settings.spacing }}px) / {{ columns_desktop }}) - {{ section.settings.spacing }}px);
    }
  }
{%- endstyle -%}

{% render 'section-divider' %}

<div 
  class="pt-[{{ section.settings.padding_top_mobile }}px] md:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px]"
  x-data='xFeaturedBlog("{{ section.id }}", $el)'
>
  <div 
    class="{% unless section.settings.full_width %} page-width{% endunless %} pl-5 pr-5 mx-auto mb-5 lg:mb-10{% unless section.settings.heading_alignment contains 'center' %} flex items-center{% endunless %} heading-{{ section.settings.heading_alignment }}"
    x-intersect.once='loadData()'
  > 
    {%- if section.settings.heading != blank -%}
      <{{ section.settings.heading_tag }} class="heading--{{ section.id }} section-header h2 block leading-tight flex-auto p-break-words">
        {{ section.settings.heading | escape }}
      </{{ section.settings.heading_tag }}>
    {%- endif -%}
    {%- if section.settings.show_view_all and section.settings.blog != blank and section.settings.view_all_position == 'top' -%}
      <div class="flex justify-center pt-0.5 pb-0.5 md:pb-2.5 md:pt-2.5">
        <a{% if section.settings.blog != blank %} href="{{ section.settings.blog.url }}"{% else %} role="link" aria-disabled="true"{% endif %} 
          class="nav-link font-medium effect-inline relative flex items-center hover-text-link empty:hidden cursor-pointer">
          {{ 'sections.featured_blog.view_all' | t }}<span class="w-2 h-2 inline-block ml-1.5 mt-0.5 rtl:rotate-180 rtl:mr-1.5 rtl:ml-0 rtl:mt-0">{% render 'icon-alls' , icon: 'icon-double-arrow' %}</span>
        </a>
      </div>
    {%- endif -%}
  </div>
  <div class="mx-auto{% if section.settings.full_width %} full-width{% else %} page-width{% endif %}" x-show="loading">
    {% assign columns_mobile = section.settings.columns_mobile | plus: 0 %}
    {% render 'skeleton-featured-blog', 
      section_id: section.id,
      articles_count: section.settings.blog.articles_count,
      post_limit: section.settings.post_limit,
      columns_desktop: columns_desktop,
      columns_mobile: columns_mobile,
      swiper_on_mobile: swiper_on_mobile,
      enable_desktop_slider: enable_desktop_slider,
      media_aspect_ratio: section.settings.image_ratio,
      spacing: section.settings.spacing,
      spacing_mobile: section.settings.spacing_mobile,
      content_alignment: section.settings.content_alignment,
      show_image: section.settings.show_image,
      show_name: section.settings.show_name,
      show_author: section.settings.show_author,
      show_comment_counts: section.settings.show_comment_counts,
      show_date: section.settings.show_date,
      show_excerpt: section.settings.show_excerpt,
      show_tag: section.settings.show_tag,
      show_read_more: section.settings.show_read_more,
      comments_enabled: blog.comments_enabled
    %}
  </div>
  <div class="mx-auto{% if swiper_on_mobile %} carousel-mobile full-width-mobile{% endif %}{% if enable_desktop_slider %} carousel-tablet{% endif %}{% if section.settings.full_width %} full-width{% else %} page-width{% endif %}" x-cloak x-show="!loading">
    <div
      id="x-blogs-{{ section.id }}"
      class="blogs{% if enable_desktop_slider or swiper_on_mobile %} overflow-hidden x-splide splide visible{% endif %}"
      {% if enable_desktop_slider or swiper_on_mobile -%}
        x-data-slider="{{ section.id }}"
        x-cloak
        x-intersect.once.margin.200px='$store.xSplide.load($el, {
          "speed": 1000,
          "pagination": false, 
          "mediaQuery": "min",
          "updateOnMove": "true",
          "pauseOnHover": true,
          "pauseOnFocus": false,
          {%- if settings.lang_direction contains request.locale.iso_code %} 
            "direction": "rtl",
          {%- endif %}
          {%- if section.settings.auto_play -%}
            "rewind": true,
            "autoplay": true,
            "interval": {{ section.settings.change_slides_speed | times: 1000 }},
          {%- endif %}
          "progressBar": {{ columns_desktop }},
          "breakpoints": {
            300: {
              {% if swiper_on_mobile == false -%}
                "destroy": true,
              {%- endif -%}
              "gap": "{{ section.settings.spacing_mobile }}px",
              "padding": { "left": 20, "right": 20 },
              "perPage": 1
            },
            768: {
              {% if enable_desktop_slider == false -%}
                "destroy": true,
              {%- else -%}
                "destroy": false,
              {%- endif %}
              "perPage": 3
            },
            1024: {
              "perPage": {{ columns_desktop }},
              "padding": 0,
              "gap": "{{ section.settings.spacing }}px",
            }
          },
          "classes": {
            "arrows": "splide__arrows block", 
          },
          "events": [
            {
              "event": "ready",
              "callback": () => {
                document.dispatchEvent(new CustomEvent("eurus:{{ section.id }}:splide-ready"));
              }
            }
          ]
        })'
      {%- endif -%}>
      <div class="splide__track{% if enable_desktop_slider %} md:cursor-grab{% endif %}">
        <div class="splide__list{% if enable_desktop_slider %} md:grid-cols-none md:flex md:w-full md:gap-0{% else %} md:grid lg:grid-cols-{{ section.settings.columns_desktop }} md:grid-cols-3 gap-{{ section.id }}{% endif %}{% if swiper_on_mobile %} flex w-full{% else %} grid grid-cols-1 gap-mobile-{{ section.id }}{% endif %}">
          {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
            {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
              {%- render 'article-card',
                class_slide: class_slider,
                blog: section.settings.blog,
                article: article,
                image_desktop_top: true,
                columns_desktop: section.settings.columns_desktop,
                columns_mobile: section.settings.columns_mobile | plus: 0,
                class_margin: class_margin, 
                show_image: section.settings.show_image,
                item_secondary_background: section.settings.item_secondary_background,
                image_ratio: section.settings.image_ratio,
                show_name: section.settings.show_name,
                show_author: section.settings.show_author,
                show_comment_counts: section.settings.show_comment_counts,
                show_date: section.settings.show_date,
                show_excerpt: section.settings.show_excerpt,
                show_tag: section.settings.show_tag,
                enable_desktop_slider: enable_desktop_slider,
                swiper_on_mobile: swiper_on_mobile,
                content_alignment: section.settings.content_alignment,
                disable_divider: disable_divider,
                show_read_more: section.settings.show_read_more,
                button_read_more_label: section.settings.button_read_more_label
              -%}
            {%- endfor -%}
          {%- else %}
            {%- for i in (1..section.settings.post_limit) -%}
              <div class="{{ class_slider }}{% if section.settings.columns_mobile == "2" %} flex md:block{% endif %} md:border-b{% if settings.edges_type == 'rounded_corners' %} overflow-hidden rounded-[10px]{% endif %}">
                <div class="text-[#acacac]{% if section.settings.columns_mobile == "2" %} w-1/3 md:w-full{% else %} w-full{% endif %} relative bg-[#c9c9c9] h-0{% if section.settings.image_ratio == 'auto' %} pb-[100%]{% else %} pb-[{{ section.settings.image_ratio }}%]{% endif %}{% if settings.edges_type == 'rounded_corners' %} overflow-hidden rounded-[10px]{% endif %}">
                  {{ 'image' | placeholder_svg_tag: 'absolute h-full w-full top-0 left-0' }}
                </div>
                <div class="{% if section.settings.columns_mobile == "2" %}w-2/3 pr-0 md:pl-0 md:pt-5 md:pb-5 float-left md:w-auto md:float-none pl-5{% else %} py-5{% endif %}">
                  <p class="sub_heading--{{ section.id }} inline-block capitalize leading-tight mb-3">
                    {{ 'sections.featured_blog.onboarding_title' | t }}
                  </p>
                  <p class="text-xs tracking-wider">
                    {{ 'sections.featured_blog.onboarding_date' | t }}
                  </p>
                  <p class="mt-5 leading-tight">
                    {{ 'sections.featured_blog.onboarding_content' | t }}
                  </p>
                </div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
      {%- if enable_desktop_slider -%}
        <div class="lg:flex items-center hidden mt-5 w-3/4 ml-auto mr-auto">
          <div class="splide-progress inline-block grow">
            {% liquid
              assign my_float = columns_desktop | times: 1.0
              assign widthBar = my_float | divided_by: section.settings.post_limit
              if section.settings.blog.articles_count < section.settings.post_limit
                assign widthBar = my_float | divided_by: section.settings.blog.articles_count
              endif
             %} 
            <div class="splide-progress-bar" style="width: {{ widthBar | times: 100 }}%;"></div>
          </div>
          <div class="splide__arrows lg:inline-flex gap-2 hidden">
            <button class="splide__arrow splide__arrow--prev button-arrow hidden lg:block absolute top-1/2 -mt-6 p-4 rounded-full none_border z-10 w-12 h-12 after:text-[20px] rtl:right-0 rtl:-rotate-90 rtl:left-auto left-0 rotate-90 duration-200 opacity-60 hover:opacity-100 disabled:cursor-not-allowed transition-all ease-in-out rtl:lg:translate-x-full lg:-translate-x-full disabled:opacity-30" aria-label="previous slide">
              {% render 'icon-alls', icon: 'icon-caret' %}
            </button>
            <button class="splide__arrow splide__arrow--next button-arrow hidden lg:block absolute top-1/2 -mt-6 p-4 rounded-full none_border z-10 w-12 h-12 after:text-[20px] rtl:left-0 rtl:rotate-90 rtl:right-auto right-0 -rotate-90 duration-200 opacity-60 hover:opacity-100 disabled:cursor-not-allowed transition-all ease-in-out rtl:lg:-translate-x-full lg:translate-x-full disabled:opacity-30" aria-label="previous slide">
              {% render 'icon-alls', icon: 'icon-caret' %}
            </button>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
  {%- if section.settings.show_view_all and section.settings.blog != blank and section.settings.view_all_position == 'bottom' -%}
    <div class="flex justify-center pt-0.5 pb-0.5 md:pb-2.5 md:pt-2.5 mt-6 lg:mt-8">
      <a{% if section.settings.blog != blank %} href="{{ section.settings.blog.url }}"{% else %} role="link" aria-disabled="true"{% endif %} 
        class="nav-link font-medium effect-inline relative flex items-center hover-text-link empty:hidden cursor-pointer">
        {{ 'sections.featured_blog.view_all' | t }}<span class="w-2 h-2 inline-block ml-1.5 mt-0.5">{% render 'icon-alls' , icon: 'icon-double-arrow' %}</span>
      </a>
    </div>
  {%- endif -%}
</div>
<script src="{{ 'featured-blog.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section section-featured-blog x-section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "unit": "%",
      "step": 10,
      "default": 100,
      "label": "t:sections.featured-blog.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "t:sections.featured-collection.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "select",
      "id": "view_all_position",
      "default": "top",
      "label": "t:sections.featured-collection.settings.view_all_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.featured-collection.settings.view_all_position.top"
        },
        {
          "value": "bottom",
          "label": "t:sections.featured-collection.settings.view_all_position.bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.item_blog.label"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "default": 140,
      "label": "t:sections.all.text.title_size"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "default": "left",
      "label": "t:sections.all.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.featured-blog.settings.image_ratio.options__1.label"
        },
        {
          "value": "100",
          "label": "t:sections.featured-blog.settings.image_ratio.options__2.label"
        },
        {
          "value": "75",
          "label": "t:sections.featured-blog.settings.image_ratio.options__3.label"
        },
        {
          "value": "150",
          "label": "t:sections.featured-blog.settings.image_ratio.options__4.label"
        },
        {
          "value": "56",
          "label": "t:sections.featured-blog.settings.image_ratio.options__5.label"
        },
        {
          "value": "133",
          "label": "t:settings_schema.products.product_image_ratio.option__6.label"
        }
      ],
      "default": "75",
      "label": "t:sections.featured-blog.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "item_secondary_background",
      "default": false,
      "label": "t:sections.featured-blog.settings.item_secondary_background.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_name",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_name.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_excerpt.label"
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_tag_line.label"
    },
    {
      "type": "checkbox",
      "id": "show_comment_counts",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_comment_counts.label"
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_read_more.label"
    },
    {
      "type": "text",
      "id": "button_read_more_label",
      "default": "READ NOW",
      "label": "t:sections.featured-blog.settings.button_read_more_label.label"
    },
    {
      "type": "header",
      "content": "t:sections.logo-list.settings.header_carousel.content"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "swiper_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:sections.slideshow.settings.auto_play.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 28,
      "label": "t:sections.all.spacing.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-blog.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-blog.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.featured-blog.settings.columns_mobile.label"
    },
    {
      "type": "range",
      "id": "spacing_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 28,
      "label": "t:sections.all.spacing.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
