{% liquid 
  assign heading_base_size =  settings.heading_base_size | times: 0.0225
  assign heading_size =  section.settings.heading_size | times: 0.01 | times: heading_base_size

  assign content_position = 'start'
  if section.settings.content_position == 'middle'
    assign content_position = 'center'
  endif
  if section.settings.content_position == 'bottom'
    assign content_position = 'end'
  endif

  assign block_first = section.blocks | first
  assign border_image = section.settings.image_corner_radius | minus: 1

  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
%} 
{%- style -%}
  .border-radius-{{ section.id }} {
    border-radius: {{ border_image }}px;
  }
  .title--{{ section.id }} {
    font-size: {{ heading_size | times: 0.6 }}rem;
  }
  .heading--{{ section.id }} {
    {%- if section.settings.heading_color.alpha != 0.0 -%}
      color: {{ section.settings.heading_color }};
    {%- else -%}
      color: {{ settings.secondary_heading }};
    {%- endif -%}
  }
  .text--{{ section.id }} {
    {%- if section.settings.text_color.alpha != 0.0 -%}
      color: {{ section.settings.text_color }};
    {%- else -%}
      color: {{ settings.secondary_text }};
    {%- endif -%}
  }
  .background--{{ section.id }} {
    {%- if section.settings.background_color.alpha != 0.0 -%}
      background: {{ section.settings.background_color }};
      --background-color: {{ section.settings.background_color.red }}, {{ section.settings.background_color.green }}, {{ section.settings.background_color.blue }};
    {%- else -%}
      background: rgb(var(--colors-background-secondary));
      --background-color: var(--colors-background-secondary);
    {%- endif -%}
  }
  .dark .heading--{{ section.id }} {
    {%- if section.settings.heading_color_dark.alpha != 0.0 -%}
      color: {{ section.settings.heading_color_dark }};
    {%- else -%}
      color: {{ settings.secondary_heading_dark }};
    {%- endif -%}
  }
  .dark .text--{{ section.id }} {
    {%- if section.settings.text_color_dark.alpha != 0.0 -%}
      color: {{ section.settings.text_color_dark }};
    {%- else -%}
      color: {{ settings.secondary_text_dark }};
    {%- endif -%}
  }
  .dark .background--{{ section.id }} {
    {%- if section.settings.background_color_dark.alpha != 0.0 -%}
      background: {{ section.settings.background_color_dark }};
      --background-color: {{ section.settings.background_color_dark.red }}, {{ section.settings.background_color_dark.green }}, {{ section.settings.background_color_dark.blue }};
    {%- else -%}
      background: rgb(var(--colors-background-secondary));
      --background-color: var(--colors-background-secondary);
    {%- endif -%}
  }
  .section-height--{{ section.id }} {
    {% if section.settings.mobile_height == 'natural' and block_first %}
      {% if block_first.type == 'product' and block_first.settings.product.featured_media %}
        height: 0px;
        padding-bottom: {{ 1 | divided_by: block_first.settings.product.featured_media.aspect_ratio | times: 100 }}%;
      {% elsif block_first.type == 'collection' and block_first.settings.collection.featured_media %}
        height: 0px;
        padding-bottom: {{ 1 | divided_by: block_first.settings.collection.featured_media.aspect_ratio | times: 100 }}%;
      {% elsif block_first.type == 'media' and block_first.settings.image %}
        height: 0px;
        padding-bottom: {{ 1 | divided_by: block_first.settings.image.aspect_ratio | times: 100 }}%;
      {% else %}
        height: 400px;
      {% endif %}
    {% else %}
      height: {{ section.settings.mobile_height }};
    {% endif %}
  }
  @media (min-width: 767px) {
    .title--{{ section.id }} {
      font-size: {{ heading_size }}rem;
    }
    .section-height--{{ section.id }} {
      {% if section.settings.desktop_height == 'natural' and block_first %}
        {% if block_first.type == 'product' and block_first.settings.product.featured_media %}
          height: 0px;
          padding-bottom: {{ 1 | divided_by: block_first.settings.product.featured_media.aspect_ratio | times: 100 }}%;
        {% elsif block_first.type == 'collection' and block_first.settings.collection.featured_media %}
          height: 0px;
          padding-bottom: {{ 1 | divided_by: block_first.settings.collection.featured_media.aspect_ratio | times: 100 }}%;
        {% elsif block_first.type == 'media' and block_first.settings.image %}
          height: 0px;
          padding-bottom: {{ 1 | divided_by: block_first.settings.image.aspect_ratio | times: 100 }}%;
        {% else %}
          height: 450px;
        {% endif %}
      {% else %}
        height: {{ section.settings.desktop_height }};
        padding-bottom: 0px;
      {% endif %}
    }
  }
{%- endstyle -%}

{% render 'section-divider' %}

<div class="pb-[{{ section.settings.padding_bottom_mobile }}px] pt-[{{ section.settings.padding_top_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] md:pt-[{{ section.settings.padding_top }}px]">
  {% if section.settings.heading != blank %}
    <{{ section.settings.heading_tag }} class="title--{{ section.id }} h2 block mb-5 md:mb-9 text-{{ section.settings.heading_alignment }} pb-2 leading-tight p-break-words px-5{% unless section.settings.full_width %} page-width{% endunless %}">
      {{ section.settings.heading | escape }}
    </{{ section.settings.heading_tag }}>
  {% endif %}
  <div 
    class="{% unless section.settings.full_width %} page-width mx-auto{% else %}{% if section.settings.padding_full_width %} md:px-5{% else %} md:px-0{% endif %}{% endunless %}{% if section.settings.full_width_mobile %} full-width-mobile{% else %} px-5{% endif %}"
    x-data="{ active: '{{ section.blocks[0].id }}', open_first_tab: {{ section.settings.open_first_tab }}}"
  >
    <div class="background--{{ section.id }} border-radius-{{ section.id }} md:grid md:grid-cols-5 flex items-{{ content_position }}{% if section.settings.image_position_mobile == 'first' %} flex-col-reverse{% else %} flex-col{% endif %}{% if is_rtl %} ltr{% endif %}">
      <div class="w-full h-full md:col-span-2 flex justify-center items-{{ content_position }}{% if section.settings.image_position == 'first' %} md:order-2{% endif %}{% if is_rtl %} rtl{% endif %}">
        <ul class="w-full{% if section.blocks.size > 0 %} p-8 md:pt-0 md:pl-12 md:pr-12 md:max-w-[456px]{% endif %} text-{{ section.settings.content_alignment }}">
          {% for block in section.blocks %}
            <li class="md:pt-7{% if forloop.first %} pt-2.5{% else %} pt-7{% endif %}">
              <span class="flex flex-row hover:opacity-100 cursor-pointer duration-200 p-break-words h2 title--{{ section.id }} items-center border-b-[0.5px] pb-2.5"
                :class="active == '{{ block.id }}' || 'opacity-30'"
                @mouseover="active = '{{ block.id }}', open_first_tab = true"
              >
                <h3 class="w-[calc(100%-0.875rem)] text-[70%] heading--{{ section.id }}">
                  {% if block.settings.heading != blank %}
                    {{ block.settings.heading | escape }}
                  {% else %}
                    {% if block.type == 'product' %}
                      {{ block.settings.product.title | escape }}
                    {% endif %}
                    {% if block.type == 'collection' %}
                      {{ block.settings.collection.title | escape }}
                    {% endif %}
                  {% endif %}
                </h3>
                <span class="block w-3.5 h-3.5 heading--{{ section.id }}">
                  {% render 'icon-alls', icon: 'icon-up-right' %}
                </span>
              </span>
              <div x-show="open_first_tab && active == '{{ block.id }}'" x-collapse x-cloak class="font-normal leading-normal text--{{ section.id }}">
                <div>
                  <div class="rte block h-full min-h-[0.5rem]">
                    {% if block.settings.description != blank %}
                      {% if block.type == 'product' %}
                        {%- render 'truncate-text', 
                          number_of_lines_shown: block.settings.number_of_lines_shown 
                          blockID: block.id,
                          content: block.settings.description,
                          read_more_label: block.settings.read_more_label,
                          text_alignment_mobile: section.settings.content_alignment,
                          text_alignment: section.settings.content_alignment,
                        -%}
                      {% else %}
                        {{ block.settings.description }}
                      {% endif %}
                    {% endif %}
                  </div>
                  {% if block.settings.button_text != blank %}
                    {% if block.settings.button_link %}
                      <button class="button{% if block.settings.show_button_style == 'secondary' %} button-outline mt-2{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid mt-2{% endif %} py-2 px-4"
                        {% if block.settings.open_new_window_button %}
                          @click="window.open('{{ block.settings.button_link }}', '_blank')"
                        {% else %}
                          @click="window.location.href='{{ block.settings.button_link }}'"
                        {% endif %}
                      >
                        {% render 'button-label', button_label: block.settings.button_text, show_button_style: block.settings.show_button_style %}
                      </button>
                    {% else %}
                      <button class="button{% if block.settings.show_button_style == 'secondary' %} button-outline mt-2{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid mt-2{% endif %} px-4 py-2 opacity-70 hover:cursor-not-allowed">
                        {% render 'button-label', button_label: block.settings.button_text, show_button_style: block.settings.show_button_style %}
                      </button>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="w-full h-full md:col-span-3 md:flex items-center">
        <div class="w-full relative{% if section.blocks.size > 0 %} section-height--{{ section.id }}{% endif %}">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'product' %}
                {% liquid 
                  assign card_product = block.settings.product
                %}
                <div class="w-full h-full absolute top-0 left-0 overflow-hidden border-radius-{{ section.id }}" x-show="active == '{{ block.id }}'" x-cloak>
                  {%- if card_product.featured_media -%}
                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                    <img
                      srcset="{{ card_product.featured_media | image_url: width: 225 }} 225w,
                        {{ card_product.featured_media | image_url: width: 375 }} 375w,
                        {{ card_product.featured_media | image_url: width: 450 }} 450w,
                        {{ card_product.featured_media | image_url: width: 750 }} 750w,
                        {{ card_product.featured_media | image_url: width: 900 }} 900w,
                        {{ card_product.featured_media | image_url: width: 1100 }} 1100w,
                        {{ card_product.featured_media | image_url: width: 1500 }} 1500w
                        {% if card_product.featured_media.width %},{{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w{% endif %}" 
                      src="{{ card_product.featured_media | image_url: width: 1080 }}"
                      sizes="(min-width: 767px) 60vw, 100vw"
                      alt="{{ card_product.featured_media.alt | split: "#" | first | escape }}"
                      class="w-full h-full object-cover object-center image-hover"
                      loading="lazy"
                      width="{{ card_product.featured_media.width }}"
                      height="{{ card_product.featured_media.height }}"
                      style="object-position: {{ card_product.featured_media.presentation.focal_point }}"
                    >
                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                  {%- else -%}
                    {% render 'icon-placeholder', icon: 'icon-product' | class: 'bg-[#c9c9c9] w-full h-full' %}
                  {%- endif -%}
                </div>
              {% when 'collection' %}
                {% liquid 
                  assign card_collection = block.settings.collection
                %}
                <div class="w-full h-full absolute overflow-hidden top-0 left-0 border-radius-{{ section.id }}" x-show="active == '{{ block.id }}'" x-cloak>
                  {%- if card_collection.featured_image -%}
                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                    <img
                      srcset="{{ card_collection.featured_image | image_url: width: 225 }} 225w,
                      {{ card_collection.featured_image | image_url: width: 375 }} 375w,
                      {{ card_collection.featured_image | image_url: width: 450 }} 450w,
                      {{ card_collection.featured_image | image_url: width: 750 }} 750w,
                      {{ card_collection.featured_image | image_url: width: 900 }} 900w,
                      {{ card_collection.featured_image | image_url: width: 1100 }} 1100w,
                      {{ card_collection.featured_image | image_url: width: 1500 }} 1500w,
                      {{ card_collection.featured_image | image_url: width: 1780 }} 1780w,
                      {{ card_collection.featured_image | image_url: width: 2000 }} 2000w,
                      {{ card_collection.featured_image | image_url: width: 3000 }} 3000w,
                      {{ card_collection.featured_image | image_url: width: 3840 }} 3840w"
                      src="{{ card_collection.featured_image | image_url: width: 3840 }}"
                      sizes="(min-width: 767px) 60vw, 100vw"
                      alt="{{ card_collection.featured_image.alt | escape }}"
                      height="{{ card_collection.featured_image.height }}"
                      width="{{ card_collection.featured_image.width }}"
                      loading="lazy"
                      class="w-full h-full object-cover object-center image-hover"
                    >
                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                  {%- else -%}
                    {% render 'icon-placeholder', icon: 'icon-collection' , class: 'text-[#acacac] w-full h-full bg-[#c9c9c9]' -%}
                  {%- endif -%}
                </div>
              {% when 'media' %}
                {% liquid
                  assign class_img = 'w-full h-full object-cover object-center'
                  if block.settings.image != blank
                    assign class_img = class_img | append: ' image-hover'
                  else
                    assign class_img = class_img | append: ' bg-[#C9C9C9] text-[#acacac]'
                  endif
                  assign video_type = false
                  assign video_alt = block.settings.video_alt_text
                  if block.settings.video_url.type == 'youtube'
                    assign video_type = 'youtube'
                    assign video_id = block.settings.video_url.id
                  endif
                  if block.settings.video_url.type == 'vimeo'
                    assign video_type = 'vimeo'
                    assign video_id = block.settings.video_url.id
                  endif
                
                  if block.settings.video != null 
                    assign video_type = 'video_select'
                  endif
                %}
                <div class="w-full h-full absolute top-0 left-0 overflow-hidden border-radius-{{ section.id }}" x-show="active == '{{ block.id }}'">
                  {%- if block.settings.image != blank and video_type == false -%}
                    {%- capture sizes -%}
                      (min-width: 768px) 60vw, 100vw
                    {%- endcapture -%}
                    {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: widths: '375, 450, 750, 900, 1100, 1500, 1780, 2000, 3000, 3840',
                      height: block.settings.image.height,
                      width: block.settings.image.width,
                      class: class_img,
                      sizes: sizes,
                      alt: block.settings.image.alt | escape
                    }}
                  {%- elsif video_type -%}
                    <div class="relative external-video h-full w-full rounded-none overflow-hidden{% if block.settings.enable_video_autoplay %} video-hero{% endif %}" 
                      x-intersect:leave="$store.xVideo.pause($el)"
                      {% if block.settings.enable_video_autoplay %}
                      x-intersect="$store.xVideo.play($el)"
                      {% endif %}
                    >
                      {%- render 'media-video', 
                        enable_video_autoplay: block.settings.enable_video_autoplay,
                        video_type: video_type,
                        video_id: video_id,
                        video_alt: video_alt,
                        video: block.settings.video,
                        cover_image: block.settings.image,
                        show_sound_control: block.settings.show_sound_control
                      -%}
                    </div>
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: class_img }}
                  {%- endif -%}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.flow.name",
  "tag": "section",
  "class": "section section-flow x-section",
  "max_blocks": 12,
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.flow.settings.heading.label",
      "default": "Flow"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "unit": "%",
      "step": 10,
      "default": 100,
      "label": "t:sections.flow.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "t:sections.flow.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_position",
      "default": "middle",
      "label": "t:sections.flow.settings.content_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.flow.settings.content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.flow.settings.content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.flow.settings.content_position.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_alignment",
      "default": "left",
      "label": "t:sections.flow.settings.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "open_first_tab",
      "default": true,
      "label": "t:sections.flow.settings.open_first_tab.label"
    },
    {
      "type": "range",
      "id": "image_corner_radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "t:sections.flow.settings.corner_radius.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.flow.settings.styles.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.flow.settings.heading_color.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.flow.settings.text_color.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.flow.settings.background_color.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "heading_color_dark",
      "label": "t:sections.flow.settings.heading_color_dark.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color_dark",
      "label": "t:sections.flow.settings.text_color_dark.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "t:sections.flow.settings.background_color_dark.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "first",
          "label": "t:sections.flow.settings.image_position.options__1.label"
        },
        {
          "value": "second",
          "label": "t:sections.flow.settings.image_position.options__2.label"
        }
      ],
      "default": "second",
      "label": "t:sections.flow.settings.image_position.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.flow.settings.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "padding_full_width",
      "default": false,
      "label": "t:sections.all.padding.padding_full_width.label",
      "info": "t:sections.all.padding.padding_full_width.info"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "450px",
          "label": "t:sections.flow.settings.desktop_height.options__1.label"
        },
        {
          "value": "550px",
          "label": "t:sections.flow.settings.desktop_height.options__2.label"
        },
        {
          "value": "650px",
          "label": "t:sections.flow.settings.desktop_height.options__3.label"
        },
        {
          "value": "750px",
          "label": "t:sections.flow.settings.desktop_height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.flow.settings.desktop_height.options__5.label"
        },
        {
          "value": "100vh",
          "label": "t:sections.flow.settings.desktop_height.options__6.label"
        }
      ],
      "default": "650px",
      "label": "t:sections.flow.settings.desktop_height.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "select",
      "id": "image_position_mobile",
      "options": [
        {
          "value": "first",
          "label": "t:sections.flow.settings.image_position.options__1.label"
        },
        {
          "value": "second",
          "label": "t:sections.flow.settings.image_position.options__2.label"
        }
      ],
      "default": "second",
      "label": "t:sections.flow.settings.image_position.label"
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": false,
      "label": "t:sections.flow.settings.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "250px",
          "label": "t:sections.flow.settings.mobile_height.options__1.label"
        },
        {
          "value": "300px",
          "label": "t:sections.flow.settings.mobile_height.options__2.label"
        },
        {
          "value": "400px",
          "label": "t:sections.flow.settings.mobile_height.options__3.label"
        },
        {
          "value": "500px",
          "label": "t:sections.flow.settings.mobile_height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.flow.settings.mobile_height.options__5.label"
        },
        {
          "value": "90vh",
          "label": "t:sections.flow.settings.mobile_height.options__6.label"
        }
      ],
      "default": "400px",
      "label": "t:sections.flow.settings.mobile_height.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.flow.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.flow.blocks.product.settings.product_select"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.flow.blocks.product.settings.heading",
          "default": "Product Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.flow.blocks.product.settings.description"
        },
        {
          "type": "select",
          "id": "number_of_lines_shown",
          "label": "t:sections.all.number_of_lines_shown.label",
          "info": "t:sections.all.number_of_lines_shown.info",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.number_of_lines_shown.default"
            },
            {
              "value": "small",
              "label": "t:sections.all.size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.size.options__3.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "read_more_label",
          "default": "Read more",
          "label": "t:sections.all.read_more_label.label"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.flow.blocks.product.settings.button_text.label",
          "info": "t:sections.flow.blocks.product.settings.button_text.info",
          "default": "View more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.flow.blocks.product.settings.button_link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        }
      ]
    },
    {
      "type": "collection",
      "name": "t:sections.flow.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.flow.blocks.collection.settings.collection_select"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.flow.blocks.collection.settings.heading",
          "default": "Collection Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.flow.blocks.collection.settings.description"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.flow.blocks.collection.settings.button_text.label",
          "info": "t:sections.flow.blocks.collection.settings.button_text.info",
          "default": "View more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.flow.blocks.collection.settings.button_link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        }
      ]
    },
    {
      "type": "media",
      "name": "t:sections.flow.blocks.media.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.flow.blocks.media.settings.image_select",
          "info": "t:sections.all.image.note_image_size"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video_hosted.label"
        },
        {
          "type": "checkbox",
          "id": "show_sound_control",
          "label": "t:sections.video.settings.show_sound_control.label",
          "info": "t:sections.video.settings.show_sound_control.info",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header_video_url.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.video.settings.header_video_url.label"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "video_alt_text",
          "label": "t:sections.video.settings.video_alt_text.label"
        },
        {
          "type": "checkbox",
          "id": "enable_video_autoplay",
          "default": false,
          "label": "t:sections.flow.blocks.media.settings.enable_video_autoplay.label",
          "info": "t:sections.flow.blocks.media.settings.enable_video_autoplay.info"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.flow.blocks.media.settings.heading",
          "default": "Media Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.flow.blocks.media.settings.description"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.flow.blocks.media.settings.button_text.label",
          "info": "t:sections.flow.blocks.media.settings.button_text.info",
          "default": "View more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.flow.blocks.media.settings.button_link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.flow.presets.name",
      "blocks": [
        {
          "type": "product",
          "settings": {
            "heading": "Step 1: Skin Care",
            "description": "<p>Use this section to show a list of product or collection features, guide your customers through a process or share customers' reviews and case studies.</p>"
          }
        },
        {
          "type": "collection",
          "settings": {
            "heading": "Step 2: Hair Care",
            "description": "<p>Use this section to show a list of product or collection features, guide your customers through a process or share customers' reviews and case studies.</p>"
          }
        },
        {
          "type": "media",
          "settings": {
            "heading": "Step 3: Make Up",
            "description": "<p>Use this section to show a list of product or collection features, guide your customers through a process or share customers' reviews and case studies.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}