

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559573170474976302.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559573170474976302.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559573170474976302.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559573170474976302.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559573170474976302.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-559573170474976302.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559573170474976302.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559573170474976302.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559573170474976302.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559573170474976302.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559573170474976302.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559573170474976302.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559573170474976302.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-559573170474976302.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559573170474976302.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559573170474976302.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-559573170474976302.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559573170474976302.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-559573170474976302.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559573170474976302.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559573170474976302.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-559573170474976302.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559573170474976302.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-559573170474976302.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559573170474976302.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559573170474976302.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559573170474976302.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-559573170474976302.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-559573170474976302.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559573170474976302.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559573170474976302.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559573170474976302.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559573170474976302.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559573170474976302.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559573170474976302.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559573170474976302.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559573170474976302.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559573170474976302.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559573170474976302.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559573170474976302.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559573170474976302.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559573170474976302.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559573170474976302.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559573170474976302.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559573170474976302.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-559573170474976302.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559573170474976302.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559573170474976302.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559573170474976302.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559573170474976302.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559573170474976302.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559573170474976302.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559573170474976302.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559573170474976302.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559573170474976302.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559573170474976302.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559573170474976302.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559573170474976302.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-559573170474976302.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559573170474976302.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559573170474976302.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559573170474976302.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559573170474976302.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559573170474976302.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559573170474976302.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559573170474976302.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559573170474976302.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559573170474976302.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559573170474976302 .-gp-rotate-90,.gps-559573170474976302 .gp-rotate-180,.gps-559573170474976302 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-559573170474976302 .gp-relative{position:relative}.gps-559573170474976302 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559573170474976302 .gp-mb-0{margin-bottom:0}.gps-559573170474976302 .gp-flex{display:flex}.gps-559573170474976302 .gp-inline-flex{display:inline-flex}.gps-559573170474976302 .gp-grid{display:grid}.gps-559573170474976302 .\!gp-hidden{display:none!important}.gps-559573170474976302 .gp-hidden{display:none}.gps-559573170474976302 .gp-min-h-0{min-height:0}.gps-559573170474976302 .gp-w-full{width:100%}.gps-559573170474976302 .gp-max-w-full{max-width:100%}.gps-559573170474976302 .-gp-rotate-90{--tw-rotate:-90deg}.gps-559573170474976302 .-gp-rotate-90,.gps-559573170474976302 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-559573170474976302 .gp-rotate-180{--tw-rotate:180deg}.gps-559573170474976302 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-559573170474976302 .gp-cursor-pointer{cursor:pointer}.gps-559573170474976302 .gp-flex-col{flex-direction:column}.gps-559573170474976302 .gp-items-center{align-items:center}.gps-559573170474976302 .gp-justify-center{justify-content:center}.gps-559573170474976302 .gp-gap-y-0{row-gap:0}.gps-559573170474976302 .gp-overflow-hidden{overflow:hidden}.gps-559573170474976302 .gp-overflow-clip{overflow:clip}.gps-559573170474976302 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573170474976302 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573170474976302 .gp-duration-200{transition-duration:.2s}.gps-559573170474976302 .gp-duration-500{transition-duration:.5s}.gps-559573170474976302 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559573170474976302 .tablet\:\!gp-hidden{display:none!important}.gps-559573170474976302 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559573170474976302 .mobile\:\!gp-hidden{display:none!important}.gps-559573170474976302 .mobile\:gp-hidden{display:none}}.gps-559573170474976302 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-559573170474976302 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-559573170474976302 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559573170474976302 .\[\&_p\]\:gp-inline p{display:inline}.gps-559573170474976302 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-559573170474976302 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gvFlc2JgME" data-id="gvFlc2JgME"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:70px;--pl:20px;--pb:70px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EBF3FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvFlc2JgME gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc3N9PRH2W gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gL3683jfPI" data-id="gL3683jfPI"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:996px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EBF3FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL3683jfPI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7wft2TbvB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbDMzvYmj5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbDMzvYmj5 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbDMzvYmj5_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:21px" class="ghx-4TvCNF ">
      
    <gp-accordion
      data-id="ghx-4TvCNF"
     uid="ghx-4TvCNF"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:0px;--gg-mobile:0px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg data-id=\"516676294709085334\" xmlns=\"http://www.w3.org/2000/svg\" width=\"21\" height=\"22\" viewBox=\"0 0 21 22\" fill=\"none\">\n<path d=\"M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z\" fill=\"#242424\"/>\n</svg>","iconExpand":"<svg data-id=\"516675979733632150\" xmlns=\"http://www.w3.org/2000/svg\" width=\"21\" height=\"21\" viewBox=\"0 0 21 21\" fill=\"none\">\n<path d=\"M5.25 10.5C5.25 10.326 5.31914 10.159 5.44221 10.036C5.56528 9.91289 5.7322 9.84375 5.90625 9.84375H15.0938C15.2678 9.84375 15.4347 9.91289 15.5578 10.036C15.6809 10.159 15.75 10.326 15.75 10.5C15.75 10.674 15.6809 10.841 15.5578 10.964C15.4347 11.0871 15.2678 11.1562 15.0938 11.1562H5.90625C5.7322 11.1562 5.56528 11.0871 5.44221 10.964C5.31914 10.841 5.25 10.674 5.25 10.5Z\" fill=\"#242424\"/>\n</svg>","iconCollapseSize":21,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"ghx-4TvCNF","childListNumber":["0"],"chidlrenUid":["gKWj9sPTXw","gYxXsq51zW","giQGFcimTc","gPwILIFLqk","gCw4cJW3P4","gyrBNsQFlx","gvg8gZY37m","gqo5PPn3yY","gt7YyyzMNd","gj1RvebT-N"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#121212"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"0px","padding":{"bottom":"16px","left":"16px","right":"16px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"0px","height":"","padding":{"bottom":"14px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"16px","left":"16px","right":"16px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"16px","left":"0px","right":"0px","top":"21px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"ghx-4TvCNF"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gKWj9sPTXw"
        id="gKWj9sPTXw"
        data-index="0"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--bs:none;--bw:0px 0px 1px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-0:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:21px;height:21px"
            data-index="0"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516675979733632150" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<path d="M5.25 10.5C5.25 10.326 5.31914 10.159 5.44221 10.036C5.56528 9.91289 5.7322 9.84375 5.90625 9.84375H15.0938C15.2678 9.84375 15.4347 9.91289 15.5578 10.036C15.6809 10.159 15.75 10.326 15.75 10.5C15.75 10.674 15.6809 10.841 15.5578 10.964C15.4347 11.0871 15.2678 11.1562 15.0938 11.1562H5.90625C5.7322 11.1562 5.56528 11.0871 5.44221 10.964C5.31914 10.841 5.25 10.674 5.25 10.5Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gKWj9sPTXw"
        data-index="0"
        data-show="true"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gKWj9sPTXw"
        data-index="0"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pt:0px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gau8ni0PPJ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gl3-vH83lN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gl3-vH83lN "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggl3-vH83lN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gl3-vH83lN">
        .gl3-vH83lN {

}
.gl3-vH83lN p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gYxXsq51zW"
        id="gYxXsq51zW"
        data-index="1"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-1:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="1"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gYxXsq51zW"
        data-index="1"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gYxXsq51zW"
        data-index="1"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gnkYfZMQ0K gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpi0OZcW-k">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpi0OZcW-k "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpi0OZcW-k_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpi0OZcW-k">
        .gpi0OZcW-k {

}
.gpi0OZcW-k p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="giQGFcimTc"
        id="giQGFcimTc"
        data-index="2"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-2:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="2"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="giQGFcimTc"
        data-index="2"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="giQGFcimTc"
        data-index="2"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gMTRm75vdP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAbG73BvxU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAbG73BvxU "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAbG73BvxU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAbG73BvxU">
        .gAbG73BvxU {

}
.gAbG73BvxU p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gPwILIFLqk"
        id="gPwILIFLqk"
        data-index="3"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-3:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="3"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gPwILIFLqk"
        data-index="3"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gPwILIFLqk"
        data-index="3"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gL0TeEG0L8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzWWh5xnHj">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzWWh5xnHj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzWWh5xnHj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gzWWh5xnHj">
        .gzWWh5xnHj {

}
.gzWWh5xnHj p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gCw4cJW3P4"
        id="gCw4cJW3P4"
        data-index="4"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-4:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="4"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gCw4cJW3P4"
        data-index="4"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gCw4cJW3P4"
        data-index="4"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gT4ZcSrKIB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0-b4Bi-_2">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0-b4Bi-_2 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0-b4Bi-_2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0-b4Bi-_2">
        .g0-b4Bi-_2 {

}
.g0-b4Bi-_2 p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gyrBNsQFlx"
        id="gyrBNsQFlx"
        data-index="5"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-5:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="5"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gyrBNsQFlx"
        data-index="5"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gyrBNsQFlx"
        data-index="5"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g4JsiVPoqQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gg28E3gnRL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gg28E3gnRL "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggg28E3gnRL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gg28E3gnRL">
        .gg28E3gnRL {

}
.gg28E3gnRL p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="6"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gvg8gZY37m"
        id="gvg8gZY37m"
        data-index="6"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-6:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="6"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_6 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gvg8gZY37m"
        data-index="6"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gvg8gZY37m"
        data-index="6"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gHaZXzNfTX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCQPECchIU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCQPECchIU "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCQPECchIU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gCQPECchIU">
        .gCQPECchIU {

}
.gCQPECchIU p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="7"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gqo5PPn3yY"
        id="gqo5PPn3yY"
        data-index="7"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-7:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="7"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_7 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gqo5PPn3yY"
        data-index="7"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gqo5PPn3yY"
        data-index="7"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gublPFRkwu gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g740Eay8U5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g740Eay8U5 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg740Eay8U5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g740Eay8U5">
        .g740Eay8U5 {

}
.g740Eay8U5 p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="8"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gt7YyyzMNd"
        id="gt7YyyzMNd"
        data-index="8"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-8 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-8:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="8"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_8 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gt7YyyzMNd"
        data-index="8"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gt7YyyzMNd"
        data-index="8"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g85d5eMcT6 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcu4EnxzW8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gcu4EnxzW8 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcu4EnxzW8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gcu4EnxzW8">
        .gcu4EnxzW8 {

}
.gcu4EnxzW8 p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div
      data-index="9"
      class="ghx-4TvCNF gp-accordion-item gp-overflow-hidden gp-child-item-ghx-4TvCNF"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gj1RvebT-N"
        id="gj1RvebT-N"
        data-index="9"
        class="ghx-4TvCNF gp-accordion-item-ghx-4TvCNF-9 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghx-4TvCNF-9:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="9"
            class="ghx-4TvCNF gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghx-4TvCNF_childItem_9 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gj1RvebT-N"
        data-index="9"
        data-show="false"
        class="ghx-4TvCNF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gj1RvebT-N"
        data-index="9"
        class="ghx-4TvCNF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gYN-IZPCle gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glEJYavJz-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="glEJYavJz- "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglEJYavJz-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-glEJYavJz-">
        .glEJYavJz- {

}
.glEJYavJz- p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggD5bsxkJY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ggD5bsxkJY "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggD5bsxkJY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ggD5bsxkJY">
        .ggD5bsxkJY {

}
.ggD5bsxkJY p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-559573170474976302 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559573170474976302)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbDMzvYmj5_text","label":"ggbDMzvYmj5_text","default":"Frequently Asked Questions"},{"type":"html","id":"gghx-4TvCNF_childItem_0","label":"gghx-4TvCNF_childItem_0","default":"<p>What materials are these shoes made of?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_1","label":"gghx-4TvCNF_childItem_1","default":"<p>Are these shoes suitable for running?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_2","label":"gghx-4TvCNF_childItem_2","default":"<p>Do these shoes come in different sizes?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_3","label":"gghx-4TvCNF_childItem_3","default":"<p>Are these shoes waterproof?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_4","label":"gghx-4TvCNF_childItem_4","default":"<p>How do I clean these shoes?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_5","label":"gghx-4TvCNF_childItem_5","default":"<p>Are these shoes suitable for wide feet?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_6","label":"gghx-4TvCNF_childItem_6","default":"<p>Can I use these shoes for hiking or outdoor activities?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_7","label":"gghx-4TvCNF_childItem_7","default":"<p>Do these shoes have arch support?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_8","label":"gghx-4TvCNF_childItem_8","default":"<p>Are these shoes suitable for people with plantar fasciitis?</p>"},{"type":"html","id":"gghx-4TvCNF_childItem_9","label":"gghx-4TvCNF_childItem_9","default":"<p>What is your return/exchange policy?</p>"},{"type":"html","id":"ggl3-vH83lN_text","label":"ggl3-vH83lN_text","default":"<p>Our shoes are crafted using high-quality materials such as premium leather, breathable mesh, and durable synthetic fabrics.</p>"},{"type":"html","id":"ggpi0OZcW-k_text","label":"ggpi0OZcW-k_text","default":"<p>Yes, these shoes are designed with features like cushioning, flexibility, and traction, making them suitable for running and various athletic activities.</p>"},{"type":"html","id":"ggAbG73BvxU_text","label":"ggAbG73BvxU_text","default":"<p>Absolutely! We offer a wide range of sizes to ensure a comfortable fit for everyone. Please refer to our size chart for accurate measurements.</p>"},{"type":"html","id":"ggzWWh5xnHj_text","label":"ggzWWh5xnHj_text","default":"<p>While our shoes are water-resistant to some extent, they are not completely waterproof. They can withstand light rain and splashes but are not designed for submerging in water.</p>"},{"type":"html","id":"gg0-b4Bi-_2_text","label":"gg0-b4Bi-_2_text","default":"<p>We recommend using a soft brush or cloth with mild soap and water to gently clean the shoes. Avoid machine washing or using harsh chemicals to maintain their quality.</p>"},{"type":"html","id":"ggg28E3gnRL_text","label":"ggg28E3gnRL_text","default":"<p>Yes, we offer models that cater to various foot widths. Look for styles labeled as \"wide\" or \"extra-wide\" for a more accommodating fit.</p>"},{"type":"html","id":"ggCQPECchIU_text","label":"ggCQPECchIU_text","default":"<p>Absolutely! Our shoes are designed to provide stability, traction, and comfort, making them suitable for light hiking and outdoor activities.</p>"},{"type":"html","id":"gg740Eay8U5_text","label":"gg740Eay8U5_text","default":"<p>Yes, our shoes feature built-in arch support to provide stability and help alleviate discomfort during long periods of wear.</p>"},{"type":"html","id":"ggcu4EnxzW8_text","label":"ggcu4EnxzW8_text","default":"<p>While our shoes offer good support and cushioning, it's always best to consult with a healthcare professional for personalized advice regarding specific foot conditions.</p>"},{"type":"html","id":"gglEJYavJz-_text","label":"gglEJYavJz-_text","default":"<p>We have a hassle-free return/exchange policy. If you're not satisfied with your purchase, you can return or exchange the shoes within 30 days of receipt. Please refer to our website for detailed instructions and terms.</p>"},{"type":"html","id":"gggD5bsxkJY_text","label":"gggD5bsxkJY_text","default":"<p>More questions? <a href=\"#\"><strong><u>See our full FAQ</u></strong></a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
