

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559573170055545902.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559573170055545902.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559573170055545902.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559573170055545902.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559573170055545902.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559573170055545902.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559573170055545902.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559573170055545902.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559573170055545902.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559573170055545902.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559573170055545902.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559573170055545902.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559573170055545902.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559573170055545902.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559573170055545902.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559573170055545902.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559573170055545902.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559573170055545902.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559573170055545902.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559573170055545902.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559573170055545902.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559573170055545902.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559573170055545902.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559573170055545902.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559573170055545902.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559573170055545902.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559573170055545902.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559573170055545902.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-559573170055545902.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559573170055545902.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559573170055545902.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559573170055545902.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559573170055545902.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559573170055545902.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559573170055545902.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559573170055545902.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-559573170055545902.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-559573170055545902.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559573170055545902.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559573170055545902.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559573170055545902.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559573170055545902.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559573170055545902.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559573170055545902.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559573170055545902.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559573170055545902.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-559573170055545902.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559573170055545902.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-559573170055545902.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559573170055545902.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559573170055545902.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559573170055545902.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-559573170055545902.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559573170055545902.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559573170055545902.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559573170055545902.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559573170055545902.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559573170055545902.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559573170055545902.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559573170055545902.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559573170055545902.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559573170055545902.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559573170055545902.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559573170055545902.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559573170055545902.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559573170055545902.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559573170055545902.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559573170055545902.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-559573170055545902.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559573170055545902.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559573170055545902.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559573170055545902.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559573170055545902.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-559573170055545902.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559573170055545902.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559573170055545902 .gp-relative{position:relative}.gps-559573170055545902 .gp-z-1{z-index:1}.gps-559573170055545902 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559573170055545902 .gp-mb-0{margin-bottom:0}.gps-559573170055545902 .gp-flex{display:flex}.gps-559573170055545902 .gp-inline-flex{display:inline-flex}.gps-559573170055545902 .gp-grid{display:grid}.gps-559573170055545902 .gp-contents{display:contents}.gps-559573170055545902 .\!gp-hidden{display:none!important}.gps-559573170055545902 .gp-hidden{display:none}.gps-559573170055545902 .gp-h-full{height:100%}.gps-559573170055545902 .gp-w-full{width:100%}.gps-559573170055545902 .gp-max-w-full{max-width:100%}.gps-559573170055545902 .gp-shrink-0{flex-shrink:0}.gps-559573170055545902 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-559573170055545902 .gp-flex-col{flex-direction:column}.gps-559573170055545902 .gp-items-center{align-items:center}.gps-559573170055545902 .gp-justify-center{justify-content:center}.gps-559573170055545902 .gp-gap-y-0{row-gap:0}.gps-559573170055545902 .gp-overflow-hidden{overflow:hidden}.gps-559573170055545902 .gp-break-words{overflow-wrap:break-word}.gps-559573170055545902 .gp-rounded-none{border-radius:0}.gps-559573170055545902 .gp-text-center{text-align:center}.gps-559573170055545902 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-559573170055545902 .gp-no-underline{text-decoration-line:none}.gps-559573170055545902 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573170055545902 .gp-duration-200{transition-duration:.2s}.gps-559573170055545902 .gp-duration-300{transition-duration:.3s}.gps-559573170055545902 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573170055545902 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-559573170055545902 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-559573170055545902 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-559573170055545902 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-559573170055545902 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-559573170055545902 .tablet\:\!gp-hidden{display:none!important}.gps-559573170055545902 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559573170055545902 .mobile\:\!gp-hidden{display:none!important}.gps-559573170055545902 .mobile\:gp-hidden{display:none}}.gps-559573170055545902 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-559573170055545902 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-559573170055545902 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-559573170055545902 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-559573170055545902 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559573170055545902 .\[\&_p\]\:gp-inline p{display:inline}.gps-559573170055545902 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-559573170055545902 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-559573170055545902 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gl0KMo6cat" data-id="gl0KMo6cat"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl0KMo6cat gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtbke5w-ub gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_LKViALOo" data-id="g_LKViALOo"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:static;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_LKViALOo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gRx5_y6_3p gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtU344BbG-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtU344BbG- "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtU344BbG-_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNwC-Jxs9z">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNwC-Jxs9z "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:48px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:500px;--w-tablet:500px;--w-mobile:500px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNwC-Jxs9z_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNwC-Jxs9z">
        .gNwC-Jxs9z {

}
.gNwC-Jxs9z p {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pt:0px;--pl:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ta:left"
    
  >
    <style>
    .gsjY7hBqTw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gsjY7hBqTw:hover::before {
      
      
    }

    .gsjY7hBqTw:hover .gp-button-icon {
      color: undefined;
    }

     .gsjY7hBqTw .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gsjY7hBqTw:hover .gp-button-price {
      color: undefined;
    }

    .gsjY7hBqTw .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gsjY7hBqTw .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gsjY7hBqTw:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gdktKo6t7k" target="_self" data-id="gsjY7hBqTw" aria-label="Shop Now"
      
      data-state="idle"
      class="gsjY7hBqTw gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#D8262C;--bg:#F3383E;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-mobile:82px;--pr-mobile:82px;--pt-mobile:13px;--pb-mobile:13px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg data-id="516492058446267542" xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 9.00071C1.625 8.85153 1.68426 8.70845 1.78975 8.60296C1.89524 8.49747 2.03832 8.43821 2.1875 8.43821H15.4546L11.9142 4.89896C11.8086 4.79334 11.7493 4.65008 11.7493 4.50071C11.7493 4.35134 11.8086 4.20808 11.9142 4.10246C12.0199 3.99684 12.1631 3.9375 12.3125 3.9375C12.4619 3.9375 12.6051 3.99684 12.7108 4.10246L17.2108 8.60246C17.2631 8.65471 17.3047 8.71678 17.3331 8.78512C17.3614 8.85346 17.376 8.92672 17.376 9.00071C17.376 9.0747 17.3614 9.14796 17.3331 9.2163C17.3047 9.28464 17.2631 9.34671 17.2108 9.39896L12.7108 13.899C12.6051 14.0046 12.4619 14.0639 12.3125 14.0639C12.1631 14.0639 12.0199 14.0046 11.9142 13.899C11.8086 13.7933 11.7493 13.6501 11.7493 13.5007C11.7493 13.3513 11.8086 13.2081 11.9142 13.1025L15.4546 9.56321H2.1875C2.03832 9.56321 1.89524 9.50395 1.78975 9.39846C1.68426 9.29297 1.625 9.14989 1.625 9.00071Z" fill="white"/>
</svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggsjY7hBqTw_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gsjY7hBqTw">
        button.gsjY7hBqTw {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gt12JAoA80 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gBuLVA1vTd" data-id="gBuLVA1vTd"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pos-mobile:relative;--mb-mobile:21px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBuLVA1vTd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEu07OsTJ0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g4xVFktbXD"
    role="presentation"
    class="gp-group/image g4xVFktbXD"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pos:relative;--pos-mobile:static;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_556700909132842177-c41264c2-334c-460e-8873-ff66453e28ae_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTg1LTUwNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgZmlsbD0idXJsKCNnLTU4NS01MDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01ODUiIHRvPSI1ODUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_556700909132842177-c41264c2-334c-460e-8873-ff66453e28ae_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTg1LTUwNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgZmlsbD0idXJsKCNnLTU4NS01MDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01ODUiIHRvPSI1ODUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTg1LTUwNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTg1IiBoZWlnaHQ9IjUwNSIgZmlsbD0idXJsKCNnLTU4NS01MDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01ODUiIHRvPSI1ODUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_556700909132842177-c41264c2-334c-460e-8873-ff66453e28ae.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:501px;--w-tablet:501px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g4xVFktbXD">
        .g4xVFktbXD {

}
.g4xVFktbXD > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-559573170055545902 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559573170055545902)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggtU344BbG-_text","label":"ggtU344BbG-_text","default":"60 Days Money Back Guarantee"},{"type":"html","id":"ggNwC-Jxs9z_text","label":"ggNwC-Jxs9z_text","default":"<p>We offer a 60-day guarantee to eliminate your foot pain! We fully stand behind our product and believe we have the best product in the industry. We want to give you a full 2 months to try out our product, and if you don't like it 100%, you can contact us and we'll find a solution.</p>"},{"type":"html","id":"ggsjY7hBqTw_label","label":"ggsjY7hBqTw_label","default":"Shop Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
