

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559573170491753592.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559573170491753592.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559573170491753592.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559573170491753592.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559573170491753592.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559573170491753592.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559573170491753592.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559573170491753592.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559573170491753592.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559573170491753592.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559573170491753592.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559573170491753592.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559573170491753592.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559573170491753592.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559573170491753592.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-559573170491753592.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559573170491753592.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559573170491753592.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559573170491753592.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559573170491753592.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559573170491753592.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559573170491753592.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559573170491753592.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559573170491753592.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559573170491753592.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559573170491753592.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559573170491753592.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-559573170491753592.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559573170491753592.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559573170491753592.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559573170491753592.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559573170491753592.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559573170491753592.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559573170491753592.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559573170491753592.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-559573170491753592.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559573170491753592.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559573170491753592.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559573170491753592.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559573170491753592.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559573170491753592.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559573170491753592.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559573170491753592.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559573170491753592.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559573170491753592.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-559573170491753592.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-559573170491753592.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559573170491753592.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559573170491753592.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559573170491753592.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-559573170491753592.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559573170491753592.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559573170491753592.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559573170491753592.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559573170491753592.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559573170491753592.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559573170491753592.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559573170491753592.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559573170491753592.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559573170491753592.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-559573170491753592.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-559573170491753592.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-559573170491753592.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-559573170491753592.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-559573170491753592.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-559573170491753592.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559573170491753592.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559573170491753592.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559573170491753592.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559573170491753592.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559573170491753592.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-559573170491753592.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559573170491753592.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559573170491753592.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559573170491753592.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559573170491753592.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559573170491753592.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559573170491753592.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559573170491753592 .gp-relative{position:relative}.gps-559573170491753592 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559573170491753592 .gp-mb-0{margin-bottom:0}.gps-559573170491753592 .gp-flex{display:flex}.gps-559573170491753592 .gp-grid{display:grid}.gps-559573170491753592 .gp-contents{display:contents}.gps-559573170491753592 .\!gp-hidden{display:none!important}.gps-559573170491753592 .gp-hidden{display:none}.gps-559573170491753592 .gp-h-full{height:100%}.gps-559573170491753592 .gp-w-full{width:100%}.gps-559573170491753592 .gp-max-w-full{max-width:100%}.gps-559573170491753592 .gp-flex-col{flex-direction:column}.gps-559573170491753592 .gp-gap-y-0{row-gap:0}.gps-559573170491753592 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573170491753592 .gp-duration-200{transition-duration:.2s}.gps-559573170491753592 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559573170491753592 .tablet\:\!gp-hidden{display:none!important}.gps-559573170491753592 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559573170491753592 .mobile\:\!gp-hidden{display:none!important}.gps-559573170491753592 .mobile\:gp-hidden{display:none}}.gps-559573170491753592 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559573170491753592 .\[\&_p\]\:gp-inline p{display:inline}.gps-559573170491753592 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-559573170491753592 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gg3N7M_rsf" data-id="gg3N7M_rsf"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:80px;--pl:20px;--pb:0px;--pr:20px;--pt-mobile:70px;--pb-mobile:40px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gg3N7M_rsf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfZyPb-CNw gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gAHWbVmmkl" data-id="gAHWbVmmkl"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--mb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAHWbVmmkl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw5c7ZZfaG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4v2pbFlpF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4v2pbFlpF "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Abhaya-Libre, 'Abhaya Libre'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4v2pbFlpF_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gtI4XwNpZ7" data-id="gtI4XwNpZ7"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:21px;--cg:30px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtI4XwNpZ7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXfirwO9pE gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gepdC_a_wj"
    role="presentation"
    class="gp-group/image gepdC_a_wj"
    style="--mb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_556700909132842177-92101093-da1a-49cd-91ca-24bd7bd7ce6e_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSI2MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTYwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iNjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSI2MDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC02MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_556700909132842177-f52b3769-a267-424d-9078-c647044a0ddc_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNTAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNTAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_556700909132842177-f52b3769-a267-424d-9078-c647044a0ddc.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:4/3;--objf:cover;--objf-mobile:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grJe13aVmH gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFbWnrNLQ6" data-id="gFbWnrNLQ6"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:32px;--mb-mobile:10px;--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFbWnrNLQ6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRXyeCeAjI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghgPVzPohU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghgPVzPohU "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgc-mobile:#EEDF20;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;overflow:hidden"
        >{{ section.settings.gghgPVzPohU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ghgPVzPohU">
        .ghgPVzPohU {

}
.ghgPVzPohU p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmey0qjhkr gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmE2lHkpK8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gmE2lHkpK8 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmE2lHkpK8_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDoP2rml2_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDoP2rml2_ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDoP2rml2__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gDoP2rml2_">
        .gDoP2rml2_ {

}
.gDoP2rml2_ p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gYwxeVTHm5" data-id="gYwxeVTHm5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:10px;--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYwxeVTHm5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT2SBc61dw gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gefk-8I-Sv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gefk-8I-Sv "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgc-mobile:#eedf20;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;overflow:hidden"
        >{{ section.settings.ggefk-8I-Sv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gefk-8I-Sv">
        .gefk-8I-Sv {

}
.gefk-8I-Sv p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAEYxDXUep gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghDnBwxLx8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghDnBwxLx8 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghDnBwxLx8_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvbNVVTeIH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gvbNVVTeIH "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvbNVVTeIH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gvbNVVTeIH">
        .gvbNVVTeIH {

}
.gvbNVVTeIH p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4wwt7E6W2" data-id="g4wwt7E6W2"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--mb-mobile:0px;--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4wwt7E6W2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glj9F184TL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gecyT2pLDv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gecyT2pLDv "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgc-mobile:#eedf20;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;overflow:hidden"
        >{{ section.settings.ggecyT2pLDv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gecyT2pLDv">
        .gecyT2pLDv {

}
.gecyT2pLDv p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGCrhHxzr8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gL9J6gDRXG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gL9J6gDRXG "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggL9J6gDRXG_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggnfZbaYs_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ggnfZbaYs_ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggnfZbaYs__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ggnfZbaYs_">
        .ggnfZbaYs_ {

}
.ggnfZbaYs_ p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abhayalibre/v17/e3tmeuGtX-Co5MNzeAOqinEQfEnR.woff) format('woff');
}
/* sinhala */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abhayalibre/v17/e3tmeuGtX-Co5MNzeAOqinEQYUnXgPRE4r80.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0D81-0DF4, U+1CF2, U+200C-200D, U+25CC, U+111E1-111F4;
}
/* latin-ext */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abhayalibre/v17/e3tmeuGtX-Co5MNzeAOqinEQcknXgPRE4r80.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abhayalibre/v17/e3tmeuGtX-Co5MNzeAOqinEQfEnXgPRE4g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-559573170491753592 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559573170491753592)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4v2pbFlpF_text","label":"gg4v2pbFlpF_text","default":"How to avail discount"},{"type":"html","id":"gghgPVzPohU_text","label":"gghgPVzPohU_text","default":"<p>1</p>"},{"type":"html","id":"ggmE2lHkpK8_text","label":"ggmE2lHkpK8_text","default":"Get the Card"},{"type":"html","id":"ggDoP2rml2__text","label":"ggDoP2rml2__text","default":"<p>After your <strong>Bracelet </strong>is delivered, you’ll find a special card inside the package. Keep it safe—it holds your discount code!</p>"},{"type":"html","id":"ggefk-8I-Sv_text","label":"ggefk-8I-Sv_text","default":"<p>2</p>"},{"type":"html","id":"gghDnBwxLx8_text","label":"gghDnBwxLx8_text","default":"Open the Link"},{"type":"html","id":"ggvbNVVTeIH_text","label":"ggvbNVVTeIH_text","default":"<p>On the card, you’ll see a website link. Simply type it into your browser or scan the QR code to access the discount page.</p>"},{"type":"html","id":"ggecyT2pLDv_text","label":"ggecyT2pLDv_text","default":"<p>3</p>"},{"type":"html","id":"ggL9J6gDRXG_text","label":"ggL9J6gDRXG_text","default":"Enter the Code"},{"type":"html","id":"gggnfZbaYs__text","label":"gggnfZbaYs__text","default":"<p>Copy the unique code from the card and paste it to instantly avial your Free Talktime! Enjoy your savings!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
