

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559578754217673513.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559578754217673513.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559578754217673513.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559578754217673513.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559578754217673513.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559578754217673513.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559578754217673513.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559578754217673513.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559578754217673513.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559578754217673513.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559578754217673513.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559578754217673513.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559578754217673513.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559578754217673513.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-559578754217673513.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559578754217673513.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559578754217673513.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559578754217673513.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559578754217673513.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559578754217673513.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559578754217673513.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559578754217673513.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559578754217673513.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559578754217673513.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559578754217673513.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559578754217673513.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-559578754217673513.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-559578754217673513.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559578754217673513.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559578754217673513.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559578754217673513.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559578754217673513.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559578754217673513.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559578754217673513.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559578754217673513.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559578754217673513.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-559578754217673513.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559578754217673513.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-559578754217673513.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559578754217673513.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559578754217673513.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-559578754217673513.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-559578754217673513.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559578754217673513.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-559578754217673513.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-559578754217673513.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559578754217673513.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559578754217673513.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-559578754217673513.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-559578754217673513.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-559578754217673513.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-559578754217673513.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559578754217673513.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-559578754217673513.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-559578754217673513.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-559578754217673513.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-559578754217673513.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-559578754217673513.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559578754217673513.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559578754217673513.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-559578754217673513.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559578754217673513.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559578754217673513.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559578754217673513.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559578754217673513.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-559578754217673513.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-559578754217673513.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-559578754217673513.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-559578754217673513 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-559578754217673513 .gp-invisible{visibility:hidden}.gps-559578754217673513 .gp-absolute{position:absolute}.gps-559578754217673513 .gp-relative{position:relative}.gps-559578754217673513 .gp-top-0{top:0}.gps-559578754217673513 .gp-z-1{z-index:1}.gps-559578754217673513 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559578754217673513 .gp-mb-0{margin-bottom:0}.gps-559578754217673513 .gp-flex{display:flex}.gps-559578754217673513 .gp-inline-flex{display:inline-flex}.gps-559578754217673513 .gp-grid{display:grid}.gps-559578754217673513 .\!gp-hidden{display:none!important}.gps-559578754217673513 .gp-hidden{display:none}.gps-559578754217673513 .gp-h-full{height:100%}.gps-559578754217673513 .gp-w-full{width:100%}.gps-559578754217673513 .gp-max-w-full{max-width:100%}.gps-559578754217673513 .gp-flex-col{flex-direction:column}.gps-559578754217673513 .gp-items-center{align-items:center}.gps-559578754217673513 .\!gp-justify-end{justify-content:flex-end!important}.gps-559578754217673513 .\!gp-justify-center{justify-content:center!important}.gps-559578754217673513 .gp-justify-center{justify-content:center}.gps-559578754217673513 .gp-gap-y-0{row-gap:0}.gps-559578754217673513 .gp-overflow-hidden{overflow:hidden}.gps-559578754217673513 .gp-break-words{overflow-wrap:break-word}.gps-559578754217673513 .gp-rounded-none{border-radius:0}.gps-559578754217673513 .gp-no-underline{text-decoration-line:none}.gps-559578754217673513 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559578754217673513 .gp-duration-200{transition-duration:.2s}.gps-559578754217673513 .gp-duration-300{transition-duration:.3s}.gps-559578754217673513 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559578754217673513 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-559578754217673513 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-559578754217673513 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-559578754217673513 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-559578754217673513 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-559578754217673513 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-559578754217673513 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-559578754217673513 .tablet\:gp-relative{position:relative}.gps-559578754217673513 .tablet\:\!gp-hidden{display:none!important}.gps-559578754217673513 .tablet\:gp-hidden{display:none}.gps-559578754217673513 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-559578754217673513 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-559578754217673513 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-559578754217673513 .mobile\:gp-absolute{position:absolute}.gps-559578754217673513 .mobile\:\!gp-hidden{display:none!important}.gps-559578754217673513 .mobile\:gp-hidden{display:none}.gps-559578754217673513 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-559578754217673513 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-559578754217673513 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-559578754217673513 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-559578754217673513 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-559578754217673513 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559578754217673513 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gDHIXJ23GJ" data-id="gDHIXJ23GJ"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDHIXJ23GJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpFZjJ2HEQ gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb-mobile:0px">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0878/4907/4985/files/gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474.png","width":1920,"height":810,"backupFileKey":"gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0878/4907/4985/files/gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474.png","width":1920,"height":810,"backupFileKey":"gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"image":{"src":"https://cdn.shopify.com/s/files/1/0878/4907/4985/files/gempages_556700909132842177-875e7cf0-131e-4ea1-96b8-aea3449e5049.png","width":600,"height":600,"backupFileKey":"gempages_556700909132842177-875e7cf0-131e-4ea1-96b8-aea3449e5049.png","storage":"FILE_CONTENT"},"type":"image","size":"contain","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","color":"bg-2"}},"uid":"g3ZLn218T5","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="g3ZLn218T5 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-mobile:auto"
        data-id="g3ZLn218T5"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_556700909132842177-875e7cf0-131e-4ea1-96b8-aea3449e5049_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI4MTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtODEwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjgxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI4MTAiIGZpbGw9InVybCgjZy0xOTIwLTgxMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:auto;--d:block;--d-tablet:none;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:100%;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:contain;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI4MTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtODEwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjgxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI4MTAiIGZpbGw9InVybCgjZy0xOTIwLTgxMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474.png" | file_url }}" data-srcset="{{ "gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474_1024x.png" | file_url }}" data-srcset="{{ "gempages_556700909132842177-53f422ca-432f-461f-944f-7c87a39ed474_1024x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_556700909132842177-875e7cf0-131e-4ea1-96b8-aea3449e5049_768x.png" | file_url }}" data-srcset="{{ "gempages_556700909132842177-875e7cf0-131e-4ea1-96b8-aea3449e5049_768x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:28px;--pb-mobile:28px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-relative mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6VkdzVFa3 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--ml:var(--g-s-xxs);--mb:17px;--mr:0px;--pl:48px;--pr:var(--g-s-3xl);--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gm8KEk6er9.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gm8KEk6er9:hover::before {
      
      
    }

    .gm8KEk6er9:hover .gp-button-icon {
      color: undefined;
    }

     .gm8KEk6er9 .gp-button-icon {
      color: #242424;
    }

    .gm8KEk6er9:hover .gp-button-price {
      color: undefined;
    }

    .gm8KEk6er9 .gp-button-price {
      color: #242424;
    }

    .gm8KEk6er9 .gp-product-dot-price {
       color: #242424;
    }

    .gm8KEk6er9:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gm8KEk6er9" aria-label="<p>Shop now</p>"
      
      data-state="idle"
      class="gm8KEk6er9 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-g-paragraph-1"
      style="--bg:#F5D402;--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#242424;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:#242424"
      >
        {{ section.settings.ggm8KEk6er9_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-559578754217673513 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559578754217673513)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggm8KEk6er9_label","label":"ggm8KEk6er9_label","default":"<p>Shop now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
