

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559573170441421629.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559573170441421629.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559573170441421629.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559573170441421629.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559573170441421629.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559573170441421629.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559573170441421629.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559573170441421629.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559573170441421629.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559573170441421629.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559573170441421629.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559573170441421629.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559573170441421629.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559573170441421629.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559573170441421629.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559573170441421629.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559573170441421629.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559573170441421629.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559573170441421629.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559573170441421629.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559573170441421629.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-559573170441421629.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559573170441421629.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559573170441421629.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559573170441421629.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559573170441421629.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559573170441421629.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559573170441421629.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-559573170441421629.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559573170441421629.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559573170441421629.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559573170441421629.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559573170441421629.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559573170441421629.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559573170441421629.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559573170441421629.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-559573170441421629.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559573170441421629.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559573170441421629.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559573170441421629.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559573170441421629.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559573170441421629.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559573170441421629.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559573170441421629.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559573170441421629.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-559573170441421629.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-559573170441421629.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559573170441421629.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-559573170441421629.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559573170441421629.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559573170441421629.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559573170441421629.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559573170441421629.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559573170441421629.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559573170441421629.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559573170441421629.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559573170441421629.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559573170441421629.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559573170441421629.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559573170441421629.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-559573170441421629.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-559573170441421629.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559573170441421629.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559573170441421629.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559573170441421629.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559573170441421629.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559573170441421629.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559573170441421629.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-559573170441421629.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559573170441421629.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559573170441421629.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559573170441421629.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559573170441421629.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-559573170441421629.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-559573170441421629.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559573170441421629.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559573170441421629 .gp-relative{position:relative}.gps-559573170441421629 .gp-z-1{z-index:1}.gps-559573170441421629 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559573170441421629 .gp-mb-0{margin-bottom:0}.gps-559573170441421629 .gp-flex{display:flex}.gps-559573170441421629 .gp-inline-flex{display:inline-flex}.gps-559573170441421629 .gp-grid{display:grid}.gps-559573170441421629 .\!gp-hidden{display:none!important}.gps-559573170441421629 .gp-hidden{display:none}.gps-559573170441421629 .gp-h-full{height:100%}.gps-559573170441421629 .gp-max-w-full{max-width:100%}.gps-559573170441421629 .gp-flex-col{flex-direction:column}.gps-559573170441421629 .gp-items-center{align-items:center}.gps-559573170441421629 .gp-justify-center{justify-content:center}.gps-559573170441421629 .gp-gap-y-0{row-gap:0}.gps-559573170441421629 .gp-overflow-hidden{overflow:hidden}.gps-559573170441421629 .gp-break-words{overflow-wrap:break-word}.gps-559573170441421629 .gp-rounded-none{border-radius:0}.gps-559573170441421629 .gp-text-center{text-align:center}.gps-559573170441421629 .gp-leading-\[0\]{line-height:0}.gps-559573170441421629 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-559573170441421629 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-559573170441421629 .gp-no-underline{text-decoration-line:none}.gps-559573170441421629 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573170441421629 .gp-duration-200{transition-duration:.2s}.gps-559573170441421629 .gp-duration-300{transition-duration:.3s}.gps-559573170441421629 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573170441421629 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-559573170441421629 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-559573170441421629 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-559573170441421629 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-559573170441421629 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-559573170441421629 .tablet\:\!gp-hidden{display:none!important}.gps-559573170441421629 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559573170441421629 .mobile\:\!gp-hidden{display:none!important}.gps-559573170441421629 .mobile\:gp-hidden{display:none}}.gps-559573170441421629 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-559573170441421629 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-559573170441421629 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-559573170441421629 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-559573170441421629 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559573170441421629 .\[\&_p\]\:gp-inline p{display:inline}.gps-559573170441421629 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-559573170441421629 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-559573170441421629 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gF2qYsHA5A" data-id="gF2qYsHA5A"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:80px;--pl:20px;--pb:66px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#3D4C62;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF2qYsHA5A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="garrX9P-m5 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g7tZOvWKID" data-id="g7tZOvWKID"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7tZOvWKID gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjND8EmVur gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gT93wBsebd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gT93wBsebd "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:37px;--size-mobile:28px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggT93wBsebd_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="glc7GBG0O-" data-id="glc7GBG0O-"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:42px;--cg:48px;--pc:center;--pc-mobile:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glc7GBG0O- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFQMHp7P0m gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:18px;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gNIjzSQjwI.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gNIjzSQjwI:hover::before {
      
      
    }

    .gNIjzSQjwI:hover .gp-button-icon {
      color: undefined;
    }

     .gNIjzSQjwI .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gNIjzSQjwI:hover .gp-button-price {
      color: undefined;
    }

    .gNIjzSQjwI .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gNIjzSQjwI .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gNIjzSQjwI:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gNIjzSQjwI" aria-label="About"
      
      data-state="idle"
      class="gNIjzSQjwI gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggNIjzSQjwI_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gNIjzSQjwI">
        button.gNIjzSQjwI {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFWxmIkm64 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:18px;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gIyennMD6a.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gIyennMD6a:hover::before {
      
      
    }

    .gIyennMD6a:hover .gp-button-icon {
      color: undefined;
    }

     .gIyennMD6a .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gIyennMD6a:hover .gp-button-price {
      color: undefined;
    }

    .gIyennMD6a .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gIyennMD6a .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gIyennMD6a:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gIyennMD6a" aria-label="Blog"
      
      data-state="idle"
      class="gIyennMD6a gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggIyennMD6a_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gIyennMD6a">
        button.gIyennMD6a {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2hceVSz0p gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:18px;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .guDk0LL6lG.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .guDk0LL6lG:hover::before {
      
      
    }

    .guDk0LL6lG:hover .gp-button-icon {
      color: undefined;
    }

     .guDk0LL6lG .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .guDk0LL6lG:hover .gp-button-price {
      color: undefined;
    }

    .guDk0LL6lG .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .guDk0LL6lG .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .guDk0LL6lG:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="guDk0LL6lG" aria-label="Stores"
      
      data-state="idle"
      class="guDk0LL6lG gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gguDk0LL6lG_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-guDk0LL6lG">
        button.guDk0LL6lG {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFcujGqG1d gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:18px;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .g_XvJvoyqJ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g_XvJvoyqJ:hover::before {
      
      
    }

    .g_XvJvoyqJ:hover .gp-button-icon {
      color: undefined;
    }

     .g_XvJvoyqJ .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g_XvJvoyqJ:hover .gp-button-price {
      color: undefined;
    }

    .g_XvJvoyqJ .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g_XvJvoyqJ .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g_XvJvoyqJ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="g_XvJvoyqJ" aria-label="Refunds"
      
      data-state="idle"
      class="g_XvJvoyqJ gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg_XvJvoyqJ_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g_XvJvoyqJ">
        button.g_XvJvoyqJ {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOZfc5LY24 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:18px;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gqaPSd-HwD.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gqaPSd-HwD:hover::before {
      
      
    }

    .gqaPSd-HwD:hover .gp-button-icon {
      color: undefined;
    }

     .gqaPSd-HwD .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gqaPSd-HwD:hover .gp-button-price {
      color: undefined;
    }

    .gqaPSd-HwD .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gqaPSd-HwD .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gqaPSd-HwD:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gqaPSd-HwD" aria-label="Shipping Policy"
      
      data-state="idle"
      class="gqaPSd-HwD gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggqaPSd-HwD_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gqaPSd-HwD">
        button.gqaPSd-HwD {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gT59JEHJwE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gr0IF0lAjL.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gr0IF0lAjL:hover::before {
      
      
    }

    .gr0IF0lAjL:hover .gp-button-icon {
      color: undefined;
    }

     .gr0IF0lAjL .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gr0IF0lAjL:hover .gp-button-price {
      color: undefined;
    }

    .gr0IF0lAjL .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gr0IF0lAjL .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gr0IF0lAjL:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gr0IF0lAjL" aria-label="Terms &amp; Conditions"
      
      data-state="idle"
      class="gr0IF0lAjL gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggr0IF0lAjL_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gr0IF0lAjL">
        button.gr0IF0lAjL {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gSenz-aZg2" data-id="gSenz-aZg2"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:48px;--mb-mobile:42px;--cg:33px;--cg-mobile:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSenz-aZg2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gD995nvop1 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g49UHwliSL"
    >
      <div 
      data-id="g49UHwliSL"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_blank" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516637763433399446" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M11.1292 18.5574V10.9549H13.6809L14.0634 7.99242H11.1301V6.10075C11.1301 5.24242 11.3676 4.65825 12.5976 4.65825L14.1667 4.65742V2.00742C13.4075 1.92706 12.6444 1.88811 11.8809 1.89075C9.61839 1.89075 8.07005 3.27158 8.07005 5.80742V7.99242H5.51172V10.9549H8.07005V18.5574H11.1292Z" fill="white"/>
</svg></span>
    </a>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbfR9xS_3h gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gncB-icfYF"
    >
      <div 
      data-id="gncB-icfYF"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_blank" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516638035962496150" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M11.5222 8.77491L17.4785 2H16.0671L10.8952 7.88256L6.76437 2H2L8.24656 10.8955L2 18H3.41155L8.87321 11.7878L13.2356 18H18L11.5218 8.77491H11.5222ZM9.58887 10.9738L8.95596 10.0881L3.92015 3.03974H6.0882L10.1522 8.72795L10.7851 9.61374L16.0677 17.0075H13.8997L9.58887 10.9742V10.9738Z" fill="white"/>
</svg></span>
    </a>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjSJhNZzSs gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] g42E-I9P81"
    >
      <div 
      data-id="g42E-I9P81"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_blank" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516638081797850262" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 6.47266C1.25 3.71123 3.48858 1.47266 6.25 1.47266H13.75C16.5114 1.47266 18.75 3.71123 18.75 6.47266V13.9727C18.75 16.7341 16.5114 18.9727 13.75 18.9727H6.25C3.48858 18.9727 1.25 16.7341 1.25 13.9727V6.47266ZM10 7.09766C9.38193 7.09766 8.77775 7.28093 8.26384 7.62431C7.74994 7.96769 7.3494 8.45575 7.11288 9.02677C6.87635 9.59779 6.81447 10.2261 6.93505 10.8323C7.05563 11.4385 7.35325 11.9953 7.79029 12.4324C8.22733 12.8694 8.78415 13.167 9.39034 13.2876C9.99653 13.4082 10.6249 13.3463 11.1959 13.1098C11.7669 12.8733 12.255 12.4727 12.5983 11.9588C12.9417 11.4449 13.125 10.8407 13.125 10.2227C13.125 9.39407 12.7959 8.59941 12.2102 8.01339C11.6244 7.42738 10.8298 7.09799 10.0013 7.09766H10ZM14.1667 4.75565C14.3208 4.65264 14.5021 4.59766 14.6875 4.59766C14.9361 4.59776 15.1748 4.69657 15.3505 4.87238C15.5263 5.04818 15.625 5.28658 15.625 5.53516C15.625 5.72058 15.57 5.90183 15.467 6.056C15.364 6.21017 15.2176 6.33034 15.0463 6.40129C14.875 6.47225 14.6865 6.49082 14.5046 6.45464C14.3227 6.41847 14.1557 6.32918 14.0246 6.19807C13.8935 6.06696 13.8042 5.89991 13.768 5.71805C13.7318 5.5362 13.7504 5.3477 13.8214 5.17639C13.8923 5.00508 14.0125 4.85867 14.1667 4.75565Z" fill="white"/>
</svg></span>
    </a>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCrA8xrFQm gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gHvrWbI25D"
    >
      <div 
      data-id="gHvrWbI25D"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_blank" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516638103541122198" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M10.0637 2.72266H10.175C11.2025 2.72641 16.4088 2.76391 17.8125 3.14141C18.2369 3.25662 18.6236 3.48118 18.9339 3.79267C19.2443 4.10415 19.4675 4.49164 19.5812 4.91641C19.7075 5.39141 19.7962 6.02016 19.8563 6.66891L19.8688 6.79891L19.8962 7.12391L19.9062 7.25391C19.9875 8.39641 19.9975 9.46641 19.9987 9.70016V9.79391C19.9975 10.0364 19.9862 11.1789 19.8962 12.3689L19.8862 12.5002L19.875 12.6302C19.8125 13.3452 19.72 14.0552 19.5812 14.5777C19.4679 15.0026 19.2448 15.3903 18.9344 15.7018C18.6239 16.0133 18.237 16.2378 17.8125 16.3527C16.3625 16.7427 10.8512 16.7702 10.0875 16.7714H9.91C9.52375 16.7714 7.92625 16.7639 6.25125 16.7064L6.03875 16.6989L5.93 16.6939L5.5025 16.6764C4.115 16.6152 2.79375 16.5164 2.185 16.3514C1.76061 16.2367 1.37383 16.0124 1.06341 15.7011C0.752979 15.3898 0.529809 15.0024 0.41625 14.5777C0.2775 14.0564 0.185 13.3452 0.1225 12.6302L0.1025 12.3689C0.0408095 11.5219 0.00662483 10.6731 0 9.82391V9.67016C0.0025 9.40141 0.0125 8.47266 0.08 7.44766L0.08875 7.31891L0.0925 7.25391L0.1025 7.12391L0.13 6.79891L0.1425 6.66891C0.2025 6.02016 0.29125 5.39016 0.4175 4.91641C0.530867 4.49147 0.753953 4.10379 1.06439 3.79226C1.37483 3.48072 1.76171 3.25627 2.18625 3.14141C2.795 2.97891 4.11625 2.87891 5.50375 2.81641L5.71625 2.80766L6.03875 2.79641L6.2525 2.78766C7.44213 2.74937 8.63226 2.72812 9.8225 2.72391H10.0637V2.72266ZM8 6.73516V12.7577L13.1962 9.74766L8 6.73516Z" fill="white"/>
</svg></span>
    </a>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJa9NtiVby">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJa9NtiVby "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJa9NtiVby_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gJa9NtiVby">
        .gJa9NtiVby {

}
.gJa9NtiVby p {

}
      </style>
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#FFFFFF;--bottom:64px;--bottom-mobile:42px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pos:fixed;--right:32px;--right-mobile:20px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-leading-[0] gNVCLz5jeF"
    >
      <div 
      data-id="gNVCLz5jeF"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:13px;--pr:13px;--pt:13px;--pb:13px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#FFFFFF;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#3D4C62"
      >
      <a
      href="#gMFDc03RMc" target="_self" title
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:22px;--h:22px;--minw:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609070412136">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M204.24,116.24a6,6,0,0,1-8.48,0L134,54.49V216a6,6,0,0,1-12,0V54.49L60.24,116.24a6,6,0,0,1-8.48-8.48l72-72a6,6,0,0,1,8.48,0l72,72A6,6,0,0,1,204.24,116.24Z" /></svg></span>
    </a>
      </div>
    </div>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-559573170441421629 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559573170441421629)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggT93wBsebd_text","label":"ggT93wBsebd_text","default":"GEMRS"},{"type":"html","id":"ggNIjzSQjwI_label","label":"ggNIjzSQjwI_label","default":"About"},{"type":"html","id":"ggIyennMD6a_label","label":"ggIyennMD6a_label","default":"Blog"},{"type":"html","id":"gguDk0LL6lG_label","label":"gguDk0LL6lG_label","default":"Stores"},{"type":"html","id":"gg_XvJvoyqJ_label","label":"gg_XvJvoyqJ_label","default":"Refunds"},{"type":"html","id":"ggqaPSd-HwD_label","label":"ggqaPSd-HwD_label","default":"Shipping Policy"},{"type":"html","id":"ggr0IF0lAjL_label","label":"ggr0IF0lAjL_label","default":"Terms &amp; Conditions"},{"type":"html","id":"ggJa9NtiVby_text","label":"ggJa9NtiVby_text","default":"<p>© 2024 GemPages</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
