

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559573169787110446.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559573169787110446.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559573169787110446.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559573169787110446.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559573169787110446.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559573169787110446.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-559573169787110446.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559573169787110446.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559573169787110446.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559573169787110446.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559573169787110446.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559573169787110446.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559573169787110446.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559573169787110446.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559573169787110446.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559573169787110446.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559573169787110446.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559573169787110446.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559573169787110446.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559573169787110446.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559573169787110446.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559573169787110446.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559573169787110446.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-559573169787110446.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559573169787110446.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559573169787110446.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559573169787110446.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-559573169787110446.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559573169787110446.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559573169787110446.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559573169787110446.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559573169787110446.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559573169787110446.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-559573169787110446.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559573169787110446.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-559573169787110446.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559573169787110446.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559573169787110446.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559573169787110446.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559573169787110446.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559573169787110446.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559573169787110446.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-559573169787110446.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559573169787110446.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-559573169787110446.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-559573169787110446.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559573169787110446.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559573169787110446.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-559573169787110446.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559573169787110446.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-559573169787110446.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-559573169787110446.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559573169787110446.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559573169787110446.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559573169787110446.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-559573169787110446.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-559573169787110446.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559573169787110446.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559573169787110446.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-559573169787110446.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-559573169787110446.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-559573169787110446.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559573169787110446.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559573169787110446.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559573169787110446.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-559573169787110446.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559573169787110446.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559573169787110446.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559573169787110446.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559573169787110446.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559573169787110446.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-559573169787110446.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559573169787110446.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559573169787110446.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559573169787110446.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559573169787110446.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-559573169787110446.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-559573169787110446.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559573169787110446.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559573169787110446 .gp-invisible{visibility:hidden}.gps-559573169787110446 .gp-absolute{position:absolute}.gps-559573169787110446 .gp-relative{position:relative}.gps-559573169787110446 .gp-inset-0{inset:0}.gps-559573169787110446 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-559573169787110446 .gp-top-0{top:0}.gps-559573169787110446 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-559573169787110446 .gp-z-1{z-index:1}.gps-559573169787110446 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559573169787110446 .gp-mb-0{margin-bottom:0}.gps-559573169787110446 .gp-flex{display:flex}.gps-559573169787110446 .gp-grid{display:grid}.gps-559573169787110446 .\!gp-hidden{display:none!important}.gps-559573169787110446 .gp-hidden{display:none}.gps-559573169787110446 .gp-h-full{height:100%}.gps-559573169787110446 .gp-w-full{width:100%}.gps-559573169787110446 .gp-max-w-full{max-width:100%}.gps-559573169787110446 .gp-flex-col{flex-direction:column}.gps-559573169787110446 .gp-items-center{align-items:center}.gps-559573169787110446 .\!gp-justify-center{justify-content:center!important}.gps-559573169787110446 .gp-gap-y-0{row-gap:0}.gps-559573169787110446 .gp-overflow-hidden{overflow:hidden}.gps-559573169787110446 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573169787110446 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559573169787110446 .gp-duration-200{transition-duration:.2s}.gps-559573169787110446 .gp-duration-300{transition-duration:.3s}.gps-559573169787110446 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-559573169787110446 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-559573169787110446 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-559573169787110446 .tablet\:gp-absolute{position:absolute}.gps-559573169787110446 .tablet\:\!gp-hidden{display:none!important}.gps-559573169787110446 .tablet\:gp-hidden{display:none}.gps-559573169787110446 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-559573169787110446 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-559573169787110446 .mobile\:gp-absolute{position:absolute}.gps-559573169787110446 .mobile\:\!gp-hidden{display:none!important}.gps-559573169787110446 .mobile\:gp-hidden{display:none}.gps-559573169787110446 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-559573169787110446 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-559573169787110446 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-559573169787110446 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-559573169787110446 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559573169787110446 .\[\&_p\]\:gp-inline p{display:inline}.gps-559573169787110446 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-559573169787110446 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gK1Quqv7_z" data-id="gK1Quqv7_z"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:40px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gK1Quqv7_z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gebc__5-58 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc.png","height":299,"src":"https://cdn.shopify.com/s/files/1/0878/4907/4985/files/gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc.png","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc.png","height":299,"src":"https://cdn.shopify.com/s/files/1/0878/4907/4985/files/gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc.png","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"image":{"backupFileKey":"gempages_556700909132842177-feaec65e-7ce8-46b3-8c33-d9239e6ff1bc.png","height":497,"src":"https://cdn.shopify.com/s/files/1/0878/4907/4985/files/gempages_556700909132842177-feaec65e-7ce8-46b3-8c33-d9239e6ff1bc.png","storage":"FILE_CONTENT","width":563},"type":"image"}},"uid":"g82niCP_b8","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="g82niCP_b8 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pt:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
        data-id="g82niCP_b8"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_556700909132842177-feaec65e-7ce8-46b3-8c33-d9239e6ff1bc_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYzIiBoZWlnaHQ9IjQ5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTYzLTQ5NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTYzIiBoZWlnaHQ9IjQ5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTYzIiBoZWlnaHQ9IjQ5NyIgZmlsbD0idXJsKCNnLTU2My00OTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjMiIHRvPSI1NjMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIyOTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtMjk5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIyOTkiIGZpbGw9InVybCgjZy0xNDQwLTI5OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:auto;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIyOTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtMjk5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIyOTkiIGZpbGw9InVybCgjZy0xNDQwLTI5OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYzIiBoZWlnaHQ9IjQ5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTYzLTQ5NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTYzIiBoZWlnaHQ9IjQ5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTYzIiBoZWlnaHQ9IjQ5NyIgZmlsbD0idXJsKCNnLTU2My00OTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjMiIHRvPSI1NjMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc.png" | file_url }}" data-srcset="{{ "gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc_1024x.png" | file_url }}" data-srcset="{{ "gempages_556700909132842177-133929bf-cac9-43b9-bf39-70cd3799d8dc_1024x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_556700909132842177-feaec65e-7ce8-46b3-8c33-d9239e6ff1bc_768x.png" | file_url }}" data-srcset="{{ "gempages_556700909132842177-feaec65e-7ce8-46b3-8c33-d9239e6ff1bc_768x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--hvr-bgc:#1B232F;--bgc:#1B232F;--top:0;--left:0;--op:60%;--hvr-op:60%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:80px;--pb:80px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:70px;--pb-mobile:70px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqc9ymxqUM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKYeux7fZR">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gKYeux7fZR "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:33px;--size-tablet:37px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKYeux7fZR_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2ep4ryg_-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g2ep4ryg_- "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:996px;--w-tablet:996px;--w-mobile:996px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2ep4ryg_-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-559573169787110446 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559573169787110446)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKYeux7fZR_text","label":"ggKYeux7fZR_text","default":"100% Happiness Guarantee"},{"type":"html","id":"gg2ep4ryg_-_text","label":"gg2ep4ryg_-_text","default":"<p>Our 100% Happiness Guarantee puts your satisfaction first. If for any reason you're not delighted with your purchase, simply reach out to our dedicated customer support team, and we'll swiftly make it right, ensuring a smile on your face and a truly joyful shopping experience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
