{% liquid
  assign heading_size = settings.heading_base_size | times: section.settings.heading_size | times: 0.000225
  assign enable_desktop_slider = section.settings.enable_carousel_on_desktop
  assign enable_tablet_slider = section.settings.enable_carousel_on_desktop
  assign columns_mobile =  section.settings.columns_mobile | plus: 0
  if section.settings.layout_mobile == 'carousel'
    if section.blocks.size <= columns_mobile
      assign swiper_on_mobile = false
    else
      assign swiper_on_mobile = true
    endif
  else
    assign swiper_on_mobile = false
  endif
  if section.blocks.size <= section.settings.columns_desktop
    assign enable_desktop_slider = false
  endif
  if section.blocks.size <= 4
    assign enable_tablet_slider = false
  endif
%} 
{%- style -%}
  .bg-{{ section.id }} {
    background: {{ section.settings.background_color_light }};
  }
  .dark .bg-{{ section.id }} {
    background: {{ section.settings.background_color_dark }};
  }
  .heading--{{ section.id }} {
    font-size: {{ heading_size | times: 0.6 }}rem;
  }
  .corner--{{ section.id }} {
    border-radius: {{ section.settings.corner_image }}px;
  }
  .spacing-mobile-{{ section.id }} {
    gap: {{ section.settings.spacing_mobile }}px;
  }
  @media screen and (min-width: 768px) {
    .heading--{{ section.id }} {
      font-size: {{ heading_size }}rem;
    }
    .spacing--tablet-{{ section.id }} {
      {% if enable_tablet_slider %}
        gap: 0px;
      {% else %}
        gap: {{ section.settings.spacing_mobile }}px;
      {% endif %}
    }
  }
  @media screen and (min-width: 1024px) {
    .spacing--desktop-{{ section.id }} {
      {% if enable_desktop_slider %}
        gap: 0px;
      {% else %}
        gap: {{ section.settings.spacing }}px;
      {% endif %}
    }
  }
{%- endstyle -%}

{% render 'section-divider' %}

<div class="bg-{{ section.id }}">
  <div class="pb-[{{ section.settings.padding_bottom_mobile }}px] pt-[{{ section.settings.padding_top_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] md:pt-[{{ section.settings.padding_top }}px]">
    {% if section.settings.heading != blank %}
      <{{ section.settings.heading_tag }} class="heading--{{ section.id }} h2 block pr-5 pl-5{% unless section.settings.full_width %} page-width{% endunless %} mb-5 md:mb-9 text-{{ section.settings.heading_alignment }} pb-2 leading-tight p-break-words">
        {{ section.settings.heading | escape }}
      </{{ section.settings.heading_tag }}>
    {% endif %}
    <div class="mx-auto{% if swiper_on_mobile %} carousel-mobile full-width-mobile{% endif %}{% if enable_desktop_slider %} carousel-tablet{% endif %}{% if section.settings.full_width %} full-width{% else %} page-width{% endif %}">
      <div{% if section.settings.show_navigation and enable_desktop_slider %} class="lg:pl-24 lg:pr-24"{% endif %}>
        <div 
        {% if swiper_on_mobile or enable_desktop_slider or enable_tablet_slider %}
          id="x-logo-list-{{ section.id }}" 
          class="logo-splide x-splide splide disable-effect-hover"
          x-cloak
          x-intersect.once.margin.200px='$store.xSplide.load($el, {
            "type": "loop",
            "speed": 1000,
            "pagination": false,
            {%- if settings.lang_direction contains request.locale.iso_code %} 
              "direction": "rtl",
            {%- endif %}
            {%- if section.settings.auto_switch_bar -%}
              "interval": {{ section.settings.change_bar_every | times: 1000 }},
              "autoplay": true,
            {%- endif -%}
            "mediaQuery": "min",
            "updateOnMove": "true",
            "breakpoints": {
              300: {
                {% if swiper_on_mobile == false -%}
                  "destroy": true,
                {%- endif -%}
                "padding": {{ section.settings.spacing_mobile | plus: 10 }},
                "gap": "{{ section.settings.spacing_mobile }}px",
                {% if section.settings.columns_mobile == 'auto' %}
                  "autoWidth": true,
                  "focus": "center",
                {% else %}
                  "focus": "right",
                  "perPage": {{ columns_mobile }},
                  "perMove": {{ columns_mobile }}
                {% endif %}
              },
              768: {
                {% if enable_tablet_slider -%}
                  "destroy": false,
                {%- else -%}
                  "destroy": true,
                {%- endif %}
                "gap": "{{ section.settings.spacing_mobile }}px",
                {% if section.settings.columns_desktop == 0 %}
                  "autoWidth": true,
                {% else %}
                  "focus": "right",
                  "autoWidth": false,
                  "perPage": 4,
                  "perMove": 4
                {% endif %}
              },
              1024: {
                {% if enable_desktop_slider -%}
                  "destroy": false,
                {%- else -%}
                  "destroy": true,
                {%- endif %}
                {% unless section.settings.columns_desktop == 0 %}
                  "perPage": {{ section.settings.columns_desktop }},
                  "perMove": {{ section.settings.columns_desktop }},
                {% endunless %}
                "padding": 0,
                "gap": "{{ section.settings.spacing }}px",
              }
            },
            "classes": {
              "arrows": "splide__arrows block", 
            }
          })'
          {% endif %}
        >
          {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {% if section.settings.full_width %}{{ settings.page_width | plus: 100 | divided_by: section.settings.columns_desktop }}px{% else %}calc(100vw / {{ section.settings.columns_desktop }}){% endif %},
            (min-width: 768px) calc((100vw) / {{ section.settings.columns_desktop }}),
            calc(100vw /{{ columns_mobile }})
          {%- endcapture %}
          <div class="splide__track{% if enable_desktop_slider %} lg:cursor-grab{% endif %}{% if enable_tablet_slider %} md:cursor-grab{% endif %}">
            {% if section.settings.columns_desktop == 0 %}
              <div class="splide__list flex{% unless swiper_on_mobile %} spacing-mobile-{{ section.id }} flex-wrap justify-center{% else %} justify-start flex-nowrap{% endunless %}{% if enable_desktop_slider %} md:flex-nowrap md:flex md:gap-0 md:justify-start{% else %} md:flex md:flex-wrap md:justify-center{% endif %} spacing--desktop-{{ section.id }} text-center items-center">
            {% else %}
              <div class="splide__list flex{% unless swiper_on_mobile %} spacing-mobile-{{ section.id }} flex-wrap justify-center{% endunless %}{% if enable_desktop_slider %} md:flex-nowrap md:flex md:gap-0 md:justify-start{% else %} {% if enable_tablet_slider %} md:flex-nowrap md:flex md:gap-0 md:justify-start{% else %} md:grid md:grid-cols-4 {% endif %} lg:grid lg:grid-cols-{{ section.settings.columns_desktop }} lg:justify-center{% endif %} spacing--desktop-{{ section.id }} spacing--tablet-{{ section.id }} text-center items-center">
            {% endif %}
              {%- for block in section.blocks -%}
                {%- liquid
                  assign image_ratio = section.settings.image_ratio
                  if block.settings.image_logo == blank and section.settings.image_ratio == "auto"
                    assign image_ratio = 100
                  endif
                -%}
                {% style %}
                  {% if section.settings.image_ratio == "auto" and block.settings.image_logo != blank %}
                    {% if section.settings.columns_mobile != 'auto' %}
                      .logo-{{ block.id }} .logo-image {
                        padding-bottom: {{ 100 | divided_by: block.settings.image_logo.aspect_ratio }}%;
                      }
                    {% endif %}
                    @media screen and (min-width: 1024px) {
                      .logo-{{ block.id }} .logo-image {
                        {% if section.settings.columns_desktop != 0 %}
                          padding-bottom: {{ 100 | divided_by: block.settings.image_logo.aspect_ratio }}%;
                        {% else %}
                          padding-bottom: 0%;
                        {% endif %}
                      }
                    }
                  {% endif %}
                {% endstyle %}
                <div 
                  id="Slide-{{ section.id }}-{{ forloop.index }}" 
                  x-slide-index="{{ forloop.index | minus: 1 }}" 
                  class="logo-{{ block.id }} relative corner--{{ section.id }} relative overflow-hidden md:w-auto
                  {%- if enable_desktop_slider or swiper_on_mobile or enable_tablet_slider %} splide__slide x-splide-slide{% endif -%}
                  {%- unless swiper_on_mobile %}{% if section.settings.columns_mobile == "1" %} w-full{% elsif section.settings.columns_mobile == "2" %} w-5/12{% endif %}{% endunless %}
                  {%- if section.settings.show_border %} h-full border pt-4 pb-4 pr-5 pl-5{% if section.settings.columns_desktop <= 6 %} lg:pl-10 lg:pr-10{% else %} lg:pl-7 lg:pr-7{% endif %}{% endif %}" 
                  {{ block.shopify_attributes }}
                >
                  <a
                    {%- if block.settings.image_link != blank %} href="{{ block.settings.image_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %}
                    class="relative logo-image block h-full w-full disable-effect
                    {%- if section.settings.image_ratio != "auto" and block.settings.image_logo != blank -%}
                      {%- if section.settings.columns_mobile != 'auto' %} pb-[{{ image_ratio }}%]{% endif -%}
                      {%- if section.settings.columns_desktop != 0 %} lg:pb-[{{ image_ratio }}%]{% else %} lg:pb-0{% endif -%}
                    {%- elsif block.settings.image_logo == blank -%}
                      {%- if section.settings.columns_mobile != 'auto' %} pb-[{{ image_ratio }}%]{% endif -%}
                      {%- if section.settings.columns_desktop != 0 %} lg:pb-[{{ image_ratio }}%]{% endif -%}
                    {%- endif %}"
                  >
                    {% if block.settings.image_logo != blank %}
                      <div class="w-full h-full overflow-hidden top-0 left-0 duration-300 transition ease-out flex items-center justify-center
                        {%- if section.settings.columns_mobile != 'auto' %} absolute{% endif -%}
                        {%- if section.settings.columns_desktop != 0 %} lg:absolute{% else %} lg:relative{% endif -%}"
                      >
                        <img
                          srcset="{{ block.settings.image_logo | image_url: width: 250 }} 250w,
                            {{ block.settings.image_logo | image_url: width: 450 }} 450w,
                            {{ block.settings.image_logo | image_url: width: 750 }} 750w,
                            {{ block.settings.image_logo | image_url: width: 900 }} 900w,
                            {{ block.settings.image_logo | image_url: width: 1100 }} 1100w,
                            {{ block.settings.image_logo | image_url: width: 1500 }} 1500w"
                          src="{{ block.settings.image_logo | image_url: width: block.settings.image_logo.width }},
                          {{ block.settings.image_logo | image_url: width: block.settings.image_logo.width }}"
                          alt="{{ block.settings.image_logo.alt | escape }}"
                          loading="lazy"
                          sizes="{{ sizes }}"
                          width="{{ block.settings.image_logo.width }}"
                          height="{{ block.settings.image_logo.height }}"
                          class="h-full w-full object-cover"
                          style="object-position: {{ block.settings.image_logo.presentation.focal_point }};"
                        />
                      </div>
                    {% else %}
                      {% liquid
                        assign class ="h-full w-full"
                        if section.settings.columns_desktop == 0
                          assign class = class | append: " md:relative"
                        else
                          assign class = class | append: " md:absolute md:top-0 md:left-0"
                        endif
                      %}
                      <div class="flex-1 items-center bg-[#c9c9c9] top-0 left-0 h-full w-full{% if section.settings.columns_mobile != 'auto' %} absolute{% endif %}{% if section.settings.columns_desktop != 0 %} lg:absolute{% else %} lg:relative{% endif %}">
                        {% render 'icon-placeholder', icon: 'icon-logo', class: class %}
                      </div>
                    {% endif %}
                  </a>
                </div>
              {%- endfor -%}
            </div>
          </div>

          {%- if section.settings.show_navigation and enable_desktop_slider -%}
            <div class="hidden md:block splide__arrows">
              <button class="splide__arrow splide__arrow--prev button-arrow hidden lg:block absolute none_border z-10 w-8 h-8 lg:w-14 lg:h-14 rounded-full after:text-[20px] pt-2 pb-2 pl-2 pr-2 lg:pt-4 lg:pl-4 lg:pb-4 lg:pr-4 top-1/2 -translate-y-1/2 duration-200 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed {% if settings.lang_direction contains request.locale.iso_code %} right-0 lg:-right-24{% else %}  -rotate-180 left-0 lg:-left-24{% endif %}" aria-label="previous slide">
                {% render 'icon-alls', icon: 'icon-arrow' %}
              </button>
              <button class="splide__arrow splide__arrow--next button-arrow hidden lg:block absolute none_border z-10 w-8 h-8 lg:w-14 lg:h-14 rounded-full after:text-[20px] pt-2 pb-2 pl-2 pr-2 lg:pt-4 lg:pl-4 lg:pb-4 lg:pr-4 top-1/2 -translate-y-1/2 duration-200 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed{% if settings.lang_direction contains request.locale.iso_code %} -rotate-180 left-0 lg:-left-24{% else %} right-0 lg:-right-24{% endif %}" aria-label="next slide">
                {% render 'icon-alls', icon: 'icon-arrow' %}
              </button>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.logo-list.name",
  "class": "section section-logo-list x-section",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Logo list",
      "label": "t:sections.logo-list.settings.title.label"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.logo-list.settings.heading_size.label",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "t:sections.featured-collection.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "corner_image",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.logo-list.settings.corner_image.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "t:sections.logo-list.settings.show_border.label",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.featured-blog.settings.image_ratio.options__1.label"
        },
        {
          "value": "100",
          "label": "t:sections.featured-blog.settings.image_ratio.options__2.label"
        },
        {
          "value": "75",
          "label": "t:sections.featured-blog.settings.image_ratio.options__3.label"
        },
        {
          "value": "56",
          "label": "t:sections.featured-blog.settings.image_ratio.options__5.label"
        },
        {
          "value": "133",
          "label": "t:settings_schema.products.product_image_ratio.option__6.label"
        }
      ],
      "default": "auto",
      "label": "t:sections.featured-blog.settings.image_ratio.label",
      "info": "t:sections.logo-list.settings.image_ratio.info"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.background.background_color_light"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.background.background_color_dark"
    },
    {
      "type": "header",
      "content": "t:sections.logo-list.settings.header_carousel.content"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel_on_desktop",
      "label": "t:sections.logo-list.settings.enable_carousel_on_desktop.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "auto_switch_bar",
      "label": "t:sections.logo-list.settings.auto_switch_bar.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_bar_every",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.logo-list.settings.change_bar_every.label",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.logo-list.settings.show_navigation.label",
      "info": "t:sections.logo-list.settings.show_navigation.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 0,
      "max": 9,
      "step": 1,
      "default": 6,
      "label": "t:sections.logo-list.settings.columns_desktop.label",
      "info": "t:sections.logo-list.settings.columns_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.logo-list.settings.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.logo-list.settings.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 40,
      "unit": "px",
      "step": 1,
      "default": 16,
      "label": "t:sections.collage.settings.spacing.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.logo-list.settings.layout_mobile.options__1.label"
        },
        {
          "value": "stacked",
          "label": "t:sections.logo-list.settings.layout_mobile.options__2.label"
        }
      ],
      "default": "carousel",
      "label": "t:sections.logo-list.settings.layout_mobile.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.logo-list.settings.columns_mobile.label",
      "info": "t:sections.logo-list.settings.columns_mobile.info",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.logo-list.settings.columns_mobile.options__3.label"
        },
        {
          "value": "1",
          "label": "t:sections.logo-list.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.logo-list.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "t:sections.logo-list.settings.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "spacing_mobile",
      "min": 0,
      "max": 40,
      "unit": "px",
      "step": 1,
      "default": 16,
      "label": "t:sections.collage.settings.spacing.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.logo-list.blocks.logo.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_logo",
          "label": "t:sections.logo-list.blocks.logo.settings.image_logo.label"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.logo-list.blocks.logo.settings.image_link.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo-list.presets.name",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}