{%- if settings.cart_page_layout == 'above' -%}
  {% liquid
    if settings.lang_direction contains request.locale.iso_code
      assign is_rtl = true
    else
      assign is_rtl = false
    endif
  %}
  <div
    id="main-cart-footer"
    class="page-width mx-auto grid md:grid-cols-2 lg:grid-cols-3 md:gap-6 lg:gap-14 pt-[{{ section.settings.padding_top_mobile }}px] md:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] sticky-bg"
  >
   {% if section.settings.promo_text != blank %}
  <div
    class="cart-promo-text text-center my-2"
    style="
      background-color: #2f9567;
      color: {{ section.settings.promo_text_color }};
      border-radius: 15px 15px 0 0;
      font-size: {{ section.settings.promo_font_size }}px;
      margin: 0px 0 0px;
      padding: 0.5rem; /* optional padding to make it look nicer */
    "
  >
    {{ section.settings.promo_text }}
  </div>
{% endif %}


    {%- if cart != empty -%}
      <div class="w-full lg:col-span-2{% if settings.show_cart_note or settings.show_cart_custom_field or settings.enable_estimate_shipping %} pb-4 md:pb-0{% endif %}">
        {% if settings.show_cart_note or settings.show_cart_custom_field or settings.enable_estimate_shipping %}
          {% if settings.enable_estimate_shipping %}
            <div class="hidden md:block">
              {% render 'estimate-shipping-rate', cartPage: true %}
            </div>
            <div class="md:hidden border-y border-solid">
              <div
                class="pt-3 pb-3 relative"
                @click="$store.xPopupShipping.open = !$store.xPopupShipping.open"
                class="h4 text-medium"
              >
                <p class="h4 text-medium">{{ 'shipping.estimate' | t }}</p>
                <span
                  class="w-3 duration-200 block absolute rtl:left-1 rtl:right-auto right-1 opacity-70 top-1/2 -translate-y-1/2"
                  :class="$store.xPopupShipping.open && 'rotate-180'"
                >
                  {% render 'icon-alls', icon: 'icon-caret' %}
                </span>
              </div>
              <div x-show="$store.xPopupShipping.open" x-cloak x-collapse>
                {% render 'estimate-shipping-rate', main_cart_mobile: true %}
              </div>
            </div>
          {%- endif -%}
          <div class="w-full{% if settings.enable_estimate_shipping %} mt-4 md:mt-7{% endif %}">
            {% comment %} Cart note {% endcomment %}
            {%- if settings.show_cart_note and settings.cart_page_layout == 'above' -%}
              <textarea x-ref="cart_field_note_data" hidden>{{- cart.note -}}</textarea>
              <p for="x-cart-note" class="block h4 text-medium md:mb-2">{{ 'sections.cart.note' | t }}</p>
              <textarea
                id="x-cart-note"
                class="w-full bg-transparent border pl-4 pr-4 pt-4 pb-4 mt-2 outline-none focus:outline-none focus:border-current{% if settings.edges_type == 'rounded_corners' %} !rounded-md{% endif %}"
                name="note"
                form="cart"
                rows="4"
                cols="60"
                aria-label="{{ 'sections.cart.note' | t }}"
                @change="$store.xCartHelper.updateCart({ note: $el.value})"
              >{{ cart.note }}</textarea>
            {%- endif -%}

            {% comment %} Cart custom field {% endcomment %}
            {%- if settings.show_cart_custom_field and settings.cart_custom_field_label != blank -%}
              {%- capture cartFieldsData -%}
                {
                  "custom_field_label": "{{ settings.cart_custom_field_label | escape }}",
                  "custom_field_required": {{ settings.cart_custom_field_required | default: false }},
                  "custom_field_pattern": "{{ settings.cart_custom_field_pattern | escape }}"
                }
              {%- endcapture %}
              <div
                x-data="xCartFields"
                x-intersect="loadData"
                x-cart-fields-data="{{ cartFieldsData | escape }}"
              >
                <p
                  for="cart-custom-field"
                  class="block h4 text-medium md:mb-2{% if settings.enable_estimate_shipping or settings.show_cart_note %} mt-4 md:mt-7{% endif %}"
                >
                  {{ settings.cart_custom_field_label -}}
                  {%- if settings.cart_custom_field_required -%}
                    <span class="pl-1" aria-hidden="true">*</span>
                  {%- endif %}
                </p>
                <input
                  id="x-cart-custom-field"
                  type="text"
                  {% if settings.cart_custom_field_required %}
                    :class="custom_field_error && 'border-[rgba(var(--color-error))] shadow-[0_0_0_1px_rgba(var(--color-error))]'"
                  {% endif %}
                  class="w-full pr-4 pl-4 pt-3 pb-3 mt-2 border border-solid bg-[rgba(var(--background-color),1)] focus-within:outline-none placeholder:text-current placeholder:opacity-60{% if settings.edges_type == 'rounded_corners' %} !rounded-md{% endif %}"
                  placeholder="{{ settings.cart_custom_field_label }}"
                  x-model="custom_field"
                  value=""
                >
                {% if settings.cart_custom_field_required %}
                  <p x-cloak x-show="custom_field_error" class="text-[rgba(var(--color-error))] mt-2">
                    {{ 'sections.cart.required_cart_note' | t }}
                    {{ settings.cart_custom_field_label }}
                  </p>
                {% endif %}
              </div>
            {%- endif -%}
          </div>
        {% endif %}
      </div>
     
      <div class="lg:col-span-1 block md:flex justify-end{% if settings.enable_estimate_shipping %} lg:gap-x-14{% endif %}">
        <div class="subtotal flex flex-col gap-4 w-full{% if is_rtl %} md:text-left{% else %} md:text-right{% endif %}{% if settings.show_cart_note %}{% if is_rtl %} md:pr-2.5 lg:pr-0{% else %} md:pl-2.5 lg:pl-0{% endif %}{% endif %}{% if is_rtl %} xl:pr-1{% else %} xl:pl-1{% endif %}">
          {% assign addonitem = settings.energised_product %}
          {% assign hasaddonadded = false %}
          {% assign hasgoshow = false %}
          {%- for item in cart.items -%}
            {% if item.product.metafields.custom.pran_pratishtha_add_on_enable_disable %}
              {% assign hasgoshow = true %}
            {% endif %}
            {% if item.id == addonitem.selected_or_first_available_variant.id %}
              {% assign hasaddonadded = true %}            
            {% endif %}
          {%- endfor -%}
          {% if hasgoshow %}
          <div class="lg:float-left cart-drawer-price-total w-full">
            <div class="all_gift_wrap pt-3 xl:pt-3">
              <span class="loader_main">                                          
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="#fff" fill="none" cy="50" cx="50">
                    <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
                    </circle><g></g></g><!-- [ldio] generated by https://loading.io -->
                  </svg>
                </span>
              <input type="checkbox" id="gift_wrap_all" name="gift-wrapping" value="yes" {% if hasaddonadded %}checked="checked"{% endif %} data-mainitempid="{{ addonitem.id }}" data-vid="{{ addonitem.selected_or_first_available_variant.id }}">
              {% assign addonitemprice = addonitem.price | money %}
              <label for="gift_wrap_all"> {{ settings.add-on-label | replace:'[price]', addonitemprice }}</label>
            </div>
          </div>
          {% endif %}
          
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'subtotal' -%}
                <div {{ block.shopify_attributes }}>
                  {%- if settings.enable_featured_discount -%}
                    <div class="flex justify-end w-full">
                      <div
                        x-data="xCounponCode"
                        x-init="$store.xCounponCodeDetail.getDiscountCode();"
                        class="lg:pb-5 bg-[rgba(var(--background-color),1)] w-full z-20 pl-[1px] pr-[1px]"
                        @keydown.escape.stop="$store.xCartHelper.openField = false"
                      >
                        <div class="flex pt-1 pb-1 pl-1 pr-1 border border-solid rounded-[var(--border-radius)]">
                          <div class="grow">
                            <label class="hidden" for="x-cart-discount-field">
                              {{- 'general.cart.discount_code' | t -}}
                            </label>
                            <input
                              id="x-cart-discount-field"
                              type="text"
                              class="w-full pl-5 pr-5 pt-2.5 pb-2.5 focus:outline-none focus-within:outline-none focus:border-0 bg-transparent placeholder:text-current placeholder:opacity-60"
                              placeholder="{{ 'general.cart.placeholder_discount' | t }}"
                              x-on:change="onChange()"
                              @keyup.enter="applyDiscountToCart()"
                            >
                          </div>
                          <button
                            @click="applyDiscountToCart()"
                            class="button button-solid whitespace-nowrap p-break-words border inline-block empty:hidden pl-4 pr-4 lg:pl-6 lg:pr-6 pt-2 pb-2 leading-normal cursor-pointer pointer-events-auto"
                          >
                            <span :class="{ 'lg:block opacity-0 is-focus-button' : loading }">
                              <span class="flex items-center justify-center">
                                {% assign button_label = 'general.cart.apply' | t %}
                                {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
                              </span>
                            </span>

                            <div
                              class="lg:inline-block animate-spin w-4 h-4 md:w-5 md:h-5 absolute top-[calc(50%-8px)] left-[calc(50%-8px)] md:top-[calc(50%-10px)] md:left-[calc(50%-10px)]"
                              x-show="loading"
                              x-cloak
                            >
                              {% render 'icon-alls', icon: 'icon-loading' %}
                            </div>
                          </button>
                        </div>
                        <p
                          x-show="$store.xCounponCodeDetail.discountFaild"
                          x-cloak
                          class="text-[rgba(var(--color-error))] mt-2"
                        >
                          {{ 'general.cart.discount_wrong' | t }}
                        </p>
                        <p
                          x-show="$store.xCounponCodeDetail.discountApplied"
                          x-cloak
                          class="text-[rgba(var(--color-success))] mt-2"
                        >
                          {{ 'general.cart.discount_applied' | t }}
                        </p>
                        <p
                          x-show="$store.xCounponCodeDetail.discountCorrect"
                          x-cloak
                          class="text-[rgba(var(--color-success))] mt-2"
                        >
                          {{ 'general.cart.discount_correct' | t }}
                        </p>
                      </div>
                    </div>
                    <script src="{{ 'coupon-code.js' | asset_url }}" defer></script>
                  {%- endif -%}
                  <div
                    id="js-contents"
                    {% if settings.enable_featured_discount %}
                      class="mt-6 lg:mt-0"
                    {% endif %}
                    {{ block.shopify_attributes }}
                  >
                    <div class="pt-3 xl:pt-4 flex justify-between items-end text-medium font-semibold md:mb-5">
                      
                      <p class="h3 text-medium">{{ 'sections.cart.subtotal' | t }}</p>
                      <p class="h2">{{ cart.total_price | money_with_currency }}</p>
                    </div>
                    {%- if cart.cart_level_discount_applications.size > 0 -%}
                      <div class="mt-2">
                        <ul>
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="inline-flex relative md:justify-end items-center text-small">
                              <span class="w-4 top-1/2">{%- render 'icon-alls', icon: 'icon-discount' -%}</span>
                              <span class="pl-1 pr-1 p-break-words discount-title">{{ discount.title }}</span>
                              (-
                              {%- if settings.currency_code_enable %}
                                {{ discount.total_allocated_amount | money_with_currency }}
                              {% else %}
                                {{ discount.total_allocated_amount | money }}
                              {% endif -%}
                              )
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- endif -%}
                    <small>
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{
                          'sections.cart.taxes_included_and_shipping_policy_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{
                          'sections.cart.taxes_and_shipping_policy_at_checkout_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    </small>
                  </div>
                  {%- if settings.cart_enable_terms_and_conditions -%}
                    <div x-data="xCartTerm" class="flex flex-col pb-5 md:items-end mb-2 mt-4 eurus">
                      <div class="flex items-center">
                        <input
                          id="x-cart-agree"
                          class="checkbox checkbox-checked mr-2 rtl:mr-0 rtl:ml-2 h-4 w-4 min-w-[1rem] border checked:border-[rgba(var(--colors-text-link))] checked:bg-[rgba(var(--colors-text-link))] relative cursor-pointer{% if settings.edges_type == 'rounded_corners' %} rounded{% else %} rounded-none{% endif %}"
                          type="checkbox"
                          x-model="checked"
                        >
                        <label for="x-cart-agree" class="cursor-pointer">
                          {% if settings.cart_terms_and_conditions_page != blank %}
                            {{
                              'sections.cart.cart_enable_terms_and_conditions_html'
                              | t: url: settings.cart_terms_and_conditions_page.url
                            }}
                          {% else %}
                            {{ 'sections.cart.cart_enable_terms_and_conditions' | t }}
                          {% endif %}
                        </label>
                      </div>
                      <p class="clear-left text-[rgba(var(--color-error))] mt-2 text-normal" x-show="!checked" x-cloak>
                        {{ 'general.cart.terms_confirm' | t }}
                      </p>
                    </div>
                  {%- else -%}
                    <input id="x-cart-agree" class="hidden" type="checkbox" checked="checked">
                  {%- endif -%}
                </div>
              {%- when 'buttons' -%}
                <div {{ block.shopify_attributes }}>
                  <!-- <button
                    id="checkout-submit"
                    class="button button-solid w-full justify-center pl-6 pr-6 pt-3.5 pb-3.5 md:mb-1.5 cursor-pointer leading-normal"
                    type="submit"
                    name="checkout"
                    form="cart"
                    @click="$store.xCartHelper.goToCheckout($event)"
                    {% if cart == empty %}
                      disabled
                    {% endif %}
                  >
                    {% assign button_label = 'sections.cart.checkout' | t %}
                    <span class="flex items-center justify-center">
                      {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
                    </span>
                  </button> -->
                  {% render 'gokwik-checkout' %}
                  {%- if additional_checkout_buttons -%}
                    <div class="left{% if settings.enable_estimate_shipping %} button-full{% endif %}">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {%- endif -%}
                  {%- if settings.show_cart_payment_methods -%}
                    <div class="flex flex-col pt-3 pb-3 pl-4 pr-4 gap-3 md:gap-2.5">
                      <p class="text-center">{{ 'general.cart.payment_methods' | t }}</p>
                      <ul class="flex justify-center gap-2 flex-wrap" role="list">
                        {%- for type in shop.enabled_payment_types -%}
                          <li>
                            <img src="{{ type | payment_type_img_url }}" width="auto" height="24" />
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {% endfor %}
          <div id="cart-errors"></div>
        </div>
      </div>
    {%- endif -%}
  </div>
  {%- if settings.show_cart_custom_field and settings.cart_custom_field_label != blank -%}
    <script src="{{ 'cart-fields.js' | asset_url }}" defer></script>
  {%- endif -%}
  {%- if settings.cart_enable_terms_and_conditions -%}
    <script src="{{ 'cart-term.js' | asset_url }}" defer></script>
  {%- endif -%}
  {%- if settings.enable_estimate_shipping -%}
    <script src="{{ 'estimate-shipping-rate.js' | asset_url }}" defer></script>
  {%- endif -%}

  {%- if section.settings.enable_sticky_mobile -%}
  <style>
    
   .subtotal {
    padding: 0px 12px;
    margin: 0 0 3px;
    border: 1px solid #e3e3e3;
    border-radius: 0 0 10px 10px;
    background-color:#fff;
   }
    .cart-promo-text::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        animation: shine 1.5s ease-in-out infinite;
    }
    @keyframes shine {
        0% {
          left: -100%;
        }
        50% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
    }
    @media (max-width: 767px) {
      #main-cart-footer {
        padding: 0px 10px 0px;
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: #fff; /* or your theme background */
        /* Add any padding/box-shadow you want */
        box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
      }
      .gap-4{
        gap:0.2rem;
      }
      .sticky-bg{
        background-color:rgba(0,0,0,0) !important;
      }
      /* 
        If your sticky footer covers content, you may need to add padding-bottom
        to the main container to avoid content being hidden behind the footer:
      */
      .main-page-container-class {
        padding-bottom: 100px; /* match the height of the sticky footer */
      }
    }
  </style>
{%- endif -%}

{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-cart-footer.settings.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 40,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 84,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 40,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 84,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
  "type": "checkbox",
  "id": "enable_sticky_mobile",
  "default": false,
  "label": "Make cart footer sticky on mobile"
  },
    {
      "type": "header",
      "content": "Promotional Text"
    },
    {
      "type": "text",
      "id": "promo_text",
      "label": "Promotional text",
      "default": "Free gift on all prepaid orders above 499!"
    },
    {
      "type": "range",
      "id": "promo_font_size",
      "label": "Promotional text font size (px)",
      "default": 18,
      "min": 12,
      "max": 50,
      "step": 1
    },
    {
      "type": "color",
      "id": "promo_bg_color",
      "label": "Promotional text background color",
      "default": "#FFF2AF"
    },
    {
      "type": "color",
      "id": "promo_text_color",
      "label": "Promotional text color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "promo_border_radius",
      "label": "Promotional border radius (px)",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 1
    }

  ],
  
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-cart-footer.blocks.info_above"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-cart-footer.blocks.info_above"
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
