{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by

  assign disable_quickview = true
  if section.settings.show_quickview
    assign disable_quickview = false
  endif 

  assign show_filter = true
  if search.filters.size < 1
    assign show_filter = false
  endif
  for filter in search.filters
    if filter.type == 'price_range' and search.filters.size <= 1
      assign show_filter = false
    endif
  endfor

  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
-%}
{%- style -%}
  {% if section.settings.sticky_filtering %}
    :root{
      --height-sticky-filter: 50px;
    }
  {% endif %}
  .gap-{{ section.id }} {
    column-gap: {{ section.settings.spacing_col_mobile }}px;
    row-gap: {{ section.settings.spacing_row_mobile }}px;
  }
  @media (min-width: 768px) {
    .gap-{{ section.id }} {
      column-gap: {{ section.settings.spacing_col }}px;
      row-gap: {{ section.settings.spacing_row }}px;
    }
  }
{%- endstyle -%} 
      
<div {% if search.filters != empty %}{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}x-data="xFiltersAndSortby('{{ section.id }}')"{% endif %}{% endif %} class="search-page pb-[{{ section.settings.padding_bottom_mobile }}px] pt-[{{ section.settings.padding_top_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] md:pt-[{{ section.settings.padding_top }}px]">
  <div class="page-width">
    <h1 class="text-center h2 font-semibold mb-4">{%- if search.performed -%}{{ 'templates.search.title' | t }}{%- else -%}{{ 'general.search.search' | t }}{%- endif -%}</h1>
    <div x-data="xModalSearch('{{ settings.search_type }}','{{ settings.search_desktop_maximun_results }}',{{ settings.search_mobile_maximun_results }})" 
      class="flex justify-center relative mb-14" tabindex="-1">
          <form action="{{ routes.search_url }}" method="get" role="search" class="max-w-3xl w-full">
            <div id="form-1" class="relative field">
              <input 
                class="input-search bg-[rgb(var(--colors-text),0.1)] focus-visible:outline-none pt-4 pb-4 pl-7 rtl:pl-20 pr-20 rtl:pr-7 text-left rtl:text-right text-sm w-full appearance-none relative outline-none placeholder:opacity-70 placeholder:text-[rgb(var(--colors-text))]{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                x-on:keyup="keyUp()"
                placeholder="{{ 'general.search.search' | t }}"
              >
              <input type="hidden" name="options[prefix]" value="last">
              <button class="btn-search absolute none_border bg-none w-5 h-5{% if is_rtl %} left-7{% else %} right-7{% endif %} top-1/2 -translate-y-1/2 opacity-60 bg-transparent dark:bg-transparent text-current" aria-label="{{ 'general.search.search' | t }}">
                {%- render 'icon-alls', icon: 'icon-search' -%}
              </button>
              {% if settings.show_speech_search %}
                <button class="search__speech cursor-pointer absolute none_border bg-none w-5 h-5{% if is_rtl %} left-14{% else %} right-14{% endif %} top-1/2 -translate-y-1/2 opacity-60 bg-transparent dark:bg-transparent text-current" x-data="xSpeechSearch($el)" x-show="show" x-cloak>
                  {% render 'icon-alls', icon: 'icon-voice' %}
                </button>
                <script src="{{ 'speech-search.js' | asset_url }}" defer></script>
              {% endif %}
            </div>
            {%- if settings.predictive_search_enabled -%}
              <div x-show="openResults" @click.away="openResults = false" class="md:max-h-96 md:absolute z-40 max-w-3xl top-full w-full" tabindex="-1" data-predictive-search x-html="result">
              </div>
            {%- endif -%}
          </form>
      </div>
    {%- if search.performed -%}
      {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
        {%- if search.results_count > 0 -%}
          <p class="text-center mb-8" role="status">{{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}</p>
        {%- endif -%}
      {%- endunless -%}
      {%- if search.results_count == 0 and search.filters == empty -%}
        <p class="text-center" role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if search.performed -%}
    <div class="page-width mx-auto{% if section.settings.sticky_filtering %} sticky top-[var(--height-header)] duration-300 z-20 bg-[rgba(var(--colors-background),1)]{% endif %}" id="header-filter"></div>
    <div {% if search.filters != empty %}{% if section.settings.enable_filtering or section.settings.enable_sorting %}:class="!showFilterAside && 'filter-aside'"{% endif %}{% endif %} class="page-width mx-auto{% if section.settings.filter_type == 'aside' and section.settings.enable_filtering and show_filter %} grid md:grid-cols-3 lg:grid-cols-4 md:gap-7 md:pt-10{% endif %}">
      {%- if search.filters != empty -%}
        {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
          <div class="col-span-1 filter-aside:md:hidden{% if section.settings.sticky_filtering and section.settings.filter_type == 'above' %} md:sticky duration-300 top-[calc(var(--height-header)+var(--height-sticky-filter))] z-[19] bg-[rgba(var(--colors-background),1)]{% endif %}{% if section.settings.filter_type == 'above' and show_filter %} md:pt-2{% endif %}">
            {% render 'facets',
              results: search, 
              enable_filtering: section.settings.enable_filtering, 
              enable_sorting: section.settings.enable_sorting, 
              filter_type: section.settings.filter_type,
              search_page: true,
              sticky_filter: section.settings.sticky_filtering,
              show_filter: show_filter,
              expand_filter: section.settings.expand_filter
            %}
          </div>
        {%- endif -%}
      {%- endif -%}
      <div class="{% if section.settings.filter_type == 'above' %}mt-6 md:mt-7{% endif %}{% if section.settings.filter_type == 'aside' %} md:col-span-2 lg:col-span-3 filter-aside:md:col-span-3 filter-aside:lg:col-span-4{% endif %}" id="ProductGridContainer">
        <h2 class="h-0 w-0 absolute opacity-0">{{ 'templates.search.title' | t }}</h2>
        {%- if search.results.size == 0 and search.filters != empty -%}
          <div class="w-full">
            <p class="text-center">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: search_url, class: "text-[rgb(var(--colors-text-link))]" }}
            </p>
          </div>
        {%- else -%}
          {% paginate search.results by 24 %}
            <div class="relative" {% if search.filters != empty %}{%- if section.settings.enable_filtering or section.settings.enable_sorting -%} :class="listLayout && 'list-layout'"{% endif %}{% endif %}>
              {% if search.filters != empty %}
                <div class="loading-cover left-0 absolute -top-8" x-show="loading" x-cloak>
                  <span class="loading-bar"></span>
                </div>
              {% endif %}
              <div class="grid gap-{{ section.id }} grid-cols-{{ section.settings.columns_mobile_grid }} md:grid-cols-2 lg:grid-cols-{{ section.settings.columns_desktop_grid }} list-layout:grid-cols-1">
                {%- for item in search.results -%}
                  {%- if forloop.index < 3 -%}
                    {%- assign loading = 'eager' -%}
                  {%- else -%}
                    {%- assign loading = 'lazy' -%}
                  {%- endif -%}
                  <div class="grid__item">
                    {%- case item.object_type -%}
                      {%- when 'product' -%}
                        {% liquid
                          assign index_param = section.index | append: forloop.index | plus: 0 
                        %}
                        {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}
                        {% render 'card-product',
                          card_product: item,
                          show_vendor: section.settings.show_vendor,
                          show_rating: section.settings.show_rating,
                          loading: loading,
                          columns_desktop: section.settings.columns_desktop_grid,
                          column_mobile: section.settings.columns_mobile_grid | plus: 0,
                          block_id: forloop.index,
                          disable_quickview: disable_quickview,
                          list_layout: true,
                          section_id: section.id,
                          product_card_id: forloop.index,
                          index_param: index_param,
                          show_description: section.settings.show_description
                        %}
                        <script src="{{ 'preview-color-swatches.js' | asset_url }}" defer></script>
                      {%- when 'article' -%}
                        <div class="h-full w-full">
                          {% render 'article-card',
                            article: item,
                            disable_divider: true,
                            image_desktop_top: true,
                            has_image: true,
                            show_badge: true,
                            loading: loading,
                            image_ratio: section.settings.image_ratio, 
                            show_name: section.settings.show_name, 
                            show_author: section.settings.show_author, 
                            show_date: section.settings.show_date, 
                            columns_desktop: section.settings.columns_desktop_grid,
                            columns_mobile: section.settings.columns_mobile_grid | plus: 0,
                            list_layout: true
                          %}
                        </div>
                      {%- when 'page' -%}
                        <div class="h-full w-full">
                          <div class="pt-10 pb-7 pl-7 pr-7 w-full h-full bg-[rgb(var(--colors-text),0.05)] relative{% if settings.edges_type == 'rounded_corners' %} rounded-[10px]{% endif %}">
                            <span class="absolute top-2 left-2 rtl:left-auto rtl:right-2 z-10 pl-2 text-xs pr-2 pt-1 pb-1 uppercase bg-[rgba(var(--background-color),1)]{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}">{{ 'templates.search.page' | t }}</span>
                            <p class="p-break-words line-clamp-3 mb-2 text-[rgba(var(--colors-heading))]">
                              <a href="{{ item.url }}" class="disable-effect hover:text-[rgb(var(--colors-text-link))] text-[rgba(var(--colors-heading))]">
                                {{ item.title | truncate: 50 | escape }}
                              </a>
                            </p>
                            <div class="line-clamp-2 md:list-layout:line-clamp-4">{{ item.content | strip_html }}</div>
                            <p class="mt-2 text-xs tracking-wider p-break-words">{{ item.published_at | date: '%b %d, %Y' }}</p>
                          </div>
                        </div>
                    {%- endcase -%}
                  </div>
                {%- endfor -%}
              </div>
              {%- if paginate.pages > 1 -%}
                <div class="flex justify-center mt-3 md:mt-9 mb-7 border-t pt-7">
                  {% render 'pagination', paginate: paginate, anchor: '', paginate_type: section.settings.paginate_type %}
                </div>
              {%- endif -%}
            </div>
          {% endpaginate %}
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section x-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "sticky_filtering",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.sticky_filtering.label"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "aside",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "above",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "drawer",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "expand_filter",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.expand_filter.label",
      "info": "t:sections.main-collection-product-grid.settings.expand_filter.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-search.settings.show_rating.label",
      "info": "t:sections.main-search.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_quickview",
      "default": true,
      "label": "t:sections.quick_view.show_quickview_button"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_description_on_list_view"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.featured-blog.settings.image_ratio.options__1.label"
        },
        {
          "value": "100",
          "label": "t:sections.featured-blog.settings.image_ratio.options__2.label"
        },
        {
          "value": "75",
          "label": "t:sections.featured-blog.settings.image_ratio.options__3.label"
        },
        {
          "value": "150",
          "label": "t:sections.featured-blog.settings.image_ratio.options__4.label"
        },
        {
          "value": "56",
          "label": "t:sections.featured-blog.settings.image_ratio.options__5.label"
        },
        {
          "value": "133",
          "label": "t:settings_schema.products.product_image_ratio.option__6.label"
        }
      ],
      "default": "100",
      "label": "t:sections.featured-blog.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
    {
      "type": "select",
      "id": "paginate_type",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.main-collection-product-grid.settings.paginate_type.options__1.label"
        },
        {
          "value": "underline",
          "label": "t:sections.main-collection-product-grid.settings.paginate_type.options__2.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.main-collection-product-grid.settings.paginate_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "columns_desktop_grid",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-search.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "spacing_col",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.main-collection-product-grid.settings.spacing_column.label",
      "default": 28
    },
    {
      "type": "range",
      "id": "spacing_row",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.main-collection-product-grid.settings.spacing_row.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile_grid",
      "default": "2",
      "label": "t:sections.main-search.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-search.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-search.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "spacing_col_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.main-collection-product-grid.settings.spacing_column.label",
      "default": 16
    },
    {
      "type": "range",
      "id": "spacing_row_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.main-collection-product-grid.settings.spacing_row.label",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    }
  ]
}
{% endschema %}
