{%- liquid
  assign columns = 2
  assign notlayered = 38
  if section.settings.content_position == 'top-left'
    assign columns = 1
    assign notlayered = 0
  endif
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
-%}
{%- style -%}
  #shopify-section-{{ section.id }} .bg-section-map {
    {% unless section.settings.bg_color_map.alpha == 0.0 %}
      background: {{ section.settings.bg_color_map }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endunless %}
  }
  .dark #shopify-section-{{ section.id }} .bg-section-map {
    {% unless section.settings.bg_color_map_dark.alpha == 0.0 %}
      background: {{ section.settings.bg_color_map_dark }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endunless %}
  }
  .text-map-{{ section.id }} {
    {% if section.settings.text_color_map.alpha != 0.0 %}
      --colors-text: {{ section.settings.text_color_map.red }}, {{ section.settings.text_color_map.green }}, {{ section.settings.text_color_map.blue }};
    {% endif %}
    {% if section.settings.heading_color.alpha != 0.0 %}
      --colors-heading: {{ section.settings.heading_color.red }}, {{ section.settings.heading_color.green }}, {{ section.settings.heading_color.blue }};
    {% endif %}
  }
  .dark .text-map-{{ section.id }} {
    {% if section.settings.text_color_map_dark.alpha != 0.0 %}
      --colors-text: {{ section.settings.text_color_map_dark.red }}, {{ section.settings.text_color_map_dark.green }}, {{ section.settings.text_color_map_dark.blue }};
    {% else %}
      --colors-text: var(--colors-text-secondary);
    {% endif %}
    {% if section.settings.heading_color_dark.alpha != 0.0 %}
      --colors-heading: {{ section.settings.heading_color_dark.red }}, {{ section.settings.heading_color_dark.green }}, {{ section.settings.heading_color_dark.blue }};
    {% else %}
      --colors-heading: var(--colors-heading-secondary)
    {% endif %}
  }
  
  #shopify-section-{{ section.id }} .scrollbar::-webkit-scrollbar-thumb {
    background: {{ section.settings.text_color_map }};
  }
  .dark #shopify-section-{{ section.id }} .scrollbar::-webkit-scrollbar-thumb {
    background: {{ section.settings.text_color_map_dark }};
  }
{%- endstyle -%}
<div class="map{% if section.settings.full_width_mobile %} pl-0 pr-0{% else %} pl-5 pr-5{% endif %}{% if section.settings.full_width %} md:pr-0 md:pl-0{% else %} page-width md:pl-5 md:pr-5{% endif %} pb-[{{ section.settings.padding_bottom_mobile }}px] pt-[{{ section.settings.padding_top_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] md:pt-[{{ section.settings.padding_top }}px]">
  <div class="bg-section-map h-[{{ section.settings.mobile_height }}] md:h-auto{% if is_rtl %} ltr{% endif %}{% unless section.settings.content_position == "top-left" %} md:h-[{{ section.settings.desktop_height }}]{% endunless %} flex flex-col md:flex-row{% if section.settings.content_position == "left" %} flex-col-reverse md:flex-row-reverse{% endif %} relative{% if section.settings.content_position == "top-left" %} md:items-center{% endif %}{% if section.settings.rounded_corner_image %} rounded-[10px]{% endif %}">
    <div class="relative flex-1 bg-[#c9c9c9] overflow-hidden{% if section.settings.content_position == "top-left" %} w-full md:h-[{{ section.settings.desktop_height }}]{% else %} md:w-1/2 lg:max-w-[61.25%]{% endif %}{% if section.settings.rounded_corner_image %} rounded-[10px]{% endif %}">
      {%- if section.settings.image != blank -%}
        <parallax-image class="block h-full w-full">
          <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {% if section.settings.full_width %} calc((100vw - {{ notlayered }}vw)) {% else -%} calc({{ settings.page_width }}px - {{ settings.page_width | times: notlayered | divided_by: 100 }}px  ) {%- endif -%}, 
              (min-width: 768px) calc(100vw / {{ columns }}), 
              100vw
            {%- endcapture -%}
            {{ section.settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '375, 450, 750, 900, 1100, 1500, 1780, 2000, 3000, 3840', class: 'h-full w-full object-cover z-0 absolute inset-0' }} 
          </parallax-movement>
        </parallax-image>
      {%- elsif section.settings.store_address != blank -%}
        <div x-data="xMap('{{ section.settings.store_address }}')" class="h-full" x-intersect.once.margin.250px="load()"> 
          <iframe src="" class="w-full h-full" title="Map"></iframe>
        </div>
      {%- else -%}
        <div class="flex items-center justify-center w-full h-full">
          {% render 'icon-placeholder', icon: 'icon-location-map', class: 'w-20 h-20 md:h-auto md:w-auto' %}
        </div>
      {%- endif -%}
    </div>
    {%- if section.blocks.size > 0 -%}
      <div class="{% if is_rtl %} rtl{% endif %}text-map-{{ section.id }} md:pl-5 md:pr-5 pt-7 bg-section-map pb-6 md:pt-8 md:pb-8 z-10{% if section.settings.content_position == "left" %} lg:pr-8 md:w-1/2 lg:w-[38.75%] lg:relative{% elsif section.settings.content_position == "top-left" %} md:max-w-[370px] md:w-full md:px-[30px] md:pt-8 md:pb-10 md:absolute md:right-[8%] md:translate-x-0 md:shadow transition-opacity duration-200{% else %} lg:pl-8 md:w-1/2 lg:w-[38.75%] lg:relative{% endif %} text-{{ section.settings.content_alignment }}{% if request.design_mode == false and section.settings.content_position == "top-left" %} pointer-events-none{% endif %}{% if section.settings.rounded_corner_image %} rounded-[10px]{% endif %}">
        <div class="pl-5 pr-5{% unless section.settings.content_position == "top-left" %} lg:mt-12 w-full lg:max-w-[270px] lg:pl-0 lg:pr-0 lg:absolute{% endunless %}{% if section.settings.content_position == "left" %} lg:right-[14%]{% elsif section.settings.content_position == "right" %} lg:left-[14%]{% endif %} selection:bg-[rgba(var(--colors-text),0.2)]">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                {%- if block.settings.heading != blank -%}
                  {% liquid
                    assign heading_base_size =  settings.heading_base_size | times: 0.0225
                    assign heading_size =  block.settings.heading_size | times: 0.01 | times: heading_base_size
                    assign heading_size_mobile = heading_size | times: 0.6
                  %}
                  {%- style -%}
                    .heading--{{ block.id }} {
                      font-size: {{ heading_size_mobile }}rem;
                    }
                    @media (min-width: 768px) {
                      .heading--{{ block.id }}{ 
                        font-size: {{ heading_size }}rem; 
                      }
                    }
                  {%- endstyle -%}
                  <{{ block.settings.heading_tag }} class="heading--{{ block.id }} h2 block{% if forloop.index != 1 %} mt-2 md:mt-5{% endif %}" {{ block.shopify_attributes }}>
                    {{ block.settings.heading | escape }}
                  </{{ block.settings.heading_tag }}>
                {%- endif -%}
              {%- when 'richtext' -%}
                {%- if block.settings.text != blank -%}
                  {% liquid
                    assign text_base_size =  settings.text_base_size | times: 0.00875
                    assign text_size = block.settings.text_size | times : text_base_size | times: 0.01
                    assign text_size_mobile = text_size | times: 0.9
                  %}
                  {%- style -%} 
                    .description--{{ block.id }}{ 
                      font-size: {{ text_size_mobile }}rem;
                    }
                    @media (min-width: 768px) {
                      .description--{{ block.id }}{ 
                        font-size: {{ text_size }}rem;
                      }
                    }
                  {%- endstyle -%}
                  <div
                    class="description--{{ block.id }} text-color-{{ section.id }}{% if forloop.index != 1 %} mt-2 md:mt-4{% endif %} max-h-36{% if section.settings.desktop_height == "500px" and section.settings.content_position == "top-left" %} md:max-h-40{% else %} md:max-h-52{% endif %} overflow-y-auto scrollbar-body pointer-events-auto text-[rgb(var(--colors-text))]"
                    {{ block.shopify_attributes }}
                  >
                    <div class="md:pr-2 pr-1 rte p-break-words{% if section.settings.content_position == "top-left" %} md:pr-0{% endif %}">
                      {% if block.settings.text != blank %}
                        {{ block.settings.text }}
                      {% endif %}
                      </div>
                  </div>
                {%- endif -%}
              {%- when 'button' -%}
                {%- if section.settings.store_address != blank -%}
                  <div {% if forloop.index != 1 %} class="mt-5 md:mt-7 mb-4 md:mb-0 w-full text-center"{% endif %} {{ block.shopify_attributes }} >
                    <a
                      class="button button-solid leading-normal w-full pl-6 pr-6 pt-2.5 pb-2.5 md:pt-3 md:pb-3 cursor-pointer inline-flex text-center justify-center items-center empty:hidden pointer-events-auto{% if section.settings.content_position == "top-left" %} md:w-full{% endif %}"
                      href="https://www.google.com/maps/place/{{ section.settings.store_address }}"
                      target="_blank"
                    >
                      {%- if block.settings.button_label != blank -%}
                        {% assign button_label = block.settings.button_label %}
                      {% else %}
                        {% assign button_label = 'sections.map.button_label' | t %}
                      {% endif -%}
                      {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
                    </a>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>
<script src="{{ 'map.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:sections.map.name",
  "class": "section section-map x-section",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "store_address",
      "default": "75 9th Ave, New York, NY 10011-7006",
      "label": "t:sections.map.settings.store_address.label",
      "info": "t:sections.map.settings.store_address.info"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "t:sections.map.settings.desktop_height.label",
      "options": [
        {
          "value": "500px",
          "label": "t:sections.map.settings.desktop_height.options_1.label"
        },
        {
          "value": "600px",
          "label": "t:sections.map.settings.desktop_height.options_2.label"
        },
        {
          "value": "650px",
          "label": "t:sections.map.settings.desktop_height.options_3.label"
        }
      ],
      "default": "600px"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "t:sections.map.settings.mobile_height.label",
      "options": [
        {
          "value": "600px",
          "label": "t:sections.map.settings.mobile_height.options_1.label"
        },
        {
          "value": "650px",
          "label": "t:sections.map.settings.mobile_height.options_2.label"
        },
        {
          "value": "700px",
          "label": "t:sections.map.settings.mobile_height.options_3.label"
        }
      ],
      "default": "600px"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.map.settings.image.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_image",
      "default": false,
      "label": "t:settings_schema.layout.enable_rounded_corners.label"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.map.settings.content_position.options_1.label"
        },
        {
          "value": "right",
          "label": "t:sections.map.settings.content_position.options_2.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.map.settings.content_position.options_3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.map.settings.content_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.map.settings.content_alignment.options_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.map.settings.content_alignment.options_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.map.settings.content_alignment.options_3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.map.settings.content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.map.settings.header.content"
    },
    {
      "type": "color",
      "id": "bg_color_map",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.map.settings.bg_color_map.label"
    },
    {
      "type": "color",
      "id": "text_color_map",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.map.settings.text_color_map.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.map.settings.heading_and_title_color.label"
    },
    {
      "type": "color",
      "id": "bg_color_map_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.map.settings.bg_color_map_dark.label"
    },
    {
      "type": "color",
      "id": "text_color_map_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.map.settings.text_color_map_dark.label"
    },
    {
      "type": "color",
      "id": "heading_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.map.settings.heading_and_title_color_dark.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.text-column-image.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": false,
      "label": "t:sections.text-column-image.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.map.blocks.store_name.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Store name",
          "label": "t:sections.map.blocks.store_name.settings.heading.label"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 50,
          "max": 200,
          "unit": "%",
          "step": 10,
          "default": 90,
          "label": "t:sections.map.blocks.store_name.settings.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "default": "h2",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        }
      ]
    },
    {
      "type": "richtext",
      "name": "t:sections.map.blocks.address_and_hour.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>75 9th Ave, New York, NY 10011-7006</p></br><p>Mon - Fri, 8:30am - 10:30pm,</br>Saturday, 8:30am - 10:30pm,</br>Sunday, 8:30am - 10:30pm</p>",
          "label": "t:sections.map.blocks.address_and_hour.settings.text.label"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 50,
          "max": 200,
          "unit": "%",
          "step": 10,
          "default": 100,
          "label": "t:sections.map.blocks.address_and_hour.settings.text_size.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.map.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.map.blocks.button.settings.button_label.label",
          "default": "Get directions"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.map.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "richtext"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}