{% # Kwikpass changes - [Starts] %}
<script>
  function autoLogin (){
        document.getElementById('kwik-pass-text').textContent = '{{ 'customer.account_fallback' | t }}';
        document.getElementById('kp-account').classList.remove('kwik-pass-login');
        document.getElementById('kp-account').classList.add('kwik-pass-account');
        document.getElementsByClassName('kwik-pass-account')[0].addEventListener('click', function(e){
          handleShopifyLogin(e,"/account")
        });
      }
      window.addEventListener('user-loggedin', function(event) {
         const { token } = event?.detail;
         if (token){
           autoLogin();
         }
      });
    document.addEventListener('DOMContentLoaded',function () {
      var userToken = localStorage.getItem('KWIKSESSIONTOKEN');
      if (userToken){
        autoLogin();
      }
  })
</script>
{% # Kwikpass changes - [Ends] %}

{%- liquid
  assign show_custom_menu = false
  for block in section.blocks
    if block.type == 'menu'
      assign show_custom_menu = true
    endif
  endfor
  if section.settings.show_currency_selector or section.settings.show_language_selector
    assign show_language = true
  else
    assign show_language = false
  endif
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
-%}
{%- style -%}
  #mobile-navigation * {
    {%- if section.settings.divider_color.alpha != 0.0 -%}
      border-color: {{ section.settings.divider_color }};
    {%- else -%}
      border-color: rgba(var(--colors-line-header));
    {%- endif -%}
  }
  .dark #mobile-navigation * {
    {%- if section.settings.divider_color_dark.alpha != 0.0 -%}
      border-color: {{ section.settings.divider_color_dark }};
    {%- else -%}
      border-color: rgba(var(--colors-line-header));
    {%- endif -%}
  } 
  .dark #mobile-navigation .text-color,
  #mobile-navigation .background-header {
    {%- if section.settings.background_color.alpha != 0.0 -%}
      background: {{ section.settings.background_color }};
    {%- else -%}
      background: rgba(var(--background-color-header));
    {%- endif -%}
    {%- if section.settings.text_color.alpha != 0.0 -%}
      --colors-heading: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      color: {{ section.settings.text_color }};
      --colors-text-header: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      --colors-text-link: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
    {%- else -%}
      --colors-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
      --colors-heading: {{ settings.colors_heading.red }}, {{ settings.colors_heading.green }}, {{ settings.colors_heading.blue }};
    {%- endif -%}
  }
  .dark #mobile-navigation .text-color,
  .dark #mobile-navigation .background-header {
    {%- if section.settings.background_color_dark.alpha != 0.0 -%}
      background: {{ section.settings.background_color_dark }};
    {%- else -%}
      background: #000000;
    {%- endif -%}
    {%- if section.settings.text_color_dark.alpha != 0.0 -%}
      --colors-heading: {{ section.settings.text_color_dark.red }}, {{ section.settings.text_color_dark.green }}, {{ section.settings.text_color_dark.blue }};
      color: {{ section.settings.text_color_dark }};
      --colors-text-header: {{ section.settings.text_color_dark.red }}, {{ section.settings.text_color_dark.green }}, {{ section.settings.text_color_dark.blue }};
      --colors-text-link: {{ section.settings.text_color_dark.red }}, {{ section.settings.text_color_dark.green }}, {{ section.settings.text_color_dark.blue }};
    {%- else -%}
      --colors-text: {{ settings.colors_dark_text.red }}, {{ settings.colors_dark_text.green }}, {{ settings.colors_dark_text.blue }};
      --colors-heading: {{ settings.colors_dark_heading.red }}, {{ settings.colors_dark_heading.green }}, {{ settings.colors_dark_heading.blue }};
    {%- endif -%}
  }
{%- endstyle -%}
<div
  class="z-50 fixed top-0 h-full w-full opacity-60 bg-black"
  x-show="$store.xMobileNav.show"
  x-cloak
  @click="$store.xMobileNav.close()"
></div>
<div
  id="mobile-navigation"
  :class="$store.xMobileNav.show && 'menu-opening'" 
  class="menu-drawer fixed z-[60] top-0 bottom-0 w-10/12 max-w-sm motion-reduce invisible overflow-x-hidden {% if settings.lang_direction contains request.locale.iso_code %} rtl right-0 translate-x-full{% else %} left-0 -translate-x-full{% endif %}"
>
  <div class="background-header gradient menu-drawer pt-5 overflow-hidden h-full flex flex-col">
  <div class="h-10 w-full px-2{% if settings.lang_direction contains request.locale.iso_code %} text-left{% else %} text-right{% endif %}" aria-label="{{ 'accessibility.close' | t }}">
      <span
        class="cursor-pointer w-11 h-8 inline-block p-2"
        @click="$store.xMobileNav.close()"
      >{% render 'icon-alls', icon: 'icon-close' %}</span>
    </div>
    <div
      id="menu-navigation"
      class="h-full flex-1 overflow-x-hidden scrollbar-body"
      :class="$store.xMobileNav.currentMenuLinks.length == 0 ? ' overflow-y-auto' : 'overflow-hidden'">
      <ul 
        id="menu-level-0"
        role="list" 
        class="menu-parent w-full" 
      >
        {% comment %}theme-check-disable LiquidTag{% endcomment %} 
        {%- unless show_custom_menu -%}
          {%- if section.settings.menu != blank -%}
            <li>
              <span class="flex border-t ml-5 mr-5"></span>
              {%- render 'mobile-main-menu',
                links: section.settings.menu.links,
                start_level: 0,
                start_id: ''
              -%}
            </li>
          {%- endif -%}
        {%- endunless -%}
        
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'menu' -%}
              {%- if block.settings.heading != blank -%}
                {%- assign index = forloop.index -%}
                {%- liquid
                  assign link = false
                  assign is_link = false
                  if block.settings.menu_item_link
                    assign link = block.settings.menu_item_link
                  endif
                  if block.settings.menu.links != blank
                    assign is_link = true
                  endif
                -%} 
                <li x-data='{ active: false }' class="block-mobile-navigation" {{ block.shopify_attributes }}>
                  <div {% if is_link %}@click="$store.xMobileNav.setActiveLink('{{ index }}'); $store.xMobileNav.scrollTop();"{% endif %} class="flex items-center ml-5 mr-5 border-b{% if forloop.first and index == 1 %} border-t{% endif %}">
                    {% if is_link %}
                      <p class="flex-1 pt-3.5 pb-3.5 flex items-center disable-effect{% if request.path == link %} effect-inline active{% endif %}"
                        :class="active && 'effect-inline'">
                        <span class="p-break-words">{{ block.settings.heading | escape }}</span>
                      </p>
                      <span
                        class="icon-caret-mobile h-11 w-8 pt-4{% if is_rtl %} rotate-90 pr-2.5 pl-2{% else %} -rotate-90 pl-2.5 pr-2{% endif %} block {%- if request.path == link %} text-[rgba(var(--colors-text-link))]{% endif %}"
                        :class="active && 'text-[rgba(var(--colors-text-link))]'"
                      >{% render 'icon-alls', icon: 'icon-caret' %}</span>
                    {% else %}
                      {% if link %}
                        <a href="{{ link }}" {% if block.settings.open_new_window %} target="_blank"{% endif %}
                          class="flex-1 pt-3.5 pb-3.5 flex items-center disable-effect{% if request.path == link %} effect-inline active{% endif %}"
                        >
                      {% else %}
                        <p class="flex-1 pt-3.5 pb-3.5 flex items-center disable-effect{% if request.path == link %} effect-inline active{% endif %}">
                      {% endif %}
                        <span class="p-break-words">{{ block.settings.heading | escape }}</span>
                      {% if link %}</a>{% else %}</p>{% endif %}
                    {% endif %}
                  </div>
                  {%- if is_link -%}
                    <div
                      class="menu-drawer top-0 absolute background-header w-full h-full z-20{% if is_rtl %} -translate-x-full{% else %} translate-x-full{% endif %} invisible"
                      :class="$store.xMobileNav.currentMenuLinks.includes('{{ index }}') && 'menu-opening'"
                      :class="$store.xMobileNav.currentMenuLinks.length == 1 && 'visible'">
                      <ul 
                        id="menu-level-1"
                        class="top-0 background-header w-full h-full z-20 overflow-auto scrollbar-body" 
                        >
                        <div class="flex items-center text-right justify-between ml-5 mr-5 border-y">
                          <span class="h-11 w-8 pt-4 block border-t border-solid{% if is_rtl %} -rotate-90 pr-2 pl-2.5{% else %} rotate-90 pl-2 pr-2.5 mr-4{% endif %}" @click="$store.xMobileNav.removeActiveLink('{{ index }}');">{% render 'icon-alls', icon: 'icon-caret' %}</span>
                          {% if link %}
                            <a href="{{ link.url }}" {% if block.settings.open_new_window %} target="_blank"{% endif %}
                              class="pt-4 pb-4 flex-1 font-semibold disable-effect{% if link.current or link.child_active %} active{% endif %}{% if is_rtl %} text-left{% endif %}"
                            >
                          {% else %}
                            <p class="pt-4 pb-4 flex-1 font-semibold disable-effect{% if is_rtl %} text-left{% endif %}">
                          {% endif %}
                            <span class="p-break-words">{{ block.settings.heading | escape }}</span>
                          {% if link %}</a>{% else %}</p>{% endif %}
                        </div>
                        {%- render 'mobile-main-menu',
                          links: block.settings.menu.links,
                          link: link,
                          start_level: 1,
                          start_id: index
                        -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- when 'cart' -%}
              {%- unless settings.hide_cart -%}
                <li class="block-mobile-navigation pl-5 pr-5" {{ block.shopify_attributes }}>
                  <a
                    href="{{ routes.cart_url }}"
                    class="flex pt-5 pb-5 items-center relative border-b disable-effect{% if request.path == routes.cart_url %} effect-inline{% endif %}"
                    data-no-instant
                  >
                    <span class="w-6 opacity-70" @click="$store.xMiniCart.openCart('{{ section.id }}')"> 
                      {% render 'icon-cart-all', icon: settings.cart_icon %}
                    </span>
                    <div id="mobile-cart-icon-bubble" class="count_item absolute top-2 left-3" data-value="{{ cart.item_count }}">
                      <div class="bg-[rgba(var(--colors-cart))] text-[rgba(var(--colors-cart-text))] font-medium h-5 w-5 ml-1 rounded-full text-[10px]{% if cart == empty %} hidden{% endif %}">
                        {%- if cart.item_count < 100 -%}
                          <span class="h-full flex items-center justify-center" aria-hidden="true">{{ cart.item_count }}</span>
                        {%- else -%}
                          <span class="h-full flex items-center justify-center">99+</span> 
                        {%- endif -%}
                      </div>
                    </div>
                    <span class="{% if is_rtl %} mr-4{% else %} ml-4{% endif %}">{{ 'sections.mobile-navigation.my_cart' | t }}</span>
                  </a>
                </li>
              {%- endunless -%}
            {%- when 'account' -%}
              {%- if shop.customer_accounts_enabled -%}
                <li class="block-mobile-navigation pl-5 pr-5" {{ block.shopify_attributes }}>
                  {%- liquid 
                      if customer and request.path == routes.account_url
                        assign active = true
                      endif  
                      if routes.account_login_url == request.path
                        assign active = true
                      endif 
                  -%}
                  {% # Kwikpass changes - [Starts] %}
                  {% comment %}
                  <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" 
                    class="pt-3.5 pb-3.5 flex items-center border-b disable-effect{% if active %} effect-inline{% endif %}"
                    data-no-instant
                    aria-label="{{ 'customer.log_in' | t }}"
                  >
                    <span class="w-5 {% if settings.lang_direction contains request.locale.iso_code %} ml-4{% else %} mr-4{% endif %}">
                      {% render 'icon-alls', icon: 'icon-account' %}
                    </span>
                    {%- liquid
                      if customer
                        echo 'customer.account_fallback' | t
                      else
                        echo 'customer.log_in' | t
                      endif
                    -%}
                  </a>
                  {% endcomment %}
                  <a href="javascript:void(0);" class="pt-3.5 pb-3.5 flex items-center border-b disable-effect kwik-pass-login" id="kp-account">
                    <svg width="25" height="25" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" id="kpicon">
      <path d="M22.9129 12.935L13.7571 23.0474C13.5348 23.2929 13.1284 23.1084 13.1669 22.7794L14.0816 14.9731H10.6991C10.4034 14.9731 10.2484 14.6219 10.4478 14.4035L20.3133 3.59739C20.5589 3.32834 20.9984 3.58134 20.8891 3.92887L18.2354 12.3664H22.6607C22.9557 12.3664 23.1109 12.7163 22.9129 12.935Z" fill="#FEA203"/>
      <path id="svgkp-path" fill-rule="evenodd" clip-rule="evenodd" d="M16.6079 5.35819C16.4805 5.1933 16.3421 5.03582 16.1932 4.8869C15.2702 3.96387 14.0183 3.44531 12.7129 3.44531C11.4075 3.44531 10.1556 3.96387 9.2326 4.8869C8.30957 5.80993 7.79102 7.06183 7.79102 8.36719C7.79102 9.67255 8.30957 10.9244 9.2326 11.8475C9.48368 12.0986 9.75909 12.3197 10.0533 12.5086L11.0235 11.4503C10.7335 11.2914 10.4649 11.0911 10.227 10.8531C9.56766 10.1938 9.19727 9.29959 9.19727 8.36719C9.19727 7.43479 9.56766 6.54057 10.227 5.88127C10.8863 5.22196 11.7805 4.85156 12.7129 4.85156C13.6453 4.85156 14.5395 5.22196 15.1988 5.88127C15.3636 6.04604 15.5103 6.22549 15.6377 6.41654L16.6079 5.35819ZM20.6413 18.6497L19.6746 19.7132C20.1676 20.4122 20.4473 21.2264 20.4473 22.0781V23.8359C20.4473 24.2243 20.7621 24.5391 21.1504 24.5391C21.5387 24.5391 21.8535 24.2243 21.8535 23.8359V22.0781C21.8535 20.7863 21.4016 19.6103 20.6413 18.6497ZM12.3111 17.5078H10.3026C7.27113 17.5078 4.97852 19.6394 4.97852 22.0781V23.8359C4.97852 24.2243 4.66372 24.5391 4.27539 24.5391C3.88707 24.5391 3.57227 24.2243 3.57227 23.8359V22.0781C3.57227 18.6922 6.67684 16.1016 10.3026 16.1016H12.4885L12.3111 17.5078Z" fill="currentColor" stroke="currentColor"/>
      </svg> 
                    <span id="kwik-pass-text">
                           Log in
                     </span>
                  </a>
                  {% # Kwikpass changes - [Ends] %}

                </li>
              {%- endif -%}
            {%- when 'image' -%}
              {%- if block.settings.image != blank -%}
                <li class="block-mobile-navigation pl-5 pr-5" {{ block.shopify_attributes }}>
                  <div class="pt-4 pb-4 items-center border-b">
                    {%- if block.settings.image_link != blank -%}
                      <a href="{{ block.settings.image_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %} class="disable-effect">
                    {%- endif -%}
                      {{ block.settings.image | image_url: width: block.settings.image.witdh | image_tag: 
                        widths: '300, 540, 767',
                        loading: 'lazy',
                        sizes: '(min-width: 768px) calc(100vw - 100px), 40vw',
                        alt: block.settings.image.src.alt,
                        class: 'h-full w-full'
                      }}
                    {%- if block.settings.image_link != blank -%}
                      </a>
                    {%- endif -%}
                  </div>
                </li>
              {%- endif -%}
            {%- when 'social' -%}
              <li class="block-mobile-navigation pl-5 pr-5" {{ block.shopify_attributes }}>
                <div class="pt-2 pb-2 pl-0.5 pr-0.5 flex items-center justify-center opacity-70 border-b">
                  {% render 'toolbar', mobile: true, show_social_icons: true %}
                </div>
              </li>
            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                <li class="block-mobile-navigation" {{ block.shopify_attributes }}>
                  <div class="pt-3.5 pb-3.5 ml-5 mr-5 border-b rte p-break-words text-color rte">
                    {{ block.settings.text }}
                  </div>
                </li>
              {%- endif -%}
              {%- when 'button' -%}
                {% if block.settings.button_label != blank %}
                  <li class="block-mobile-navigation block-button" {{ block.shopify_attributes }}>
                    {% style %}
                      .button-{{ block.id }}, .button-{{ block.id }} *:before {
                        {% if block.settings.button_light.alpha != 0.0 %}
                          --colors-button: {{ block.settings.button_light.red }}, {{ block.settings.button_light.green }}, {{ block.settings.button_light.blue }};
                        {% endif %}
                        {% if block.settings.button_text_light.alpha != 0.0 %}
                          --colors-button-text: {{ block.settings.button_text_light.red }}, {{ block.settings.button_text_light.green }}, {{ block.settings.button_text_light.blue }};
                        {% endif %}
                        {% if block.settings.button_hover_light.alpha != 0.0 %}
                          --colors-button-hover: rgb({{ block.settings.button_hover_light.red }}, {{ block.settings.button_hover_light.green }}, {{ block.settings.button_hover_light.blue }});
                        {% endif %}
                        {% if block.settings.button_text_hover_light.alpha != 0.0 %}
                          --colors-button-text-hover: {{ block.settings.button_text_hover_light.red }}, {{ block.settings.button_text_hover_light.green }}, {{ block.settings.button_text_hover_light.blue }};
                        {% endif %}
                        {% if block.settings.secondary_button_text_light.alpha != 0.0 %}
                          --colors-secondary-button: {{ block.settings.secondary_button_text_light.red }}, {{ block.settings.secondary_button_text_light.green }}, {{ block.settings.secondary_button_text_light.blue }};
                          --colors-line-secondary-button: {{ block.settings.secondary_button_text_light.red }}, {{ block.settings.secondary_button_text_light.green }}, {{ block.settings.secondary_button_text_light.blue }};
                          --background-secondary-button: transparent;
                        {% endif %}
                        {% if block.settings.secondary_button_light.alpha != 0.0 %}
                          --background-secondary-button: {{ block.settings.secondary_button_light.red }}, {{ block.settings.secondary_button_light.green }}, {{ block.settings.secondary_button_light.blue }};
                          --colors-line-secondary-button: {{ block.settings.secondary_button_light.red }}, {{ block.settings.secondary_button_light.green }}, {{ block.settings.secondary_button_light.blue }};
                        {% endif %}
                      }
                      .dark .button-{{ block.id }}, .dark .button-{{ block.id }} *:before {
                        {% if block.settings.button_dark.alpha != 0.0 %}
                          --colors-button: {{ block.settings.button_dark.red }}, {{ block.settings.button_dark.green }}, {{ block.settings.button_dark.blue }};
                        {% else %}  
                          --colors-button: {{ settings.colors_dark_button.red }}, {{ settings.colors_dark_button.green }}, {{ settings.colors_dark_button.blue }};
                        {% endif %}
                        {% if block.settings.button_text_dark.alpha != 0.0 %}
                          --colors-button-text: {{ block.settings.button_text_dark.red }}, {{ block.settings.button_text_dark.green }}, {{ block.settings.button_text_dark.blue }};
                        {% else %} 
                          --colors-button-text: {{ settings.colors_dark_button_text.red }}, {{ settings.colors_dark_button_text.green }}, {{ settings.colors_dark_button_text.blue }}; 
                        {% endif %}
                        {% if block.settings.button_hover_dark.alpha != 0.0 %}
                          --colors-button-hover: rgb({{ block.settings.button_hover_dark.red }}, {{ block.settings.button_hover_dark.green }}, {{ block.settings.button_hover_dark.blue }});
                        {% else %}  
                          --colors-button-hover: rgb({{ settings.colors_dark_button_hover.red }}, {{ settings.colors_dark_button_hover.green }}, {{ settings.colors_dark_button_hover.blue }});
                        {% endif %}
                        {% if block.settings.button_text_hover_dark.alpha != 0.0 %}
                          --colors-button-text-hover: {{ block.settings.button_text_hover_dark.red }}, {{ block.settings.button_text_hover_dark.green }}, {{ block.settings.button_text_hover_dark.blue }};
                        {% else %}  
                          --colors-button-text-hover: {{ settings.colors_dark_button_text_hover.red }}, {{ settings.colors_dark_button_text_hover.green }}, {{ settings.colors_dark_button_text_hover.blue }};
                        {% endif %}
                        {% if block.settings.secondary_button_text_dark.alpha != 0.0 %}
                          --colors-secondary-button: {{ block.settings.secondary_button_text_dark.red }}, {{ block.settings.secondary_button_text_dark.green }}, {{ block.settings.secondary_button_text_dark.blue }};
                          --colors-line-secondary-button: {{ block.settings.secondary_button_text_dark.red }}, {{ block.settings.secondary_button_text_dark.green }}, {{ block.settings.secondary_button_text_dark.blue }};
                          --background-secondary-button: transparent;
                        {% else %}  
                          --colors-secondary-button: {{ settings.colors_dark_button_secondary.red }}, {{ settings.colors_dark_button_secondary.green }}, {{ settings.colors_dark_button_secondary.blue }};
                          --colors-line-secondary-button: {{ settings.colors_dark_button_secondary.red }}, {{ settings.colors_dark_button_secondary.green }}, {{ settings.colors_dark_button_secondary.blue }};
                        {% endif %}
                        {% if block.settings.secondary_button_dark.alpha != 0.0 %}
                          --background-secondary-button: {{ block.settings.secondary_button_dark.red }}, {{ block.settings.secondary_button_dark.green }}, {{ block.settings.secondary_button_dark.blue }};
                          --colors-line-secondary-button: {{ block.settings.secondary_button_dark.red }}, {{ block.settings.secondary_button_dark.green }}, {{ block.settings.secondary_button_dark.blue }};
                        {% elsif settings.background_dark_button_secondary.alpha != 0.0 %}  
                          --background-secondary-button: {{ settings.background_dark_button_secondary.red }}, {{ settings.background_dark_button_secondary.green }}, {{ settings.background_dark_button_secondary.blue }};
                          --colors-line-secondary-button: {{ settings.background_dark_button_secondary.red }}, {{ settings.background_dark_button_secondary.green }}, {{ settings.background_dark_button_secondary.blue }};
                        {% else %}
                          --background-secondary-button: transparent;
                        {% endif %}
                      }
                    {% endstyle %}
                    <div class="button-{{ block.id }} mt-5 mb-5 ml-5 mr-5">
                      {% if block.settings.button_link == blank %}
                        <p class="button{% if block.settings.show_button_style == 'secondary' %} button-outline{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid{% endif %} inline-block leading-normal empty:hidden text-center px-2 py-1 md:px-2.5 opacity-70 hover:cursor-not-allowed">
                          {% render 'button-label', button_label: block.settings.button_label, show_button_style: block.settings.show_button_style %}
                        </p>
                      {% else %}
                        <a class="button{% if block.settings.show_button_style == 'secondary' %} button-outline{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid{% endif %} inline-block leading-normal empty:hidden text-center px-2 py-1 md:px-2.5" href="{{ block.settings.button_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %}>
                          {% render 'button-label', button_label: block.settings.button_label, show_button_style: block.settings.show_button_style %}
                        </a>
                      {% endif %}
                    </div>
                  </li>
                {% endif %}
          {%- endcase -%}
        {%- endfor -%}
        {% comment %}theme-check-enable LiquidTag{% endcomment %}
      </ul>
    </div>
    {%- if show_language -%}
      <div class="pt-1.5 pb-1.5 pl-5 pr-5 lg:flex lg:items-center z-50 background-header justify-center lg:justify-end bottom-0 left-0 max-w-sm border-t">
        {%- render 'toolbar', 
          mobile: true, 
          show_currency_selector: section.settings.show_currency_selector, 
          show_language_selector: section.settings.show_language_selector
        -%}
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.mobile-navigation.name",
  "class": "section-mobile-navigation",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.mobile-navigation.settings.description.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.mobile-navigation.settings.menu.label",
      "info": "t:sections.mobile-navigation.settings.menu.info"
    },
    {
      "type": "checkbox",
      "id": "show_language_selector",
      "default": true,
      "label": "t:sections.header.settings.show_language_selector.label"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "default": true,
      "label": "t:sections.header.settings.show_currency_selector.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#FFFFFF",
      "label": "t:sections.mobile-navigation.settings.background_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#000000",
      "label": "t:sections.mobile-navigation.settings.text_color.label"
    },
    {
      "type": "color",
      "id": "divider_color",
      "default": "#F2F2F2",
      "label": "t:sections.mobile-navigation.settings.divider_color.label"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "default": "#202020",
      "label": "t:sections.mobile-navigation.settings.background_color_dark.label"
    },
    {
      "type": "color",
      "id": "text_color_dark",
      "default": "#FFFFFF",
      "label": "t:sections.mobile-navigation.settings.text_color_dark.label"
    },
    {
      "type": "color",
      "id": "divider_color_dark",
      "default": "#313131",
      "label": "t:sections.mobile-navigation.settings.divider_color_dark.label"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "t:sections.mobile-navigation.blocks.menu.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.mobile-navigation.blocks.menu.settings.menu_item.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.mobile-navigation.blocks.menu.settings.menu.label",
          "info": "t:sections.mobile-navigation.blocks.menu.settings.menu.info"
        },
        {
          "type": "url",
          "id": "menu_item_link",
          "label": "t:sections.mobile-navigation.blocks.menu.settings.menu_item_link.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        }
      ]
    },
    {
      "type": "cart",
      "limit": 1,
      "name": "t:sections.mobile-navigation.blocks.cart.name"
    },
    {
      "type": "account",
      "limit": 1,
      "name": "t:sections.mobile-navigation.blocks.account.name"
    },
    {
      "type": "image",
      "limit": 1,
      "name": "t:sections.mobile-navigation.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.mobile-navigation.blocks.image.name"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.mobile-navigation.blocks.image_link.name"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        }
      ]
    },
    {
      "type": "social",
      "limit": 1,
      "name": "t:sections.mobile-navigation.blocks.social.name"
    },
    {
      "type": "text",
      "limit": 1,
      "name": "t:sections.mobile-navigation.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.mobile-navigation.blocks.text.name"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        },
        {
          "type": "color",
          "id": "button_light",
          "label": "t:sections.all.button.primary_button_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_light",
          "label": "t:sections.all.button.primary_button_text_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_hover_light",
          "label": "t:sections.all.button.primary_button_hover_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_hover_light",
          "label": "t:sections.all.button.primary_button_hover_text_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_light",
          "label": "t:sections.all.button.secondary_button_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_text_light",
          "label": "t:sections.all.button.secondary_button_text_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_dark",
          "label": "t:sections.all.button.primary_button_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_dark",
          "label": "t:sections.all.button.primary_button_text_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_hover_dark",
          "label": "t:sections.all.button.primary_button_hover_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_hover_dark",
          "label": "t:sections.all.button.primary_button_hover_text_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_dark",
          "label": "t:sections.all.button.secondary_button_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_text_dark",
          "label": "t:sections.all.button.secondary_button_text_dark",
          "default": "rgba(0,0,0,0)"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "cart"
      },
      {
        "type": "account"
      },
      {
        "type": "image"
      },
      {
        "type": "social"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}