{%- liquid
  if section.settings.show_for_guests_only and shop.customer_accounts_enabled and customer.id != blank
    assign show_popup = false
  else
    assign show_popup = true
  endif

  assign show_countdown = false

  for block in section.blocks
    if block.type == 'countdown_timer'
      assign show_countdown = true
      assign block_countdown = block
    endif
  endfor

  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
-%}
{%- style -%}
  .background-{{ section.id }} {
    {% if section.settings.background_color_light.alpha != 0.0 %}
      background: {{ section.settings.background_color_light }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endif %}
   }
  .dark .background-{{ section.id }} {
    {% if section.settings.background_color_dark.alpha != 0.0 %}
      background: {{ section.settings.background_color_dark }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endif %}
   }
  {%- if section.settings.text_color_light.alpha != 0 -%}
    .content-text-{{ section.id }} {
      color: {{ section.settings.text_color_light }};
      --colors-text: {{ section.settings.text_color_light.red }}, {{ section.settings.text_color_light.green }}, {{ section.settings.text_color_light.blue }};
    }
    .border-text-{{ section.id }} {
      border-color: {{ section.settings.text_color_light }};
    }
  {%- else -%}
    .content-text-{{ section.id }} {
      color: rgb(var(--colors-text-secondary));
    }
    .border-text-{{ section.id }} {
      border-color: rgb(var(--colors-text));
    }
  {%- endif -%}
  .dark .content-text-{{ section.id }} {
    {%- if section.settings.text_color_dark.alpha != 0 -%}
      color: {{ section.settings.text_color_dark }};
      --colors-text: {{ section.settings.text_color_dark.red }}, {{ section.settings.text_color_dark.green }}, {{ section.settings.text_color_dark.blue }};
    {%- else -%}
    color: rgb(var(--colors-text-secondary));
    {%- endif -%}
  }
  .dark .border-text-{{ section.id }} {
    {%- if section.settings.text_color_dark.alpha != 0 -%}
      border-color: {{ section.settings.text_color_dark }};
    {%- else -%}
      border-color: rgb(var(--colors-text));
    {%- endif -%}
  }
{%- endstyle -%}
{% if show_popup %}
  <div 
    x-data='xPopups({
      "sectionId": "{{ section.id }}",
      "name": "popup-promotion",
      "delays": {{ section.settings.delay }},
      "delayDays": {{ section.settings.reappear_after }},
      "show_popup": {{ show_popup }},
      "showOnMobile": {{ section.settings.show_on_mobile }},
      "schedule_enabled": {{ section.settings.schedule_enabled }},
      "showCountdown": {{ show_countdown }},
      "overlay": {{ settings.show_popup_overlay }},
      "showMinimal": {{ section.settings.enable_desktop }},
      "showMinimalMobile": {{ section.settings.enable_mobile }},
      "default_style": "{{ section.settings.default_style }}",
      "default_style_mobile": "{{ section.settings.default_style_mobile }}"
    })'
  >
    <template x-teleport="#eurus-popup">
      {% if show_countdown %}
        {%- capture xCountDownPopup -%}
          {
            "blockId": "{{ block_countdown.id }}",
            "schedule_enabled": {{ section.settings.schedule_enabled | default: false }},
            "timezone": {{ block_countdown.settings.timezone | default: 0 }},
            "start_year": {{ block_countdown.settings.start_year | default: 0 }},
            "start_month": {{ block_countdown.settings.start_month | default: 0 }},
            "start_day": {{ block_countdown.settings.start_day | default: 0 }},
            "start_hour": {{ block_countdown.settings.start_hour | default: 0 }},
            "start_minute": {{ block_countdown.settings.start_minute | default: 0 }},
            "end_year": {{ block_countdown.settings.end_year | default: 0 }},
            "end_month": {{ block_countdown.settings.end_month | default: 0 }},
            "end_day": {{ block_countdown.settings.end_day | default: 0 }},
            "end_hour": {{ block_countdown.settings.end_hour | default: 0 }},
            "end_minute": {{ block_countdown.settings.end_minute | default: 0 }}
          }
        {%- endcapture -%}
      {% endif %}
      <div 
        id="x-promo-popup-{{ section.id }}"
        class="promo-popup w-full mt-2 background-{{ section.id }} relative z-50 md:absolute md:promotion-alignment--{{ section.settings.popup_position }} pointer-events-auto shadow-md{% if section.settings.image %} md:w-[700px] lg:w-[810px]{% else %} min-w-[300px] max-w-[500px]{% endif %}{% if settings.edges_type == 'rounded_corners' %} rounded-[10px] overflow-hidden{% endif %}{% unless section.settings.show_on_mobile %} hidden md:block{% endunless %}"
        {% if request.design_mode %} x-init="show && load();" {% else %} x-init="load()" {% endif %}
        x-cloak {% if show_countdown and request.design_mode == false %} x-show="show && enable" {% else %} x-show="show" {% endif %}
        x-transition:enter="transition-all ease-in-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition-all ease-in-out duration-300"
        x-transition:leave-end="opacity-0"
        x-intersect.full="$store.xModal.focus('x-promo-popup-{{ section.id }}', 'PromotionPopupClose-{{ section.id }}'); $store.xCartAnalytics.viewCart();"
      >
        <button id="PromotionPopupClose-{{ section.id }}" aria-label="{{ 'accessibility.close' | t }}"
          class="rounded-full absolute cursor-pointer top-1{% if is_rtl %} left-1{% else %} right-1{% endif %} px-1.5 py-1 h-11 w-11 z-10 focus-visible:outline-none"
          @click.prevent="$store.xModal.removeFocus(); close();"
        >
          <span class="button button-action block p-2.5 rounded-full">
            {% render 'icon-alls', icon: 'icon-close' %}
          </span>
        </button>
        <div class="pt-10 md:pt-0{% if is_rtl %} ltr{% endif %}{% if section.settings.image != blank %} flex-col flex md:flex-row{% endif %}{% if section.settings.content_position == 'right' %} flex-col-reverse md:flex-row-reverse{% endif %}">
          <div class="content-text-{{ section.id }}{% if is_rtl %} rtl{% endif %} flex-1 pb-8 px-8 md:pt-10 lg:px-14 lg:py-12 text-{{ section.settings.content_alignment }} ltr promotion--has-image:w-[54%] overflow-y-auto scrollbar-body max-h-[calc(75vh-96px)] md:max-h-[85vh] 2xl:max-h-[77vh]">
            <div id="x-promotion-{{ section.id }}" class="promotion"
              {% if show_countdown %}
                x-data="{ loading: true, textLoad: '-', days: 0, hours: 0, minutes: 0, seconds: 0 }"
                x-countdown-data='{{ xCountDownPopup }}'
                x-intersect='$nextTick(() => {
                            if (!{{ section.settings.show_on_mobile }} && window.innerWidth < 768) return;
                            $store.xHelper.countdown({{ xCountDownPopup }}, (canShow, s, m, h, d) => {
                              days = d;
                              hours = h;
                              minutes = m;
                              seconds = s;
                              loading = false;
                            })
                          })' 
              {% endif %}
            >
              {%- for block in section.blocks -%}
                {% case block.type %}
                  {%- when 'heading' -%}
                    {% liquid assign minimal_default_text = block.settings.heading %}
                    {%- if block.settings.heading != blank or block.settings.subheading != blank -%}
                      <div class="block-{{ section.id }}" {{ block.shopify_attributes }}>
                        {%- if block.settings.subheading != blank -%}
                          <p class="mt-2 text-normal">{{ block.settings.subheading }}</p>
                        {%- endif -%}
                        {%- if block.settings.heading != blank -%}
                          {%- style -%}
                            .heading-{{ section.id }} {
                              {%- if block.settings.heading_color.alpha != 0 -%}
                                  color: {{ block.settings.heading_color }};
                              {%- else -%}
                                  color: rgb(var(--colors-heading))
                              {%- endif -%}
                            }
                            .dark .heading-{{ section.id }} {
                              {%- if block.settings.heading_color_dark.alpha != 0 -%}
                                color: {{ block.settings.heading_color_dark }};
                              {%- else -%}
                                color: rgb(var(--colors-heading));
                              {%- endif -%}
                            }
                            .heading-minimal-{{ section.id }} {
                              font-weight: var(--font-heading-weight);
                              {%- if block.settings.heading_color.alpha != 0 -%}
                                color: {{ block.settings.heading_color }};
                              {%- else -%}
                                color: rgb(var(--colors-heading-secondary));
                              {%- endif -%}
                            }
                            .dark .heading-minimal-{{ section.id }} {
                              {%- if block.settings.heading_color_dark.alpha != 0 -%}
                                color: {{ block.settings.heading_color_dark }};
                              {%- else -%}
                                color: rgb(var(--colors-heading-secondary));
                              {%- endif -%}
                            }
                          {%- endstyle -%}
                          <p class="heading-{{ section.id }} h3 mt-3">{{ block.settings.heading }}</p>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- when 'text' -%}
                    {% if block.settings.text != blank %}
                      {% if block.settings.coupon_code != blank and block.settings.text contains 'coupon_code' %}
                        {% style %}
                          .block-{{ section.id }}.rte p {
                            display: inline;
                          }
                          {%- if block.settings.coupon_color.alpha != 0 -%}
                            .promo-popup .border-text-{{ block.id }} {
                              border-color: {{ block.settings.coupon_color }};
                              color: {{ block.settings.coupon_color }};
                            }
                          {%- endif -%}
                          .dark .promo-popup .border-text-{{ block.id }} {
                            {%- if block.settings.coupon_color_dark.alpha != 0 -%}
                              border-color: {{ block.settings.coupon_color_dark }};
                              color: {{ block.settings.coupon_color_dark }};
                            {%- else -%}
                              {%- if section.settings.text_color_dark.alpha != 0 -%}
                                color: {{ section.settings.text_color_dark }};
                                border-color: {{ section.settings.text_color_dark }};
                              {%- else -%}
                                color: rgb(var(--colors-text));
                                border-color: rgb(var(--colors-text));
                              {%- endif -%}
                            {%- endif -%}
                          }
                        {% endstyle %}
                        {% capture couponCode %}
                          <div 
                            :title="copySuccess?'{{ 'general.global.copied' | t }}':'{{ 'general.global.copy_code' | t }}'" 
                            x-data='xCounponCode'
                            x-on:click="copyCode()"
                            class="button-coupon--{{ block.id }} border-text-{{ section.id }} border-text-{{ block.id }} mx-1 cursor-pointer border rounded-full border-dashed overflow-hidden items-center w-fit inline-flex btn--{{ block.id }} none_transition empty:hidden center px-2 py-1 md:pl-3 md:pr-2.5"
                          >
                            <span class="leading-none h-3 coupon-code" x-ref="code_value">
                              {{ block.settings.coupon_code | escape }}
                            </span>
                            <div class="ml-3 flex items-center">
                              <span class="w-3 h-3" x-cloak x-show="!coppySuccess"
                                x-transition:enter="transition-all absolute ease-in-out duration-300"
                                x-transition:enter-start="opacity-0 absolute transform translate-y-full"
                                x-transition:enter-end="opacity-100 absolute transform translate-y-0"
                                x-transition:leave="transition-all absolute ease-in-out duration-300"
                                x-transition:leave-end="opacity-0 transform absolute -translate-y-full"
                              >
                                {% render 'icon-alls', icon: 'icon-copy' %}
                              </span>
                              <span class="w-3 h-3" x-cloak x-show="coppySuccess"
                                x-transition:enter="transition-all ease-in-out duration-300"
                                x-transition:enter-start="opacity-0 transform translate-y-full"
                                x-transition:enter-end="opacity-100 transform translate-y-0"
                                x-transition:leave="transition ease-in-out duration-300"
                                x-transition:leave-end="opacity-0 transform -translate-y-full"
                              >
                                {% render 'icon-alls', icon: 'icon-check' %}
                              </span>
                            </div>
                          </div>
                        {% endcapture %}
                      {% else %}
                        {% capture couponCode %}
                        {% endcapture %}
                      {% endif %}
                      {% assign text = block.settings.text | replace: "coupon_code", couponCode %}
                      <div class="block-{{ section.id }} text-[rgb(var(--colors-text))] p-break-words rte mt-2 mb-2 leading-tight rte" {{ block.shopify_attributes }}>
                        {{ text }}
                      </div>
                      {% if block.settings.coupon_code != blank and block.settings.text contains 'coupon_code' %}
                        <script src="{{ 'coupon-code.js' | asset_url }}" defer></script>
                      {% endif %}
                    {% endif %}
                  {%- when 'button' -%}
                    {%- style -%}
                      .button.button--{{ block.id }} {
                        {%- if block.settings.button_text_color.alpha != 0 -%}
                          color: {{ block.settings.button_text_color }};
                        {%- endif -%}
                        {%- if block.settings.button_color.alpha != 0 -%}
                          background: {{ block.settings.button_color }};
                          border-color: {{ block.settings.button_color }};
                        {%- endif -%}
                      }
                      .dark .button.button--{{ block.id }} {
                        {%- if block.settings.button_text_color_dark.alpha != 0 -%}
                          color: {{ block.settings.button_text_color_dark }};
                        {%- else -%}
                          color: rgb(var(--colors-button-text));
                        {%- endif -%}
                        {%- if block.settings.button_color_dark.alpha != 0 -%}
                          background: {{ block.settings.button_color_dark }};
                          border-color: {{ block.settings.button_color_dark }};
                        {%- else -%}
                          background: var(--colors-button-hover);
                          border-color: var(--colors-button-hover);
                        {%- endif -%}
                      }
                    {%- endstyle -%}
                    {%- if block.settings.button_label != blank -%}
                      <a
                        {% if block.settings.button_link %} href="{{ block.settings.button_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %} 
                        class="block-{{ section.id }} button button-solid border button--{{ block.id }} inline-block ml-0.5 mr-0.5 mt-4 mb-0.5 empty:hidden pl-6 pr-6 lg:pl-9 lg:pr-9 pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal{% unless block.settings.button_link %} hover:cursor-not-allowed opacity-70{% endunless %}" 
                        {{ block.shopify_attributes }}
                      >
                        {% render 'button-label', button_label: block.settings.button_label, show_button_style: 'primary' %}
                      </a> 
                    {%- endif -%}
                  {%- when 'countdown_timer' -%}
                    {%- style -%}
                      .background-countdown {
                        font-size: var(--font-size-normal);
                        {%- if block.settings.background_color.alpha != 0 -%}
                          background: {{ block.settings.background_color }};
                        {%- endif -%}
                        {%- if block.settings.text_color.alpha != 0 -%}
                          color: {{ block.settings.text_color }};
                          border-color: {{ block.settings.text_color }};
                        {%- endif -%}
                      }
                      .dark .background-countdown {
                        {%- if block.settings.background_color_dark.alpha != 0 -%}
                          background: {{ block.settings.background_color_dark }};
                        {%- else -%}
                          background: transparent;
                        {%- endif -%}
                        {%- if block.settings.text_color_dark.alpha != 0 -%}
                          color: {{ block.settings.text_color_dark }};
                          border-color: {{ block.settings.text_color_dark }};
                        {%- else -%}
                          color: rgba(var(--colors-text));
                          border-color: rgba(var(--colors-text));
                        {%- endif -%}
                      }
                      .timer-countdown {
                        font-size: var(--font-size-large);
                        {%- if block.settings.time_color.alpha != 0 -%}
                          color: {{ block.settings.time_color }}
                        {%- else -%}
                          color: var(--colors-button-hover);
                        {%- endif -%}
                      }
                      .dark .timer-countdown {
                        {%- if block.settings.time_color_dark.alpha != 0 -%}
                          color: {{ block.settings.time_color_dark }}
                        {%- else -%}
                          color: var(--colors-button-hover);
                        {%- endif -%}
                      }
                    {%- endstyle -%}
                    <div id="x-countdown-popup-{{ section.id }}"
                        class="block-{{ section.id }} x-countdown w-full inline-block md:block mt-3 mb-2 lg:mt-5 lg:mb-3"
                        {{ block.shopify_attributes }}
                    >
                      <div id="x-popup-countdown-{{ block.id }}" class="x-content-popup-countdown grid grid-cols-4 justify-center gap-1.5{% if section.settings.image != blank %} md:gap-1.5{% else %} md:gap-2.5{% endif %}">
                        <div class="flex flex-col items-center background-countdown border border-dashed pl-1 pr-1 pt-2.5 pb-2.5 md:min-w-[70px] lg:min-w-[74px]{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}"><span class="timer-countdown h4" x-html="loading?textLoad:days"></span><span class="p-break-words">{{ 'sections.popup.days' | t }}</span></div>
                        <div class="flex flex-col items-center background-countdown border border-dashed pl-1 pr-1 pt-2.5 pb-2.5 md:min-w-[70px] lg:min-w-[74px]{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}"><span class="timer-countdown h4" x-html="loading?textLoad:hours"></span><span class="p-break-words">{{ 'sections.popup.hours' | t }}</span></div>
                        <div class="flex flex-col items-center background-countdown border border-dashed pl-1 pr-1 pt-2.5 pb-2.5 md:min-w-[70px] lg:min-w-[74px]{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}"><span class="timer-countdown h4" x-html="loading?textLoad:minutes"></span><span class="p-break-words">{{ 'sections.popup.mins' | t }}</span></div>
                        <div class="flex flex-col items-center background-countdown border border-dashed pl-1 pr-1 pt-2.5 pb-2.5 md:min-w-[70px] lg:min-w-[74px]{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}"><span class="timer-countdown h4" x-html="loading?textLoad:seconds"></span><span class="p-break-words">{{ 'sections.popup.secs' | t }}</span></div>
                      </div>
                    </div>
                  {%- when 'email_form' -%}
                    <div {{ block.shopify_attributes }}>
                      {%- assign newsletter_form_id = 'newsletter-' | append: section.id -%}
                      {%- form 'customer', id: newsletter_form_id -%}
                        {%- unless form.posted_successfully? -%}
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="flex mt-6 lg:mt-7 border{% unless forloop.last %} mb-4{% endunless %}{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}{% if is_rtl %} rtl{% endif %}">
                            <div class="relative w-full selection:bg-[rgba(var(--colors-text),0.2)]">
                              <input
                                id="Email--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="w-full input pl-5 pr-5 pt-5 pb-1.5 lg:pb-2 lg:pt-6 focus:outline-none focus:border-current bg-transparent placeholder:opacity-0"
                                value="{% if customer %}{{ customer.email }}{% endif %}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                              >
                              <label 
                                for="Email--{{ section.id }}"
                                class="duration-150 absolute top-1/2{% if is_rtl %} right-5{% else %} left-5{% endif %} -translate-y-1/2 input_focus:text-xs input_focus:top-2.5 lg:input_focus:top-3.5 input_not_empty:top-2.5 lg:input_not_empty:top-3.5 input_not_empty:text-xs" 
                              >
                                {{ 'newsletter.label' | t }}
                              </label>
                            </div>
                              <button 
                                type="submit"
                                class="w-14 flex justify-end items-center pt-3 pb-3 lg:pt-3.5 lg:pb-3.5 cursor-pointer empty:hidden{% if is_rtl %} lg:pl-5 pl-4 rotate-180{% else %} lg:pr-5 pr-4{% endif %}" 
                                name="commit" 
                                aria-label="{{ 'newsletter.button_label' | t }}"
                              >
                                {% render 'icon-alls', icon: 'icon-arrow', enable_email_footer: true %}
                              </button>
                          </div>
                        {%- else -%}
                          <div 
                            id="Newsletter-success--{{ section.id }}" 
                            class="newsletter-message flex items-center text-left pl-4 pr-4 pt-3.5 pb-3.5 mt-5 bg-[rgba(var(--color-success),0.1)] focus:shadown-none focus-visible:outline-none focus:outline-none focus-visible:shadow-none" 
                            tabindex="-1" 
                            autofocus
                          >
                            <span class="inline-block w-5 mr-2 selection:bg-[rgba(var(--color-success),0.2)] text-[rgba(var(--color-success))]">
                              {%- render 'icon-alls', icon: 'icon-success' %}
                            </span>
                            <p class="flex-1">{{ 'newsletter.success' | t }}</p>
                          </div>
                        {%- endunless -%}
                        {%- if form.errors -%}
                          <div 
                            id="Newsletter-error--{{ section.id }}"
                            class="newsletter-message flex items-center text-left pl-4 pr-4 pt-3.5 pb-3.5 mt-5 bg-[rgba(var(--color-error),0.1)]{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}"
                          >
                            <span class="inline-block w-5 mr-2 text-[rgba(var(--color-error))]  selection:bg-[rgba(var(--color-error),0.2)]">{% render 'icon-alls', icon: 'icon-error' %} </span>
                            <p class="flex-1">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</p>
                          </div>
                        {%- endif -%}
                      {%- endform -%}
                    </div>
                  {%- when 'social-icons' -%}
                    <ul class="block-{{ section.id }} -ml-4 -mr-3 md:flex flex-wrap justify-{{ section.settings.content_alignment }} mt-3 lg:mt-5{% unless block.settings.show_on_mobile %} hidden{% else %} flex{% endunless %}" {{ block.shopify_attributes }}>
                      {%- render 'social-icons' -%}
                    </ul>
                {% endcase %}
              {%- endfor -%}
            </div>
          </div>
          {%- if section.settings.image != blank -%}
            <div class="block w-[46%] relative overflow-hidden">
              {%- capture sizes -%} (min-width: {{ settings.page_width }}px) calc((1000px) / 2) , (min-width: 768px) calc((100vw) / 2), 100vw
              {%- endcapture -%}
              {{ section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy', sizes: sizes, widths: '540, 767, 1024, 1200, 1500, 1780', class: 'h-full w-full object-cover z-0 absolute inset-0 image-hover' }}
            </div>
          {%- endif -%}
        </div>
      </div>
    </template>
    {% if section.settings.enable_desktop or section.settings.enable_mobile %}
      {% liquid 
        assign class_show_minimal = ' '
        unless section.settings.enable_desktop
          assign class_show_minimal = 'md:hidden '
        else 
          assign class_show_minimal = 'md:block '
        endunless
        if section.settings.enable_mobile == false or section.settings.show_on_mobile == false
          assign class_show_minimal = class_show_minimal | append: 'hidden '
        endif
      %}
      <template x-teleport="#popup-minimal-{{ settings.position_minimal }}">
        <div class="relative mb-2" x-show="showMinimal" x-cloak
          x-transition:enter="transition-all ease-in-out duration-300"
          x-transition:enter-start="opacity-0 transform md:-translate-x-1/3 translate-y-1/3 md:translate-y-0"
          x-transition:enter-end="opacity-100 transform md:translate-x-0 translate-y-0"
          x-transition:leave="transition-all ease-in-out duration-300"
          x-transition:leave-end="opacity-0 transform md:translate-x-1/3 translate-y-1/3 md:translate-y-0"
        >
          <div 
            class="w-full pb-3 p-4 pt-3.5 md:pb-4 md:p-5 rounded-md background-{{ section.id }} {{ class_show_minimal }}hover:cursor-pointer shadow-md{% if settings.edges_type == 'rounded_corners' %} rounded-[10px] overflow-hidden{% endif %}"
            aria-label="{{ 'products.modal.label' | t }}"
            @click.prevent="clickMinimal()"
          >
            <div class="content-text-{{ section.id }}{% if is_rtl %} ml-7{% else %} mr-7{% endif %} leading-5 min-h-[1.25rem]">
              {% if section.settings.minimal_subtitle != blank %}
                <p class="text-[85%]">{{ section.settings.minimal_subtitle }}</p>
              {% endif %}
              {% if section.settings.minimal_title != blank %}
                <p class="heading-minimal-{{ section.id }}">{{ section.settings.minimal_title }}</p>
              {% endif %}
              {% if section.settings.minimal_subtitle == blank and section.settings.minimal_title == blank %}
                <p class="heading-minimal-{{ section.id }}">
                  {% if minimal_default_text != blank %}
                    {{ minimal_default_text }}
                  {% else %}
                    {{ 'sections.popup.popup_minimal' | t }}
                  {% endif %}
                </p>
              {% endif %}
            </div>
          </div>
          <button aria-label="{{ 'accessibility.close' | t }}"
            class="cursor-pointer p-2 absolute{% if is_rtl %} left-2{% else %} right-2{% endif %} top-[0.625rem] md:top-4 content-text-{{ section.id }} {{ class_show_minimal }}"
            @click.prevent="closeMinimal()"
          >
            <span class="block rounded-full h-3 w-3">
              {% render 'icon-alls', icon: 'icon-close' %}
            </span>
          </button>
        </div>
      </template>
    {% endif %}
  </div>
  <script src="{{ 'popup.js' | asset_url }}" defer></script>
  <script src="{{ 'coupon-code.js' | asset_url }}" defer></script>
{% endif %}
{% schema %}
{
  "name": "t:sections.promotion-popup.name",
  "tag": "section",
  "class": "section-promotion-popup",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.promotion-popup.settings.info.label"
    },
    {
      "type": "select",
      "id": "popup_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.promotion-popup.settings.popup_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.promotion-popup.settings.popup_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.promotion-popup.settings.popup_position.options__3.label"
        },
        {
          "value": "center-left",
          "label": "t:sections.promotion-popup.settings.popup_position.options__4.label"
        },
        {
          "value": "center",
          "label": "t:sections.promotion-popup.settings.popup_position.options__5.label"
        },
        {
          "value": "center-right",
          "label": "t:sections.promotion-popup.settings.popup_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.promotion-popup.settings.popup_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.promotion-popup.settings.popup_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.promotion-popup.settings.popup_position.options__9.label"
        }
      ],
      "default": "bottom-left",
      "label": "t:sections.promotion-popup.settings.popup_position.label",
      "info": "t:sections.promotion-popup.settings.popup_position.info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.promotion-popup.settings.image.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.promotion-popup.settings.content_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.promotion-popup.settings.content_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.promotion-popup.settings.content_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.promotion-popup.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.promotion-popup.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.promotion-popup.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.promotion-popup.settings.content_alignment.label"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.promotion-popup.settings.background_color_light.label"
    },
    {
      "type": "color",
      "id": "text_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.promotion-popup.settings.text_color_light.label"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "t:sections.promotion-popup.settings.background_color_dark.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color_dark",
      "label": "t:sections.promotion-popup.settings.text_color_dark.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.promotion-popup.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_for_guests_only",
      "default": true,
      "label": "t:sections.promotion-popup.settings.show_for_guests_only.label"
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "default": false,
      "label": "t:sections.promotion-popup.settings.show_on_mobile.label",
      "info": "t:sections.promotion-popup.settings.show_on_mobile.info"
    },
    {
      "type": "checkbox",
      "id": "schedule_enabled",
      "default": false,
      "label": "t:sections.promotion-popup.settings.schedule_enabled.label",
      "info": "t:sections.promotion-popup.settings.schedule_enabled.info"
    },
    {
      "type": "range",
      "id": "delay",
      "min": 2,
      "max": 60,
      "step": 1,
      "unit": "s",
      "label": "t:sections.promotion-popup.settings.delay.label",
      "info": "t:sections.promotion-popup.settings.delay.info",
      "default": 5
    },
    {
      "type": "range",
      "id": "reappear_after",
      "min": 1,
      "max": 30,
      "step": 1,
      "unit": "day",
      "label": "t:sections.promotion-popup.settings.reappear-after.label",
      "default": 7
    },
    {
      "type": "header",
      "content": "t:sections.promotion-popup.settings.minimal_popup.header",
      "info": "t:sections.promotion-popup.settings.minimal_popup.note"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop",
      "default": true,
      "label": "t:sections.promotion-popup.settings.minimal_popup.enable_desktop"
    },
    {
      "type": "select",
      "id": "default_style",
      "label": "t:sections.promotion-popup.settings.minimal_popup.default_style.label",
      "options": [
        {
          "value": "full",
          "label": "t:sections.promotion-popup.settings.minimal_popup.default_style.full_label"
        },
        {
          "value": "minimal",
          "label": "t:sections.promotion-popup.settings.minimal_popup.default_style.minimal_label"
        }
      ],
      "default": "minimal"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile",
      "default": false,
      "label": "t:sections.promotion-popup.settings.minimal_popup.enable_mobile"
    },
    {
      "type": "select",
      "id": "default_style_mobile",
      "label": "t:sections.promotion-popup.settings.minimal_popup.default_style.label_mobile",
      "options": [
        {
          "value": "full",
          "label": "t:sections.promotion-popup.settings.minimal_popup.default_style.full_label"
        },
        {
          "value": "minimal",
          "label": "t:sections.promotion-popup.settings.minimal_popup.default_style.minimal_label"
        }
      ],
      "default": "minimal"
    },
    {
      "type": "text",
      "id": "minimal_title",
      "label": "t:sections.promotion-popup.settings.minimal_popup.title"
    },
    {
      "type": "text",
      "id": "minimal_subtitle",
      "label": "t:sections.promotion-popup.settings.minimal_popup.subtitle"
    }
  ],
  "blocks": [
    {
      "type": "countdown_timer",
      "name": "t:sections.promotion-popup.blocks.countdown_timer.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "timezone",
          "options": [
            {
              "value": "-12",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-12.label"
            },
            {
              "value": "-11",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-11.label"
            },
            {
              "value": "-10",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-10.label"
            },
            {
              "value": "-9",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-9.label"
            },
            {
              "value": "-8",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-8.label"
            },
            {
              "value": "-7",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-7.label"
            },
            {
              "value": "-6",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-6.label"
            },
            {
              "value": "-5",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-5.label"
            },
            {
              "value": "-4",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-4.label"
            },
            {
              "value": "-3",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-3.label"
            },
            {
              "value": "-2",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-2.label"
            },
            {
              "value": "-1",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__-1.label"
            },
            {
              "value": "0",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__0.label"
            },
            {
              "value": "1",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__2.label"
            },
            {
              "value": "3",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__3.label"
            },
            {
              "value": "4",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__4.label"
            },
            {
              "value": "5",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__5.label"
            },
            {
              "value": "6",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__6.label"
            },
            {
              "value": "7",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__7.label"
            },
            {
              "value": "8",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__8.label"
            },
            {
              "value": "9",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__9.label"
            },
            {
              "value": "10",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__10.label"
            },
            {
              "value": "11",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__11.label"
            },
            {
              "value": "12",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__12.label"
            },
            {
              "value": "13",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__13.label"
            },
            {
              "value": "14",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.options__14.label"
            }
          ],
          "default": "-4",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.timezone.label"
        },
        {
          "type": "paragraph",
          "content": "t:sections.promotion-popup.blocks.countdown_timer.settings.schedule_start_time.content"
        },
        {
          "type": "number",
          "id": "start_year",
          "default": 2024,
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.start_year.label"
        },
        {
          "type": "select",
          "id": "start_month",
          "options": [
            {
              "value": "1",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__2.label"
            },
            {
              "value": "3",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__3.label"
            },
            {
              "value": "4",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__4.label"
            },
            {
              "value": "5",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__5.label"
            },
            {
              "value": "6",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__6.label"
            },
            {
              "value": "7",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__7.label"
            },
            {
              "value": "8",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__8.label"
            },
            {
              "value": "9",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__9.label"
            },
            {
              "value": "10",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__10.label"
            },
            {
              "value": "11",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__11.label"
            },
            {
              "value": "12",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__12.label"
            }
          ],
          "default": "1",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.start_month.label"
        },
        {
          "type": "select",
          "id": "start_day",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            },
            {
              "value": "9",
              "label": "9"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            }
          ],
          "default": "1",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.start_day.label"
        },
        {
          "type": "select",
          "id": "start_hour",
          "options": [
            {
              "value": "0",
              "label": "12 AM"
            },
            {
              "value": "1",
              "label": "01 AM"
            },
            {
              "value": "2",
              "label": "02 AM"
            },
            {
              "value": "3",
              "label": "03 AM"
            },
            {
              "value": "4",
              "label": "04 AM"
            },
            {
              "value": "5",
              "label": "05 AM"
            },
            {
              "value": "6",
              "label": "06 AM"
            },
            {
              "value": "7",
              "label": "07 AM"
            },
            {
              "value": "8",
              "label": "08 AM"
            },
            {
              "value": "9",
              "label": "09 AM"
            },
            {
              "value": "10",
              "label": "10 AM"
            },
            {
              "value": "11",
              "label": "11 AM"
            },
            {
              "value": "12",
              "label": "12 PM"
            },
            {
              "value": "13",
              "label": "01 PM"
            },
            {
              "value": "14",
              "label": "02 PM"
            },
            {
              "value": "15",
              "label": "03 PM"
            },
            {
              "value": "16",
              "label": "04 PM"
            },
            {
              "value": "17",
              "label": "05 PM"
            },
            {
              "value": "18",
              "label": "06 PM"
            },
            {
              "value": "19",
              "label": "07 PM"
            },
            {
              "value": "20",
              "label": "08 PM"
            },
            {
              "value": "21",
              "label": "09 PM"
            },
            {
              "value": "22",
              "label": "10 PM"
            },
            {
              "value": "23",
              "label": "11 PM"
            }
          ],
          "default": "0",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.start_hour.label"
        },
        {
          "type": "select",
          "id": "start_minute",
          "options": [
            {
              "value": "0",
              "label": "00"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "45",
              "label": "45"
            }
          ],
          "default": "0",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.start_minute.label"
        },
        {
          "type": "paragraph",
          "content": "t:sections.promotion-popup.blocks.countdown_timer.settings.schedule_end_time.content"
        },
        {
          "type": "number",
          "id": "end_year",
          "default": 2024,
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.end_year.label"
        },
        {
          "type": "select",
          "id": "end_month",
          "options": [
            {
              "value": "1",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__2.label"
            },
            {
              "value": "3",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__3.label"
            },
            {
              "value": "4",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__4.label"
            },
            {
              "value": "5",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__5.label"
            },
            {
              "value": "6",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__6.label"
            },
            {
              "value": "7",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__7.label"
            },
            {
              "value": "8",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__8.label"
            },
            {
              "value": "9",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__9.label"
            },
            {
              "value": "10",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__10.label"
            },
            {
              "value": "11",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__11.label"
            },
            {
              "value": "12",
              "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.month.options__12.label"
            }
          ],
          "default": "1",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.end_month.label"
        },
        {
          "type": "select",
          "id": "end_day",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            },
            {
              "value": "9",
              "label": "9"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            }
          ],
          "default": "1",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.end_day.label"
        },
        {
          "type": "select",
          "id": "end_hour",
          "options": [
            {
              "value": "0",
              "label": "12 AM"
            },
            {
              "value": "1",
              "label": "01 AM"
            },
            {
              "value": "2",
              "label": "02 AM"
            },
            {
              "value": "3",
              "label": "03 AM"
            },
            {
              "value": "4",
              "label": "04 AM"
            },
            {
              "value": "5",
              "label": "05 AM"
            },
            {
              "value": "6",
              "label": "06 AM"
            },
            {
              "value": "7",
              "label": "07 AM"
            },
            {
              "value": "8",
              "label": "08 AM"
            },
            {
              "value": "9",
              "label": "09 AM"
            },
            {
              "value": "10",
              "label": "10 AM"
            },
            {
              "value": "11",
              "label": "11 AM"
            },
            {
              "value": "12",
              "label": "12 PM"
            },
            {
              "value": "13",
              "label": "01 PM"
            },
            {
              "value": "14",
              "label": "02 PM"
            },
            {
              "value": "15",
              "label": "03 PM"
            },
            {
              "value": "16",
              "label": "04 PM"
            },
            {
              "value": "17",
              "label": "05 PM"
            },
            {
              "value": "18",
              "label": "06 PM"
            },
            {
              "value": "19",
              "label": "07 PM"
            },
            {
              "value": "20",
              "label": "08 PM"
            },
            {
              "value": "21",
              "label": "09 PM"
            },
            {
              "value": "22",
              "label": "10 PM"
            },
            {
              "value": "23",
              "label": "11 PM"
            }
          ],
          "default": "0",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.end_hour.label"
        },
        {
          "type": "select",
          "id": "end_minute",
          "options": [
            {
              "value": "0",
              "label": "00"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "45",
              "label": "45"
            }
          ],
          "default": "0",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.end_minute.label"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-popup.blocks.countdown_timer.settings.header.content"
        },
        {
          "type": "color",
          "id": "background_color",
          "default": "rgba(0,0,0,0)",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.background_color.label"
        },
        {
          "type": "color",
          "id": "time_color",
          "default": "#FB8500",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.time_color.label"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#999999",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.text_color.label"
        },
        {
          "type": "color",
          "id": "background_color_dark",
          "default": "rgba(0,0,0,0)",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.background_color_dark.label"
        },
        {
          "type": "color",
          "id": "time_color_dark",
          "default": "#FB8500",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.time_color_dark.label"
        },
        {
          "type": "color",
          "id": "text_color_dark",
          "default": "#FFFFFF",
          "label": "t:sections.promotion-popup.blocks.countdown_timer.settings.text_color_dark.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.promotion-popup.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.promotion-popup.blocks.heading.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "$10 off your first order",
          "label": "t:sections.promotion-popup.blocks.heading.settings.heading.label"
        },
        {
          "type": "color",
          "id": "heading_color",
          "default": "#000000",
          "label": "t:sections.promotion-popup.blocks.heading.settings.heading_color.label"
        },
        {
          "type": "color",
          "id": "heading_color_dark",
          "default": "#FFFFFF",
          "label": "t:sections.promotion-popup.blocks.heading.settings.heading_color_dark.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.promotion-popup.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Simply enter code coupon_code at checkout</p>",
          "label": "t:sections.promotion-popup.blocks.text.settings.text.label",
          "info": "t:sections.promotion-popup.blocks.text.settings.text.info"
        },
        {
          "type": "text",
          "id": "coupon_code",
          "default": "SIMPLY10",
          "label": "t:sections.promotion-popup.blocks.text.settings.coupon_code.label"
        },
        {
          "type": "color",
          "id": "coupon_color",
          "label": "t:sections.promotion-popup.blocks.text.settings.coupon_code.color_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "coupon_color_dark",
          "label": "t:sections.promotion-popup.blocks.text.settings.coupon_code.color_dark",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.promotion-popup.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "SHOP NOW",
          "label": "t:sections.promotion-popup.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.promotion-popup.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "t:sections.promotion-popup.blocks.button.settings.button_color.label",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:sections.promotion-popup.blocks.button.settings.button_text_color.label",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_color_dark",
          "label": "t:sections.promotion-popup.blocks.button.settings.button_color_dark.label",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_color_dark",
          "label": "t:sections.promotion-popup.blocks.button.settings.button_text_color_dark.label",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.promotion-popup.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "social-icons",
      "name": "t:sections.promotion-popup.blocks.social_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_on_mobile",
          "default": false,
          "label": "t:sections.promotion-popup.blocks.social_icons.settings.show_on_mobile.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.promotion-popup.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
