
{%- liquid
  assign heading_size = section.settings.heading_size | times: settings.heading_base_size | times: 0.000225

  assign products_to_show = section.settings.products_to_show | plus: 0
  assign columns_desktop = section.settings.columns_desktop | plus: 0
  assign columns_mobile = section.settings.columns_mobile | plus: 0
  assign enable_desktop_slider = section.settings.enable_carousel_desktop   
  assign swiper_on_mobile = section.settings.enable_swiper_mobile
  
  if search.results_count <= columns_desktop or products_to_show <= columns_desktop
    assign enable_desktop_slider = false
  endif
  if search.results_count <= columns_mobile or products_to_show <= columns_mobile
    assign swiper_on_mobile = false
  endif
  assign disable_quickview = true
  if section.settings.show_quickview
    assign disable_quickview = false
  endif 
-%}
{%- style -%}
  #shopify-section-{{ section.id }} {
    {% if section.settings.background_color_light != blank %}
      background: {{ section.settings.background_color_light }};
    {% else %}
      background: {{ settings.colors_background }};
    {% endif %}
  }
  .dark #shopify-section-{{ section.id }} {
    {% if section.settings.background_color_dark != blank %} 
      background: {{ section.settings.background_color_dark }}; 
    {% else %}
      background: {{ settings.colors_dark_background }};
    {% endif %}
  }
  .heading--{{ section.id }} {
    font-size: {{ heading_size | times: 0.6 }}rem; 
  }
  @media (min-width: 768px) {
    .heading--{{ section.id }} {
      font-size: {{ heading_size }}rem; 
    }
  }
{%- endstyle -%}

{% render 'section-divider' %}

<div 
  id="shopify-section-recently-viewed"
  x-show="$store.xProductRecently.show"
  x-cloak
  x-products-to-show="{{ products_to_show }}"
  x-init='$store.xProductRecently.showProductRecently(); $store.xProductRecently.getProductRecently("{{ section.id }}", "{{ product.id }}")'
  class="recently-viewed-products pb-[{{ section.settings.padding_bottom_mobile }}px] pt-[{{ section.settings.padding_top_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] md:pt-[{{ section.settings.padding_top }}px]"
>
  {% if section.settings.heading != blank or section.settings.enable_clear_history %}
    <div class="relative pl-5 pr-5 leading-tight mb-7 md:mb-8 mt-2{% if section.settings.full_width %} full-width{% else %} page-width{% endif %}">
      <{{ section.settings.heading_tag }} class="heading--{{ section.id }} h2 block text-{{ section.settings.heading_alignment }}">
        {{ section.settings.heading }}
      </{{ section.settings.heading_tag }}>
      {%- if section.settings.enable_clear_history -%}
        <div class="text-right">
          <button class="button-link effect-inline relative cursor-pointer hover:text-[rgba(var(--colors-text-link))] text-center mt-2" @click="$store.xProductRecently.clearStory()">
            {{ 'products.product.clear' | t }}
          </button>
        </div>
      {%- endif -%}
    </div>
  {% endif %}
  <div class="mx-auto{% if swiper_on_mobile %} carousel-mobile full-width-mobile{% endif %}{% if enable_desktop_slider %} carousel-tablet{% endif %}{% if section.settings.full_width %} full-width{% else %} page-width{% endif %}">
    <div id="x-recently-viewed-{{ section.id }}" class="{% if section.settings.heading != blank or section.settings.enable_clear_history %}mt-6{% endif %}{% if enable_desktop_slider or swiper_on_mobile %} overflow-hidden x-splide splide{% endif %}"
      {% if enable_desktop_slider or swiper_on_mobile %}
        x-data-slider="{{ section.id }}"
        x-intersect.once.margin.200px='$store.xSplide.load($el, {  
          "speed": 1000,
          "pagination": false,
          "mediaQuery": "min",
          "updateOnMove": "true",
          "progressBar": {{ columns_desktop }},
          {%- if settings.lang_direction contains request.locale.iso_code %} 
            "direction": "rtl",
          {%- endif %}
          "breakpoints": {
            300: {
              {% if swiper_on_mobile == false -%} 
                "destroy": true,
              {%- endif -%}
              "gap": "{{ section.settings.spacing_mobile }}px",
              "padding": 20,
              "perPage": {{ columns_mobile }},
              "perMove": {{ columns_mobile }}
            },
            768: {
              {% if enable_desktop_slider == false -%} 
                "destroy": true,
              {%- else -%}
                {% if columns_desktop == 5 %}
                  "perPage": 4,
                  "perMove": 4,
                {% else %}
                  "perPage": {{ columns_desktop }},
                  "perMove": {{ columns_desktop }},
                {% endif %}
                "gap": "{{ section.settings.spacing }}px",
                "destroy": false,
              {%- endif %}
            },
            {% if enable_desktop_slider -%} 
              1024: {
                "perPage": {{ columns_desktop }},
                "perMove": {{ columns_desktop }},
                "padding": 0
              }
            {%- endif %}
          },
          "classes": {
            "arrows": "splide__arrows block", 
          },
          "events": [
            {
              "event": "ready",
              "callback": () => {
                document.dispatchEvent(new CustomEvent("eurus:{{ section.id }}:splide-ready"));
              }
            }
          ]
        })'
      {% endif %}>
      {%- style -%}
        .gap-mobile-{{ section.id }} {
          gap: {{ section.settings.spacing_mobile }}px;
        }
        @media (min-width: 768px){
          .preload-slide--{{ section.id }} {
            {% if settings.lang_direction contains request.locale.iso_code %} 
              margin-left: {{ section.settings.spacing }}px;
            {% else %}
              margin-right: {{ section.settings.spacing }}px;
            {% endif %}
            width: calc(((100% + {{ section.settings.spacing }}px) / 4) - {{ section.settings.spacing }}px);
          }
          .gap-{{ section.id }} {
            {% if section.settings.enable_carousel_desktop %}
              gap: 0px;
            {% else %}
              gap: {{ section.settings.spacing }}px;
            {% endif %}
          }
        }
        @media (min-width: 1024px){
          .preload-slide--{{ section.id }} {
            width: calc(((100% + {{ section.settings.spacing }}px) / {{ columns_desktop }}) - {{ section.settings.spacing }}px);
          }
        }
      {%- endstyle -%}
      {%- if enable_desktop_slider and search.results_count > 0 -%}
        <div class="splide__arrows lg:inline-flex gap-2 hidden" x-show="$store.xProductRecently.show">
          <button class="splide__arrow splide__arrow--prev button-arrow hidden lg:block absolute top-1/2 -mt-6 p-4 rounded-full none_border z-10 w-12 h-12 after:text-[20px] rtl:right-0 rtl:-rotate-90 rtl:left-auto left-0 rotate-90 duration-200 opacity-60 hover:opacity-100 disabled:cursor-not-allowed transition-all ease-in-out lg:-translate-x-full rtl:lg:translate-x-full disabled:opacity-30" aria-label="previous slide">
            {% render 'icon-alls', icon: 'icon-caret' %}
          </button>
          <button class="splide__arrow splide__arrow--next button-arrow hidden lg:block absolute top-1/2 -mt-6 p-4 rounded-full none_border z-10 w-12 h-12 after:text-[20px] rtl:left-0 rtl:rotate-90 rtl:right-auto right-0 -rotate-90 duration-200 opacity-60 hover:opacity-100 disabled:cursor-not-allowed transition-all ease-in-out lg:translate-x-full rtl:lg:-translate-x-full disabled:opacity-30" aria-label="previous slide">
            {% render 'icon-alls', icon: 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
      <div class="splide__track{% if enable_desktop_slider %} md:cursor-grab{% endif %}">
        <div class="splide__list gap-{{ section.id }}{% if enable_desktop_slider %} md:flex md:gap-0{% else %}{% if section.settings.enable_carousel_desktop %} md:flex{% else %} md:grid {% if columns_desktop == 5 %} md:grid-cols-4{% else %} md:grid-cols-{{ columns_desktop }}{% endif %} lg:grid-cols-{{ section.settings.columns_desktop }}{% endif %}{% endif %}{% if swiper_on_mobile %} flex{% else %} gap-mobile-{{ section.id }} grid grid-cols-{{ section.settings.columns_mobile }}{% endif %}">
          {%- for item in search.results limit: products_to_show -%}
            {% liquid
              assign index_param = section.index | append: forloop.index | plus: 0 
            %}
            <div class="splide__slide x-splide-slide w-full{% if section.settings.enable_carousel_desktop %} preload-slide--{{ section.id }}{% endif %}">
              {% render 'card-product',
                card_product: item,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                lazy_load: true,
                columns_desktop: section.settings.columns_desktop,
                column_mobile: section.settings.columns_mobile | plus: 0,
                block_id: forloop.index,
                section_id: section.id,
                product_card_id: forloop.index,
                disable_quickview: disable_quickview,
                index_param: index_param
              %}
            </div>
          {%- endfor -%}
        </div>
      </div>
      {%- if enable_desktop_slider and search.results_count > 0 -%}
        <div
          x-show="$store.xProductRecently.show"
          class="hidden lg:flex items-center mt-5 gap-5 w-3/4 ml-auto mr-auto"
        >
          <div class="splide-progress inline-block grow">
            {% liquid
              assign my_float = columns_desktop | times: 1.0
              assign widthBar = my_float | divided_by: products_to_show 
              if search.results_count < products_to_show
                assign widthBar = my_float | divided_by: collection.all_products_count
              endif
            %} 
            <div class="splide-progress-bar" style="width: {{ widthBar | times: 100 }}%;"></div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
<script src="{{ 'recently-viewed.js' | asset_url }}" defer></script>
<script src="{{ 'preview-color-swatches.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "t:sections.recently-viewed-products.name",
  "tag": "section",
  "class": "section-recently-viewed x-section",
  "limit": 1,
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.recently-viewed-products.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Recently viewed products",
      "label": "t:sections.recently-viewed-products.settings.heading.label"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.text.heading_size",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "t:sections.featured-collection.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_clear_history",
      "default": true,
      "label": "t:sections.recently-viewed-products.settings.enable_clear_history.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.recently-viewed-products.settings.products_to_show.label"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "label": "t:sections.featured-product.settings.background_color_light.label"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "t:sections.featured-product.settings.background_color_dark.label"
    },
    {
      "type": "header",
      "content": "t:sections.recently-viewed-products.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.recently-viewed-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.recently-viewed-products.settings.show_rating.label",
      "info": "t:sections.recently-viewed-products.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_quickview",
      "default": true,
      "label": "t:sections.quick_view.show_quickview_button"
    },
    {
      "type": "header",
      "content": "t:sections.logo-list.settings.header_carousel.content"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel_desktop",
      "default": false,
      "label": "t:sections.recently-viewed-products.settings.enable_carousel_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_swiper_mobile",
      "default": false,
      "label": "t:sections.recently-viewed-products.settings.enable_swiper_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.recently-viewed-products.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.featured-product.settings.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 28,
      "label": "t:sections.all.spacing.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    },
    {
      "type": "header",
      "content": "t:sections.recently-viewed-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.recently-viewed-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.recently-viewed-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.recently-viewed-products.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "t:sections.featured-product.settings.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "spacing_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "label": "t:sections.all.spacing.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.recently-viewed-products.presets.name"
    }
  ]
}
{% endschema %}