{%- liquid 
  assign enable_slider = false
  if section.blocks.size > 1
    assign enable_slider = true
  endif
  assign block_first = section.blocks | first
  assign desktop_height = section.settings.desktop_height | append: "px"
  assign mobile_height = section.settings.mobile_height | append: "px"
  if section.settings.desktop_height == "fullscreen"
    assign desktop_height = "95vh"
  endif
  if section.settings.mobile_height == "fullscreen"
    assign mobile_height = "94vh"
  endif
  
-%}
{%- style -%}
  .mobile-{{ section.id }}-natural{
    {%- if block_first and block_first.settings.image_mobile != blank -%}
      height:0;
      padding-bottom: {{ 1 | divided_by: block_first.settings.image_mobile.aspect_ratio | times: 100 }}%;
    {%- else -%}
      height: 550px;
    {%- endif -%}
  }
  
  @media screen and (min-width: 768px){
    .desktop-{{ section.id }}-natural{
      {%- if block_first and block_first.settings.image != blank -%}
        height:0;
        padding-bottom: {{ 1 | divided_by: block_first.settings.image.aspect_ratio | times: 100 }}%;
      {%- else -%}
        height: 650px;
      {%- endif -%}
    }
  }
{%- endstyle -%}
<div class="pt-[{{ section.settings.padding_top_mobile }}px] md:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px]">
  <div
    id="x-slideshow-{{ section.id }}"
    class="{% if settings.lang_direction contains request.locale.iso_code and section.settings.transition_style == "fade" %}ltr {% endif %}splide-slideshow visible mx-auto{% if enable_slider %} x-splide splide cursor-grab group{% endif %}{% if section.settings.full_width %}{% if section.settings.padding_full_width %} md:pl-5 md:pr-5{% else %} md:pl-0 md:pr-0{% endif %}{% else %} page-width{% endif %}{% if section.settings.full_width_mobile %} full-width-mobile{% else %} pl-5 pr-5{% endif %}"
    {% if enable_slider %}
      x-intersect.once.margin.200px='$store.xSplide.load($el, {
        "speed": 1000, 
        "pauseOnHover": false,
        "pauseOnFocus": false,
        {%- if section.settings.transition_style == "fade" %}
          "rewind": true,
          "type": "fade",
        {%- else %}
          "type": "loop", 
        {%- endif %}
        {%- if section.settings.auto_play -%}
          "autoplay": true,
          "interval": {{ section.settings.change_slides_speed | times: 1000 }},
        {%- endif %}
        {%- if settings.lang_direction contains request.locale.iso_code %} 
          "direction": "rtl",
        {%- endif %}
        "classes": {
          {%- if section.settings.show_arrow -%}
            "arrows": "splide__arrows block",
          {%- else -%}
            "arrows": "splide__arrows hidden",
          {%- endif -%}
          {%- if section.settings.slider_visual != "none" %}
            "pagination": "{% if settings.lang_direction contains request.locale.iso_code %}rtl {% endif %}splide__pagination flex-nowrap absolute bottom-0 left-1/2 -translate-x-1/2 pagination-{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'dots' %} mb-2{% else %} mb-4{% endif %}",
            {% if section.settings.slider_visual == "dots" -%}
              "page": "button none_border flex items-center pt-3 pb-3 pl-3 pr-3"
            {%- else -%}
              "page": "{% if settings.lang_direction contains request.locale.iso_code %}pt-3 -rotate-180  {% endif %}button md:w-20 h-2.5 none_border w-14 relative pagination-bars:rounded-none ml-0.5 mr-0.5 bg-none before:absolute before:top-0 before:right-0 before:bottom-0 before:h-1 before:left-0 before:opacity-40 before:bg-image-treatment{% if section.settings.auto_play %} pagination-bars:after:absolute after:bg-white pagination-bars:after:top-0 after:right-0 pagination-bars:overflow-hidden pagination-bars:after:bottom-0 pagination-bars:after:left-0 pagination-bars:after:-translate-x-full pagination-bars:relative pagination-bars:is-active-pagination:after:h-1/2 pagination-bars:is-active-pagination pagination-bars:is-active-pagination:after:animate-shimmerX_{{ section.settings.change_slides_speed | append: 's' }}{% else %} pagination-bars:is-active-pagination:before:opacity-[99%]{% endif %}"
            {%- endif %}
          {% else %}
            "pagination": "hidden"
          {%- endif %}
        }
      })'
    {%- endif -%}
    >
    {%- liquid
      assign parent = " md:slideshow:h-[" | append: desktop_height | append: "] md:slideshow:pb-0"
      assign child = " md:slideshow:relative"
      if section.settings.desktop_height == "natural"
        assign parent = " desktop-" | append: section.id | append: "-natural"
        assign child = " md:absolute md:top-0 md:left-0 md:bottom-0"
      endif
      assign parent_mobile = " h-[" | append: mobile_height | append: "] md:h-auto"
      assign child_mobile = " relative"
      if section.settings.mobile_height == "natural"
        assign parent_mobile = " mobile-" | append: section.id | append: "-natural"
        assign child_mobile = " absolute top-0 left-0 bottom-0"
      endif
    -%}
    <div class="relative bg-[#c9c9c9]{% if enable_slider %} splide__track{% endif %} overflow-hidden{{ parent }}{{ parent_mobile }}{% if section.settings.rounded_corner_image %} md:rounded-[10px]{% else %} md:rounded-none{% endif %}{% if section.settings.rounded_corner_image_mobile %} rounded-[10px]{% endif %}">
      <div class="w-full h-full{% if enable_slider %} splide__list flex{% endif %}{{ child }}{{ child_mobile }}">
        {%- for block in section.blocks -%}
          {%- liquid
            assign heading_size = block.settings.heading_size | times: settings.heading_base_size | times: 0.000225 
            assign imageUrlMobile = block.settings.image
            if block.settings.image_mobile != blank
              assign imageUrlMobile = block.settings.image_mobile
            endif
          -%}
          {%- style -%}
            {%- unless block.settings.color_text.alpha == 0.0 -%}
              #shopify-section-{{ section.id }} .x-slideshow-{{ block.id }} {
                --image-treatment-text: {{ block.settings.color_text.red }}, {{ block.settings.color_text.green }}, {{ block.settings.color_text.blue }};
              }
            {%- endunless -%}

            .button--{{ block.id }}.button-solid,
            .button--{{ block.id }}.button-solid:before { 
              {%- unless block.settings.color_button.alpha == 0.0 -%}
                --colors-line-and-border: {{ block.settings.color_button.red }}, {{ block.settings.color_button.green }}, {{ block.settings.color_button.blue }};
                --colors-button: {{ block.settings.color_button.red }}, {{ block.settings.color_button.green }}, {{ block.settings.color_button.blue }};
              {%- else -%}
                --colors-line-and-border: var(--colors-button);
              {%- endunless -%}
              {%- unless block.settings.color_button_hover.alpha == 0.0 -%}
                --colors-button-hover: rgb({{ block.settings.color_button_hover.red }}, {{ block.settings.color_button_hover.green }}, {{ block.settings.color_button_hover.blue }});
              {%- endunless -%}
              {%- unless block.settings.color_text_button.alpha == 0.0 -%}
                --colors-button-text: {{ block.settings.color_text_button.red }}, {{ block.settings.color_text_button.green }}, {{ block.settings.color_text_button.blue }};
              {%- endunless -%}
              {%- unless block.settings.color_text_button_hover.alpha == 0.0 -%}
                --colors-button-text-hover: {{ block.settings.color_text_button_hover.red }}, {{ block.settings.color_text_button_hover.green }}, {{ block.settings.color_text_button_hover.blue }};
              {%- endunless -%}
            }
            .button--{{ block.id }}.button-outline {
              {%- if block.settings.secondary_button_text.alpha != 0.0 -%} 
                --colors-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }}; 
                --colors-line-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }}; 
                --background-secondary-button: transparent;
              {% endif %}
              {%- if block.settings.color_button_secondary.alpha != 0.0 -%} 
                --background-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }}; 
                --colors-line-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }}; 
              {% endif %}
            }
            {% if block.settings.colors_text_link.alpha != 0.0 %}
              .button--{{ block.id }}.button-text-link, .button--{{ block.id }}.button-text-link::after, .button--{{ block.id }}.button-text-link::before {
                --colors-text-link: {{ block.settings.colors_text_link.red }}, {{ block.settings.colors_text_link.green }}, {{ block.settings.colors_text_link.blue }};
              }
            {% endif %}
            {%- if block.settings.content_alignment == "custom" -%}
              .content--{{ block.id }}{
                left: {{ block.settings.custom_horizontal }}%;
                top: {{ block.settings.custom_vertical }}%;
                transform: translate(-{{ block.settings.custom_horizontal }}%,-{{ block.settings.custom_vertical }}%);
              }
            {%- endif -%}
            .heading--{{ block.id }} {
              font-size: {{ heading_size | times: 0.5 }}rem;
            }
            .sub-heading-{{ block.id }} {
              font-size: {{ heading_size | times: 0.3 }}rem;
            }
            .image-{{ block.id }} {
              object-position:{{ imageUrlMobile.presentation.focal_point }};
            }
            @media screen and (min-width: 768px) {
              .heading--{{ block.id }} {
                font-size: {{ heading_size }}rem;
              }
              .sub-heading-{{ block.id }} {
                font-size: {{ heading_size | times: 0.58 }}rem;
              }
              .image-{{ block.id }} {
                object-position:{{ block.settings.image.presentation.focal_point }};
              }
            }
          {%- endstyle -%}
          {% if section.settings.show_hero and forloop.first %}
            <div class="hidden">
              {%- if block.settings.image_mobile != blank -%}
                {{ imageUrlMobile | image_url: width: 1500 | image_tag: widths: '375, 450, 750, 900, 1100, 1500', preload: true, loading: 'lazy' }}
              {%- endif -%}
              {{ block.settings.image | image_url: width: 3840 | image_tag: widths: '750, 900, 1100, 1500, 1780, 2000, 3000, 3840', preload: true, loading: 'lazy' }}
            </div>
          {% endif %}
          <div x-slide-index="{{ forloop.index | minus: 1 }}" 
            class="x-slideshow-{{ block.id }}{% if settings.lang_direction contains request.locale.iso_code %} rtl{% endif %} h-full relative transition-opacity flex-shrink-0 w-full{% if enable_slider %} splide__slide x-splide-slide{% endif %}{% if section.settings.show_hero %} w-full{% endif %}"
            x-data="{effect: false}" 
            {% if section.settings.transition_style != "fade" or enable_slider == false %} 
              {%- if section.settings.full_width %} x-intersect:leave.margin.-40px="effect = false"{% else %} x-intersect:leave.margin.-20px.half.-20px.haft="effect = false"{% endif %}
              x-intersect.half="effect = true" 
            {% endif %} 
            {{ block.shopify_attributes }}
          >
            {% if section.settings.transition_style == "fade" and enable_slider %}
              <div x-intersect.half="effect = true" x-intersect:leave.margin.-20px="effect = false" class="absolute top-0 left-0 w-full h-full hidden active-slide-fade{% if forloop.first %} active-slide-fade-first{% endif %}">
              </div>
            {% endif %}
            <div class="h-full relative overflow-hidden">
              <span class="absolute top-0 left-0 bottom-0 right-0 z-10 image-treatment-overlay opacity-{{ block.settings.overlay_opacity }}"></span>
              <div :class="effect && 'active'" class="h-full w-full absolute top-0 left-0 z-0 animate_transition_slide__image">
                {%- if block.settings.image == blank -%}
                  <div class="w-full h-full text-[#acacac]{% if block.settings.image_mobile != blank %} hidden{% endif %} md:block mx-auto">
                    {{ 'lifestyle-2' | placeholder_svg_tag: 'w-full h-full' }}
                  </div>
                {%- else -%}
                  {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                  <parallax-image class="{% if block.settings.image_mobile != blank and request.design_mode %} hidden md:block{% endif %} h-full w-full">
                    <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                      <picture>
                        <source
                          srcset="{{ imageUrlMobile | image_url: width: 375 }} 375w,
                            {{ imageUrlMobile | image_url: width: 450 }} 450w,
                            {{ imageUrlMobile | image_url: width: 750 }} 750w,
                            {{ imageUrlMobile | image_url: width: 900 }} 900w,
                            {{ imageUrlMobile | image_url: width: 1100 }} 1100w,
                            {{ imageUrlMobile | image_url: width: 1500 }} 1500w"
                          media="(max-width: 767px)"
                          width="{{ imageUrlMobile.width }}"
                          height="{{ imageUrlMobile.height }}"
                        >
                        <img
                          srcset="{{ block.settings.image | image_url: width: 750 }} 750w,
                            {{ block.settings.image | image_url: width: 900 }} 900w,
                            {{ block.settings.image | image_url: width: 1100 }} 1100w,
                            {{ block.settings.image | image_url: width: 1500 }} 1500w,
                            {{ block.settings.image | image_url: width: 1780 }} 1780w,
                            {{ block.settings.image | image_url: width: 2000 }} 2000w,
                            {{ block.settings.image | image_url: width: 3000 }} 3000w,
                            {{ block.settings.image | image_url: width: 3840 }} 3840w"
                          {% unless section.settings.show_hero and forloop.first %}
                            loading="lazy"
                          {% else %}
                            loading="eager"
                            fetchpriority="high"
                            decoding="sync"
                          {% endunless %}
                          sizes="100vw"
                          src="{{ block.settings.image | image_url: width: 3840 }}"
                          {% if block.settings.image_mobile != blank %}
                            :alt="(screen.width < 768) ? '{{ block.settings.image_mobile.alt }}' : '{{ block.settings.image.alt }}'"
                          {% else %}
                            alt="{{ block.settings.image.alt | escape }}"
                          {% endif %}
                          class="object-cover h-full w-full image-{{ block.id }}"
                          width="{{ block.settings.image.width }}"
                          height="{{ block.settings.image.height }}"
                        >
                      </picture>
                    </parallax-movement>
                  </parallax-image>
                  {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                {%- endif %}
                {%- if block.settings.image_mobile != blank and request.design_mode or block.settings.image == blank -%}
                  {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                  <img
                    srcset="{{ block.settings.image_mobile | image_url: width: 375 }} 375w,
                    {{ block.settings.image_mobile | image_url: width: 450 }} 450w,
                    {{ block.settings.image_mobile | image_url: width: 750 }} 750w,
                    {{ block.settings.image_mobile | image_url: width: 900 }} 900w,
                    {{ block.settings.image_mobile | image_url: width: 1100 }} 1100w,
                    {{ block.settings.image_mobile | image_url: width: 1500 }} 1500w"
                    sizes="100vw"
                    src="{{ block.settings.image_mobile | image_url: width: 750 }}"
                    alt="{{ block.settings.image_mobile.alt | escape }}"
                    class="object-cover h-full w-full{% if block.settings.image_mobile != blank %} md:hidden{% endif %}"
                    {% unless section.settings.show_hero and forloop.first %}
                      loading="lazy"
                    {% else %}
                      loading="eager"
                      fetchpriority="high"
                      decoding="sync"
                    {% endunless %}
                    width="{{ block.settings.image_mobile.width }}"
                    height="{{ block.settings.image_mobile.height }}"
                    style="object-position: {{ block.settings.image_mobile.presentation.focal_point }}"
                  >  
                  {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                {%- endif %}
              </div>
            </div>
            {%- assign alignment = block.settings.content_alignment | split: '-' -%}
            <div class="hero-text pointer-events-none transition{% unless block.settings.content_alignment == "custom" %} page-width{% endunless %} absolute left-1/2 z-20 -translate-x-1/2 top-0 w-full h-full table">
              <div class="table-cell max-w-2xl md:min-w-[30rem] lg:w-3/5{% if block.settings.content_alignment == "custom" %} min-w-[90%] lg:min-w-[30rem] absolute content--{{ block.id }} text-{{ block.settings.alignment }} pl-5 pr-5{% else %} align-{{ alignment[0] }} text-{{ block.settings.alignment }}{% endif %}">
                <div :class="effect && 'active'" class="animate_transition_slide__box{% if block.settings.content_alignment contains 'center' %} xl:pl-5 xl:pr-5 mx-auto{% endif %}{% if block.settings.content_alignment != 'custom' %} max-w-2xl pt-5 pr-5 pl-5 float-{{ alignment[1] }}{% endif -%}{% if section.settings.slider_visual != "none" %} pb-10 lg:pb-12{% endif %}">
                  {%- if block.settings.subheading != blank -%}
                    <p class="sub-heading-{{ block.id }} leading-tight italic p-break-words image-treatment-text">{{ block.settings.subheading | escape }}</p>
                  {%- endif -%}
                  {%- if block.settings.heading != blank -%}
                    <{{ block.settings.heading_tag }} class="p-break-words heading--{{ block.id }} h2 block mt-1 leading-tight image-treatment-text">
                      {{ block.settings.heading | escape }}
                    </{{ block.settings.heading_tag }}>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="lg:mt-1 p-break-words pointer-events-auto rte image-treatment-text text-medium rte">
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                    <div class="mt-4 pointer-events-auto lg:mt-9 inline-flex flex-wrap gap-y-2 p-break-words gap-x-1{% if block.settings.content_alignment == 'custom' or block.settings.content_alignment contains 'center' %} justify-center{% else %} justify-{{ alignment[1] }}{% endif %}" {{ block.shopify_attributes }}>
                      {%- if block.settings.button_label_1 != blank -%}
                        <a{% if block.settings.button_link_1 %} href="{{ block.settings.button_link_1 }}"{% if block.settings.open_new_window_button %} target="_blank"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %} class="button button--{{ block.id }}{% if block.settings.show_button_style_1 == 'secondary' %} button-outline{% elsif block.settings.show_button_style_1 == 'text-link' %} button-text-link {% else %} button-solid{% endif %} border mt-0.5 mb-0.5 empty:hidden pl-6 pr-6 lg:pl-9 lg:pr-9 pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal{% unless block.settings.button_link_1 %} hover:cursor-not-allowed opacity-70{% endunless %}">
                          {% render 'button-label', button_label: block.settings.button_label_1, show_button_style: block.settings.show_button_style_1 %}
                        </a> 
                      {%- endif -%}
                      {%- if block.settings.button_label_2 != blank -%}
                        <a{% if block.settings.button_link_2 %} href="{{ block.settings.button_link_2 }}"{% if block.settings.open_new_window_button_2 %} target="_blank"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %} class="button button--{{ block.id }}{% if block.settings.show_button_style_2 == 'secondary' %} button-outline{% elsif block.settings.show_button_style_2 == 'text-link' %} button-text-link {% else %} button-solid{% endif %} border mt-0.5 mb-0.5 empty:hidden pl-6 pr-6 lg:pl-9 lg:pr-9 pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal{% unless block.settings.button_link_2 %} hover:cursor-not-allowed opacity-70{% endunless %}">
                          {% render 'button-label', button_label: block.settings.button_label_2, show_button_style: block.settings.show_button_style_2 %}
                        </a> 
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
            {% if block.settings.image_link != blank %}
              <a href="{{ block.settings.image_link }}"{% if block.settings.open_new_window_image %} target="_blank"{% endif %} 
                onclick="clevertap.event.push('Home_banner_click', {'Landing page URL': '{{ block.settings.image_link }}'})"
                class="absolute top-0 left-0 bottom-0 right-0 z-[19] opacity-0">{{ block.settings.image_link }}</a>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    </div>
    {%- if enable_slider and section.settings.show_arrow -%}
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev button-arrow hidden group-hover:lg:block absolute none_border z-10 w-12 h-12 rounded-full after:text-[20px] p-4 top-1/2 left-0 -translate-y-1/2 lg:left-8 duration-100 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed rotate-90" aria-label="previous slide">
          {% render 'icon-alls', icon: 'icon-caret' %}
        </button>
        <button class="splide__arrow splide__arrow--next button-arrow hidden group-hover:lg:block absolute none_border z-10 w-12 h-12 rounded-full after:text-[20px] p-4 top-1/2 right-0 -translate-y-1/2 lg:right-8 duration-100 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed -rotate-90" aria-label="next slide">
          {% render 'icon-alls', icon: 'icon-caret' %}
        </button>
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section section-slideshow",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_hero",
      "label": "t:sections.slideshow.settings.show_hero.label",
      "info": "t:sections.slideshow.settings.show_hero.info"
    },
    {
      "type": "header",
      "content": "t:sections.logo-list.settings.header_carousel.content"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:sections.slideshow.settings.auto_play.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "t:sections.slideshow.settings.show_arrow.label",
      "default": true,
      "info": "t:sections.slideshow.settings.show_arrow.info"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "none",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "bars",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        }
      ],
      "default": "bars",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },
    {
      "type": "select",
      "id": "transition_style",
      "options": [
        {
          "value": "default",
          "label": "t:sections.slideshow.settings.transition_style.options__1.label"
        },
        {
          "value": "fade",
          "label": "t:sections.slideshow.settings.transition_style.options__2.label"
        }
      ],
      "default": "fade",
      "label": "t:sections.slideshow.settings.transition_style.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.text-column-image.settings.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "padding_full_width",
      "default": false,
      "label": "t:sections.all.padding.padding_full_width.label",
      "info": "t:sections.all.padding.padding_full_width.info"
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_image",
      "default": false,
      "label": "t:sections.promotion-grid.blocks.promotion.settings.rounded_corner_image.label"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "450",
          "label": "t:sections.slideshow.settings.desktop_height.options__1.label"
        },
        {
          "value": "550",
          "label": "t:sections.slideshow.settings.desktop_height.options__2.label"
        },
        {
          "value": "650",
          "label": "t:sections.slideshow.settings.desktop_height.options__3.label"
        },
        {
          "value": "750",
          "label": "t:sections.slideshow.settings.desktop_height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.slideshow.settings.desktop_height.options__5.label"
        },
        {
          "value": "fullscreen",
          "label": "t:sections.slideshow.settings.desktop_height.options__6.label"
        }
      ],
      "default": "750",
      "label": "t:sections.slideshow.settings.desktop_height.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 0,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": true,
      "label": "t:sections.text-column-image.settings.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_image_mobile",
      "default": false,
      "label": "t:sections.promotion-grid.blocks.promotion.settings.rounded_corner_image.label"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "250",
          "label": "t:sections.slideshow.settings.mobile_height.options__1.label"
        },
        {
          "value": "300",
          "label": "t:sections.slideshow.settings.mobile_height.options__2.label"
        },
        {
          "value": "400",
          "label": "t:sections.slideshow.settings.mobile_height.options__3.label"
        },
        {
          "value": "500",
          "label": "t:sections.slideshow.settings.mobile_height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.slideshow.settings.mobile_height.options__5.label"
        },
        {
          "value": "fullscreen",
          "label": "t:sections.slideshow.settings.mobile_height.options__6.label"
        }
      ],
      "default": "500",
      "label": "t:sections.slideshow.settings.mobile_height.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 0,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.all.padding.padding_bottom"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label",
          "info": "t:sections.all.image.note_image_size"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.slideshow.blocks.slide.settings.image_mobile.label",
          "info": "t:sections.all.image.note_image_size"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.mobile-navigation.blocks.image_link.name"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_image",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.overlay_opacity.label",
          "default": 0
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Slide title",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 50,
          "max": 200,
          "unit": "%",
          "step": 10,
          "default": 170,
          "label": "t:sections.all.text.heading_size"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "default": "h2",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Tell your brand's story through images</p>",
          "label": "t:sections.slideshow.blocks.slide.settings.text.label"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label_1.label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.slideshow.blocks.slide.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style_1",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:sections.all.button.button_style.text_link"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label_2.label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.slideshow.blocks.slide.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button_2",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style_2",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:sections.all.button.button_style.text_link"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__9.label"
            },
            {
              "value": "custom",
              "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.options__10.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.slideshow.blocks.slide.settings.content_alignment.label"
        },
        {
          "type": "range",
          "id": "custom_horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "t:sections.slideshow.blocks.slide.settings.custom_horizontal.label",
          "info": "t:sections.slideshow.blocks.slide.settings.custom_horizontal.info"
        },
        {
          "type": "range",
          "id": "custom_vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "t:sections.slideshow.blocks.slide.settings.custom_vertical.label",
          "info": "t:sections.slideshow.blocks.slide.settings.custom_vertical.info"
        },
        {
          "type": "select",
          "id": "alignment",
          "default": "center",
          "label": "t:sections.all.content_alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.all.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.all.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.all.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.header.content"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:sections.all.text.color_text",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "t:sections.all.button.color_button",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_text_button",
          "label": "t:sections.all.button.color_text_button",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "label": "t:sections.all.button.color_button_hover",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_text_button_hover",
          "label": "t:sections.all.button.color_text_button_hover",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_button_secondary",
          "label": "t:sections.all.button.colors_button_secondary",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_text",
          "default": "rgba(0,0,0,0)",
          "label": "t:sections.all.button.secondary_button_text"
        },
        {
          "type": "color",
          "id": "colors_text_link",
          "default": "rgba(0,0,0,0)",
          "label": "t:settings_schema.colors.colors_text_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}